<ion-view view-title="{{'DASHBOARD' |translate}}">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-icon" ng-click="showFilters()">
            <i class="fa fa-filter" style="font-size: 25px;color:white"></i>
        </button>

    </ion-nav-buttons>
    <ion-content>

        <leaflet id='map' center="center" defaults="defaults" markers="markers"
                 ng-style="{'height':(deviceHeight-40)+'px'}" width="100%" layers="layers"></leaflet>
        <div class="button button-small" style="position: absolute;top: 16px;right: 8px;padding: 2px" ng-click="showMeOnMap()">
            <i class="ion-android-locate" style="font-size: 25px;vertical-align: middle;"></i>
        </div>
        <div class="item no-border no-padding no-margin center" ng-if="showFilter" style="position: absolute;bottom:0;width: 100%;background:none;">
            <div class="button button-small" style="color:white;background: #4E5C6E;border:none;border-radius: 0" ng-click="showFilters()">
                <i class="fa fa-angle-double-down" style="font-size: 25px;"></i>
            </div>
            <div class="row no-padding " style="background-color: #4E5C6E;">
                <div class="col">
                    <input class="edit-input-txt"  type="text" style="width: 100%;background-color: rgba(97,137,197,.9) !important;" ng-model="filter.crop" placeholder="{{'CROPS' | translate}}"/>
                </div>
            </div>
            <div class="row no-padding " style="background-color: #4E5C6E;" >
                <div class="col">
                    <select style="width: 100%;background: rgba(97,137,197,.9) !important;" ng-model="filter.gender">
                        <option value="" disabled selected>{{'SELECT_GENDER'| translate}}</option>
                        <option value="m">{{'MALE' | translate }}</option>
                        <option value="f">{{'FEMALE' | translate }}</option>
                    </select>
                </div>
                <div class="col right">
                    <button class="button " style="background-color: white;min-height: 38px;line-height: 38px;"
                            ng-click="resetFilter()">
                        {{'RESET' | translate}}
                    </button>
                    <button class="button "
                            style="background-color: rgb(51, 205, 95);min-height: 38px;line-height: 38px;color:white"
                            ng-click="applyFilter()">
                        {{'FILTER' | translate}}
                    </button>
                </div>
            </div>
        </div>
        <!--<div id="map" ng-style="{'height':(deviceHeight-96)+'px'}" width="100%"></div>-->
    </ion-content>
</ion-view>
