<style>
    .popup-head{
        padding:0px;
        height:0px;
        border:none;
    }
    .popup-body{
        padding:0px;
    }
</style>
<div class="item no-border no-padding no-margin center" ng-if="showFilter" style=";width: 100%;background-color: #4E5C6E;">
    <!--<div class="row no-padding">-->
        <!--<div class="col no-padding">-->
            <!--<div class="button button-small" style="color:white;background: #4E5C6E;border:none;border-radius: 0" ng-click="hideFilter()">-->
                <!--<i class="fa fa-angle-double-down" style="font-size: 25px;"></i>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="row  " style="background-color: #4E5C6E;">
        <div class="col">
            <!--<input class="edit-input-txt"  type="text" style="width: 100%;background-color: rgba(97,137,197,.9) !important;" ng-model="filter.crop" placeholder="{{'PRODUCT' | translate}}"/>-->
            <select style="width: 100%;" ng-model="filter.crop" ng-required="true" name="crop">
                <option selected disabled value="">{{'SELECT_PRODUCT' | translate}}</option>
                <option ng-repeat="obj in productList | orderBy:'H3Description'" value="{{obj.H3Description}}">{{obj.H3Description}}</option>
            </select>
        </div>
    </div>
    <div class="row  " style="background-color: #4E5C6E;" >
        <div class="col">
            <select style="width: 100%;background: rgba(97,137,197,.9) !important;" ng-model="filter.gender">
                <option value="" disabled selected>{{'SELECT_GENDER'| translate}}</option>
                <option value="m">{{'MALE' | translate }}</option>
                <option value="f">{{'FEMALE' | translate }}</option>
            </select>
        </div>
    </div>
    <div class="row ">

        <div class="col">
            <button class="button  " style="background-color: white;min-height: 38px;line-height: 38px;"
                    ng-click="resetFilter()">
                {{'RESET' | translate}}
            </button>
            <button class="button lgt-blue-btn"
                    style="background-color: rgb(51, 205, 95);min-height: 38px;line-height: 38px;color:white"
                    ng-click="applyFilter()">
                {{'FILTER' | translate}}
            </button>
        </div>
    </div>
</div>