<ion-content scroll="false" >
    <div style="height: 100%;width:100%;background: url(../../assets/img/background_img.png) no-repeat;background-size: 100% 100%">
       <!--<img src="../../assets/img/background_img.png" style="position:absolute;height: 100%;width: 100%;">-->
         <div style="text-align: center;width: inherit;height: auto;padding-top:120px" >
             <img src="../../assets/img/logo_big.png" style="height: 150px;width: 150px;"/>
             <h2 style="color: white;font-weight: bold;margin-top:0">bluenumber</h2>
         </div>
        <div class="row" style="margin-top:85px">
            <div class="col col-center" style="text-align: center">
                <div class="button" style="width: 120px;background-color: rgba(97,137,197,.6);color:white;font-weight: bold;" ng-click="openLogin()">
                    LogIn
                </div>
                &nbsp;&nbsp;&nbsp;
                <div class="button" style="width: 120px;border:1px rgba(255,255,255,0.5) solid;color: white;background: transparent;font-weight: bold;" ng-click="openRegistration()">
                    Sign Up
                </div>
            </div>
        </div>
    </div>
</ion-content>
