<form name="addGroupForm">
    <ion-content scroll="true" class="blueno-bg-full has-footer" ng-class="{'has-header':isFromSetting}">
        <div class="center" style=";width: inherit;height: auto;padding-top:15px"  ng-if="!isFromSetting">
            <h3 style="color: #ffffff;">
                <i class="ion-person-stalker"></i>&nbsp;{{'ADD_GROUP' | translate }}
                <!--<span style="color:white; font-size: 18px">({{'OPTIONAL' | translate}}) </span>-->
            </h3>
        </div>

        <div ng-cloak class="list" ng-style="{'height':(deviceHeight-96)+'px'}" style="overflow: scroll;width: 100%;padding: 0;">
            <div class="item no-border" style="background: transparent;padding: 0px 10px 0px 10px;" >
                <div class=" wrap-content" style="color: bisque;font-size: 14px;">
                   {{'OPTIONAL_INFO_ALERT'| translate}}
                </div>
            </div>
            <label class="item item-input item-stacked-label no-border label-padding" >
                    <span class="input-label label-text "  style="color:white">{{'NAME' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                <input type="text" ng-required="true" name="groupName" ng-model="data.groupName"  class="edit-input-txt"  />
            </label>
            <label class="item item-input item-stacked-label no-border label-padding" >
                    <span class="input-label label-text "  style="color:white">{{'GROUP_TYPE' | translate }}
                        <!--<span class="assertive " style="font-size: inherit">* </span>-->
                    </span>
                <select style="width: 100%" ng-required="true" ng-model="data.groupType">
                    <option ng-repeat="obj in groupsType" value="{{obj.name}}">{{obj.name}}</option>
                </select>
            </label>
            <label class="item item-input item-stacked-label no-border label-padding" >
                    <span class="input-label label-text "  style="color:white">{{'DESCRIPTION' | translate }}
                        <!--<span class="assertive " style="font-size: inherit">* </span>-->
                    </span>
                <textarea  rows="4" style="background-color: rgba(97, 137, 197, .7) !important;font-size: 16px;padding: 10px;;color:white"  name="groupDescription" ng-model="group.description"  class=""  ></textarea>
            </label>

            <!--<label class="item item-input item-stacked-label no-border label-padding" >-->
                    <!--<span class="input-label label-text "  style="color:white">{{'RELATIONSHIP' | translate }}-->
                        <!--&lt;!&ndash;<span class="assertive " style="font-size: inherit">* </span>&ndash;&gt;-->
                    <!--</span>-->
                <!--<select style="width: 100%" ng-required="true" ng-model="data.groupRelationship">-->
                    <!--<option value="Owner" >{{'OWNER' | translate }}</option>-->
                    <!--<option value="Employee" >{{'EMPLOYEE' | translate }}</option>-->
                    <!--<option value="Buyer" >{{'BUYER' | translate }}</option>-->
                    <!--<option value="Seller" >{{'SELLER' | translate }}</option>-->
                <!--</select>-->
            <!--</label>-->


            <!--<label class="item item-input item-stacked-label no-border label-padding" >-->
                <!--<span class="input-label label-text "  style="color:white">{{'LOCATION' | translate }}-->
                    <!--&lt;!&ndash;<span class="assertive " style="font-size: inherit">* </span>&ndash;&gt;-->
                <!--</span>-->
                <!--<select style="width: 100%" ng-model="data.groupLocation" ng-required="true" ng-change="updateLocationFields(data.groupLocation)">-->
                    <!--<option ng-repeat="obj in myLocations" value="{{obj}}">{{obj.LocationType+"("+obj.LocationName+")"}}</option>-->
                    <!--<option value="current">{{'MY_CURRENT_LOCATION'|translate}}</option>-->
                    <!--<option value="manual">{{'ENTER_ADDRESS'|translate}}</option>-->
                <!--</select>-->
            <!--</label>-->


            <label class="item item-input item-stacked-label no-border label-padding" ng-if="enableAddressFields">
                <span class="input-label label-text "  style="color:white">{{'ADDRESS' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                <input class="edit-input-txt" ng-model="location.address" name="address" ng-required="true"  type="text"/>
            </label>

            <label class="item item-input item-stacked-label no-border label-padding" ng-if="enableAddressFields">
                <span class="input-label label-text "  style="color:white">{{'CITY' | translate }}
                    <!--<span class="assertive " style="font-size: inherit">* </span>-->
                </span>
                <input class="edit-input-txt" ng-model="location.city" name="city"   type="text"/>
            </label>

            <label class="item item-input item-stacked-label no-border label-padding" ng-if="enableAddressFields">
                <span class="input-label label-text "  style="color:white">{{'COUNTRY' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>

                    <select style="width: 100%" ng-model="location.country_code" ng-required="true"  ng-change="changeSubdivision(location.country_code)">
                    <option
                            ng-selected="obj.CountryCode == addressDataFromCoordinate.userCountry.CountryCode"
                            ng-repeat="obj in countryCodeList" value="{{ obj.CountryCode }}">{{obj.CountryName}}</option>
                </select>
            </label>

            <label class="item item-input item-stacked-label no-border label-padding" ng-if="enableAddressFields">
                <span class="input-label label-text "  style="color:white">{{'STATE' | translate }}
                    <span class="assertive " style="font-size: inherit">{{subDivList.length!=0?"*":""}} </span>
                </span>
                <select style="width: 100%" ng-model="location.subdivision_code" >
                    <option
                            ng-selected="obj.SubdivisionName == addressDataFromCoordinate.userState.SubdivisionName"
                            ng-repeat="obj in subDivList" value="{{ obj.SubdivisionCode }}">{{obj.SubdivisionName}}</option>
                </select>
            </label>
            <label class="item item-input item-stacked-label no-border label-padding" ng-if="enableAddressFields">
                <span class="input-label label-text "  style="color:white">{{'LATITUDE' | translate }}
                    <!--<span class="assertive " style="font-size: inherit">* </span>-->
                </span>
                <input class="edit-input-txt" ng-model="location.latitude" name="latitude"   type="number"/>
            </label>

            <label class="item item-input item-stacked-label no-border label-padding" ng-if="enableAddressFields">
                <span class="input-label label-text "  style="color:white">{{'LONGITUDE' | translate }}
                    <!--<span class="assertive " style="font-size: inherit">* </span>-->
                </span>
                <input class="edit-input-txt" ng-model="location.longitude" name="longitude"   type="number"/>
            </label>

        </div>
    </ion-content>
    <ion-footer-bar  class="text-center bar-stable blue-bg" style="border:none;padding:0 !important;" >
        <div  class="button-bar">
            <button class="button no-border lgt-blue-btn button-small" type="submit" ng-if="!isFromSetting"  ng-click="skipToInviteFamily()" style="font-size: 20px;">
                {{'SKIP' | translate }} &nbsp;
            </button>
            <button ng-if="isFromSetting" ng-disabled="addGroupForm.$invalid" class="button no-border lgt-blue-btn button-small" type="submit"  ng-click="createAndUpdateGroup()" style="font-size: 20px;">
                {{'CREATE' | translate }}
            </button>
            <button ng-if="!isFromSetting" ng-disabled="addGroupForm.$invalid" class="button no-border lgt-blue-btn button-small" type="submit"  ng-click="goToInviteFamily()" style="font-size: 20px;">
                {{'NEXT' | translate }} &nbsp;<i class=" ion-arrow-right-b" style="font-size: 20px;"></i>
            </button>

        </div>
    </ion-footer-bar>
</form>

