<form name="addressForm">
    <ion-content scroll="true" class="blueno-bg has-footer">
        <div class="center" style="width: inherit;height: auto;padding-top:15px" >
            <h3 style="color: #ffffff;">
                <i class="ion-home"></i>&nbsp; {{'ADD_HOME' | translate }}
                <!--<span style="color:white; font-size: 18px">({{'OPTIONAL' | translate}}) </span>-->
            </h3>
        </div>
        <div class="list" ng-style="{'height':(deviceHeight-96)+'px'}" style="overflow: scroll;width: 100%;padding: 0;">
            <div class="item no-border" style="background: transparent;padding: 0px 10px 0px 10px;" >
                <div class=" wrap-content" style="color: bisque;font-size: 14px;">
                    {{'OPTIONAL_INFO_ALERT'| translate}}
                </div>
            </div>
            <!--Newly added field which make user to enter manual address-->
            <label class="item item-input item-stacked-label no-border label-padding">
                <span class="input-label label-text "  style="color:white">{{'LOCATION_WHERE' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                <select name="location-where" style="width: 100%" ng-model="locationWay" ng-required="true"  ng-change="updateLocationFields(locationWay)">
                   <option value="current">{{'MY_CURRENT_LOCATION'|translate}}</option>
                   <option value="manual">{{'ENTER_ADDRESS'|translate}}</option>
                </select>
            </label>


            <label class="item item-input item-stacked-label no-border label-padding" ng-if="enableAddressFields">
                <span class="input-label label-text "  style="color:white">{{'ADDRESS' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                <input class="edit-input-txt" ng-model="home.address" name="address" ng-required="true"  type="text"/>
            </label>

            <label class="item item-input item-stacked-label no-border label-padding" ng-if="enableAddressFields">
                <span class="input-label label-text "  style="color:white">{{'CITY' | translate }}
                    <!--<span class="assertive " style="font-size: inherit">* </span>-->
                </span>
                <input class="edit-input-txt" ng-model="home.city" name="city"   type="text"/>
            </label>

            <label class="item item-input item-stacked-label no-border label-padding" ng-if="enableAddressFields">
                <span class="input-label label-text "  style="color:white">{{'COUNTRY' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>

                    <select style="width: 100%" ng-model="data.homeCountry" ng-required="true"  ng-change="changeSubdivision(data.homeCountry)">
                    <option
                            ng-selected="obj.CountryCode == addressDataFromCoordinate.userCountry.CountryCode"
                            ng-repeat="obj in countryCodeList" value="{{ obj.CountryCode }}">{{obj.CountryName}}</option>
                </select>
            </label>

            <label class="item item-input item-stacked-label no-border label-padding" ng-if="enableAddressFields">
                <span class="input-label label-text "  style="color:white">{{'STATE' | translate }}
                    <span class="assertive " style="font-size: inherit">{{subDivList.length!=0?"*":""}} </span>
                </span>
                <select style="width: 100%" ng-model="data.state" >
                    <option
                            ng-selected="obj.SubdivisionName == addressDataFromCoordinate.userState.SubdivisionName"
                            ng-repeat="obj in subDivList" value="{{ obj.SubdivisionCode }}">{{obj.SubdivisionName}}</option>
                </select>
            </label>
            <!--<label class="item item-input item-stacked-label no-border label-padding" ng-if="enableAddressFields">-->
                <!--<span class="input-label label-text "  style="color:white">{{'LATITUDE' | translate }}-->
                    <!--&lt;!&ndash;<span class="assertive " style="font-size: inherit">* </span>&ndash;&gt;-->
                <!--</span>-->
                <!--<input class="edit-input-txt" ng-model="home.latitude" name="latitude"   type="number"/>-->
            <!--</label>-->

            <!--<label class="item item-input item-stacked-label no-border label-padding" ng-if="enableAddressFields">-->
                <!--<span class="input-label label-text "  style="color:white">{{'LONGITUDE' | translate }}-->
                    <!--&lt;!&ndash;<span class="assertive " style="font-size: inherit">* </span>&ndash;&gt;-->
                <!--</span>-->
                <!--<input class="edit-input-txt" ng-model="home.longitude" name="longitude"   type="text"/>-->
            <!--</label>-->

        </div>
    </ion-content>
    <ion-footer-bar  class="text-center bar-stable blue-bg" style="background: transparent !important;border:none;padding:0px !important;" >
        <div  class="button-bar">
            <button  class="button no-border lgt-blue-btn button-small" type="submit"  ng-click="skipToWork()" style="font-size: 20px;">
                {{'SKIP' | translate }} &nbsp;
            </button>
            <button ng-disabled="addressForm.$invalid" class="button no-border lgt-blue-btn button-small" type="submit"  ng-click="goToWork()" style="font-size: 20px;">
                {{'NEXT' | translate }} &nbsp;<i class=" ion-arrow-right-b" style="font-size: 20px;"></i>
            </button>

        </div>
    </ion-footer-bar>
</form>