
    <ion-header-bar align-title="center" class="" style="background-color:#3A5997 !important;">
        <div class="buttons">
            <button class="button button-clear" style="font-size: 30px;color:white" ng-click="goBack()">
                <i class="ion-android-arrow-back"></i>
            </button>
        </div>
        <h1 class="title">{{'ADD_HOME' | translate }}</h1>
    </ion-header-bar>
    <form name="addressForm" ng-submit="goToSelectUserOccupation()">
    <ion-content scroll="true" class="blueno-bg-full has-header has-footer ">

        <div class="center" style=";width: inherit;height: auto;padding-top:15px">
            <!--<h3 style="color: #ffffff;">{{'CREATE_AN_ACCOUNT' | translate }}</h3>-->
            <span style="color: rgba(0,0,0,.6) ; font-size: 14px;">
                (&nbsp;<span style="color:rgba(239,71,58,.8);font-size: 12px;" class="ion-asterisk"></span>
                <span style="color: rgba(0,0,0,.6);">&nbsp;{{'DENOTES_REQUIRED_FIELDS' | translate}}</span>&nbsp;)
            </span>
        </div>
        <div class="list" ng-style="{'height':(deviceHeight-96)+'px'}" style="overflow: scroll;width: 100%;padding: 0;">
            <!--Newly added field which make user to enter manual address-->
            <label class="item item-input item-stacked-label no-border label-padding" >
                <span class="input-label label-text " >{{'COUNTRY' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                <input ion-autocomplete type="text"
                       template-url="components/menu/views/autoCompleteDrop.html"
                       readonly="readonly"
                       component-id="component1"
                       autocomplete="off"
                       select-items-label="{{'SELECT_COUNTRY' | translate}}"
                       item-method-value-key="countryCodeList"
                       items-method="getUpdatedCountryList(query)"
                       item-view-value-key="CountryName"
                       ng-model="data.homeCountry"
                       max-selected-items="1"
                       cancel-label="{{'CANCEL' | translate }}"
                       style="padding-left: 11px;display: block;height: 40px !important;outline: none;color:#3A5997;border: none;border-bottom:1px solid grey; border-radius: 0px; font-size: 18px !important;"
                       placeholder="{{'SEARCH_COUNTRY' | translate }}"
                       items-clicked-method="changeSubdivision(data.homeCountry.CountryCode)"/>

                <!-- <select style="width: 100%" ng-model="data.homeCountry" ng-required="true" name="country"  ng-change="changeSubdivision(data.homeCountry)">
                    <option value="" disabled selected>{{'SELECT_COUNTRY' | translate}}</option>
                    <option
                        ng-selected="obj.CountryCode == addressDataFromCoordinate.userCountry.CountryCode"
                        ng-repeat="obj in countryCodeList" value="{{ obj.CountryCode }}">{{obj.CountryName}}</option>
                </select> -->
            </label>

            <label class="item item-input item-stacked-label no-border label-padding" >
                <span class="input-label label-text " >{{'STATE' | translate }}
                    <span class="assertive " style="font-size: inherit">{{subDivList.length!=0?"*":""}} </span>
                </span>
                <!-- <select style="width: 100%" ng-model="data.state"  ng-required="true" name="state">
                    <option value="" disabled selected>{{'SELECT_STATE' | translate}}</option>
                    <option
                            ng-selected="obj.SubdivisionName == addressDataFromCoordinate.userState.SubdivisionName"
                            ng-repeat="obj in subDivList" value="{{ obj.SubdivisionCode }}">{{obj.SubdivisionName}}</option>
                </select> -->
                <input ion-autocomplete type="text"
                       template-url="components/menu/views/autoCompleteDrop.html"
                       readonly="readonly"
                       autocomplete="off"
                       component-id="component2"
                       select-items-label="{{'SELECT_STATE' | translate}}"
                       item-method-value-key="subDivList"
                       items-method="getUpdatedStateList(query)"
                       item-view-value-key="SubdivisionName"
                       ng-model="data.state"
                       max-selected-items="1"
                       cancel-label="{{'CANCEL' | translate }}"
                       style="padding-left: 11px;display: block;height: 40px !important;outline: none;color:#3A5997;border: none;border-bottom:1px solid grey;border-radius: 0px;font-size: 18px !important;"
                       placeholder="{{'SEARCH_STATE' | translate }}"
                   />
            </label>

            <label class="item item-input item-stacked-label no-border label-padding" >
                <span class="input-label label-text "  >{{'CITY' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                <input class="edit-input-txt" ng-model="home.city" name="city" ng-required="true" ng-pattern="/^[a-zA-Z\s]*$/"  type="text"/>
                <span class="assertive validation-font wrap-content" ng-show="addressForm.city.$error.pattern && !addressForm.city.$pristine">
                  {{'INVALID' | translate}} &nbsp;{{'CITY' | translate}}
                </span>
                <span class="assertive validation-font wrap-content" ng-show="addressForm.city.$error.required && !addressForm.city.$pristine">
                   {{'REQUIRED' | translate}}
                </span>

            </label>

            <label class="item item-input item-stacked-label no-border label-padding" >
                <span class="input-label label-text "  >{{'POSTAL' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                <input class="edit-input-txt" ng-model="home.postalcode" name="postalcode" ng-required="true"  type="text" ng-pattern="/^[0-9]+$/" />
                <span class="assertive validation-font wrap-content" ng-show="addressForm.postalcode.$error.pattern && !addressForm.postalcode.$pristine">
                    {{'INVALID' | translate}} &nbsp;{{'POSTAL' | translate}}
                </span>
                <span class="assertive validation-font wrap-content" ng-show="addressForm.postalcode.$error.required && !addressForm.postalcode.$pristine">
                   {{'REQUIRED' | translate}}
                </span>

            </label>
            <label class="item item-input item-stacked-label no-border label-padding" >
                <span class="input-label label-text " >{{'ADDRESS' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                <input class="edit-input-txt"  ng-model="home.address" name="address" ng-required="true"  type="text"/>
                <span class="assertive validation-font wrap-content" ng-show="addressForm.address.$error.required && !addressForm.address.$pristine">
                   {{'REQUIRED' | translate}}
                </span>
            </label>
        </div>
    </ion-content>
    <ion-footer-bar  class="text-center bar-stable blue-bg no-border"  >
        <div  class="button-bar">
            <!--<button  class="button button-light button-clear bold" type="submit"  ng-click="skipToWork()" >-->
                <!--{{'SKIP' | translate }} &nbsp;-->
            <!--</button>-->
            <button ng-disabled="addressForm.$invalid" class="button button-light button-clear bold" type="submit"  >
                {{'NEXT' | translate }} &nbsp;

            </button>

        </div>
    </ion-footer-bar>
</form>
