<ion-modal-view  >
    <form name="confirmAccountForm">
        <ion-content scroll="true" class="blueno-bg-full">
            <div class="center" style="width: inherit;height: auto;padding-top:15px"  >
                <h3 style="color: #ffffff;">
                    <!--<i class="ion-checkmark"></i>&nbsp;-->
                    {{'CONFIRM_YOUR_ACCOUNT_TITLE' | translate }}
                </h3>
                <span style="color:white ; font-size: 20px;">(<span style="color:rgba(239,71,58,.8);font-size: 24px;vertical-align: middle;">*</span><span style="color:white;font-size: initial">&nbsp;{{'DENOTES_REQUIRED_FIELDS' | translate}}</span>)</span>
            </div>
            <div style="margin-top: 50px;">
            <p ng-if="!isFromLogin&&!isNewCodeRequested"  style="font-size: 20px;padding: 0px 40px;color: white;line-height: 30px;
    text-align: center;">{{'THANK_YOU' | translate}}</p>
            <p ng-if="(isFromLogin&&!indirect) || !isFromLogin"  style="font-size: 20px;padding: 0px 40px;color: white;line-height: 30px;
    text-align: center;">{{'CONFIRM_CODE_SENT' | translate}}&nbsp;{{userMobDetail.country_phone_code+userMobDetail.mobile}}</p>
            </div>
            <label class="item item-input item-stacked-label no-border label-padding" style="padding-right:16px;" ng-if="isFromLogin&&indirect">
                <span class="input-label label-text "  style="color:white">{{'COUNTRY' | translate }}
                    <span class="assertive " style="font-size: inherit">*</span>
                </span>
                <select style="width: 100%"  ng-model="confirm.country" ng-required="true" name="countryCode" >
                    <option ng-selected="data.selectedCountry==null" ></option>
                    <option ng-selected="(obj.CountryCode == userCountry.CountryCode)"
                            ng-repeat="obj in countryCodeList" value="{{obj.CountryPhoneCode}}">
                        {{obj.CountryName}}</option>
                </select>
            </label>

            <label class="item item-input item-stacked-label no-border label-padding" ng-if="isFromLogin&&indirect">
                <span class="input-label label-text "  style="color:white">{{'MOBILE' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>

                <div class="row no-padding">
                    <div class="col no-padding" >
                        <input class="edit-input-txt" ng-model="confirm.mobile" name="mobile" ng-required="true"  style="font-size:18px;" type="number" />
                        <!--<span class="assertive validation-font wrap-content" ng-show="confirmAccountForm.username.$error.minlength || credentialForm.mobile.$error.maxlength">{{'INVALID_MOBILE'| translate}}</span>-->
                    </div>
                </div>

            </label>

            <label class="item item-input item-stacked-label no-border label-padding">
                <span class="input-label label-text "  style="color:white">{{'CONFIRMATION_CODE' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                <input class="edit-input-txt" ng-required="true" ng-model="confirm.code" name="code"   style="font-size:18px;" type="number" />

            </label>
            <div class="row" ng-if="!isNewCodeRequested">
                <div class="col center" style="font-size: 18px;">
                    <p class="positive" style="text-decoration: underline">
                        {{'DID_NOT_RECEIVE_CODE' | translate}}
                    </p>
                    <p ng-disabled="confirmAccountForm.$invalid" class="positive" style="text-decoration: underline" ng-click="requestOTP()">
                        {{'REQUEST_A_NEW_CODE' | translate}}
                    </p>

                </div>
            </div>
            <div class="row" ng-if="isNewCodeRequested">
                <div class="col center" style="font-size: 18px;padding: 0px 33px;">
                    <p ng-disabled="confirmAccountForm.$invalid" class="positive" style="text-decoration: underline" ng-click="skipToAddHome()">
                        {{'SKIP_AND_CONFIRM_YOUR_ACCOUNT_LATER' | translate}}
                    </p>

                </div>
            </div>


        </ion-content>
        <ion-footer-bar  class="text-center bar-stable blue-bg no-border" >
            <div  class="button-bar">
                <!--<button  class="button button-light button-clear bold" type="submit"  ng-click="requestOTP()">-->
                    <!--{{'REQUEST_OTP' | translate }}-->
                <!--</button>-->
                <button  ng-disabled="confirmAccountForm.$invalid" class="button button-light button-clear bold" type="submit"  ng-click="confirmOTP()" >
                    {{isFromLogin?"CONFIRM":'NEXT' | translate }}
                </button>
            </div>
        </ion-footer-bar>
    </form>
</ion-modal-view>