<form name="confirmAccountForm" >
    <ion-header-bar align-title="center" class="" style="background-color:#3A5997 !important;">
        <div class="buttons">
            <button class="button button-clear" style="font-size: 30px;color:white" ng-click="goBack()">
                <i class="ion-android-arrow-back"></i>
            </button>
        </div>
        <h1 class="title">{{'CONFIRM_YOUR_ACCOUNT_TITLE' | translate }}</h1>
    </ion-header-bar>
    <ion-content scroll="true" class="blueno-bg-full">
        <!--<div class="center" style="width: inherit;height: auto;padding-top:15px">-->
            <!--<h3 style="color: #ffffff;">-->
                <!--&lt;!&ndash;<i class="ion-checkmark"></i>&nbsp;&ndash;&gt;-->
                <!--{{'CONFIRM_YOUR_ACCOUNT_TITLE' | translate }}-->
            <!--</h3>-->
            <!--<span style="color:white ; font-size: 20px;">(<span-->
                    <!--style="color:rgba(239,71,58,.8);font-size: 24px;vertical-align: middle;">*</span><span-->
                    <!--style="color:white;font-size: initial">&nbsp;{{'DENOTES_REQUIRED_FIELDS' | translate}}</span>)</span>-->
        <!--</div>-->
        <div style="margin-top: 50px;" >
            <p ng-if="!isFromLogin"
               style="font-size: 20px;padding: 0 40px;;line-height: 30px;text-align: center;">{{'THANK_YOU' | translate}}</p>

            <p ng-if="!isFromLogin" style="font-size: 20px;padding: 0px 40px;line-height: 30px;
    text-align: center;">
                {{'CONFIRM_CODE_SENT' | translate}}
                &nbsp;<br>
                {{"(+"+loginData.user.selectedCountry.CountryPhoneCode+")"+loginData.user.mobile}}
            </p>
            <p ng-if="isFromLogin" style="font-size: 20px;padding: 0px 40px;line-height: 30px;
    text-align: center;">
                {{'CONFIRM_CODE_SENT' | translate}}
                &nbsp;<br>
                {{"(+"+userMobDetail.country_phone_code+")"+userMobDetail.mobile}}
            </p>
        </div>

        <label class="item item-input item-stacked-label no-border label-padding">
                <span class="input-label label-text ">{{'CONFIRMATION_CODE' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
            <input class="edit-input-txt" ng-required="true" ng-model="confirm.code" name="code"
                   type="text"/>

        </label>

        <div class="row">
            <div class="col center" style="font-size: 18px;">
                <p class="" style="color: burlywood;">
                    {{'DID_NOT_RECEIVE_CODE' | translate}}
                </p>
                <button class="button button-positive button-clear"
                        style="text-decoration: underline;font-size: inherit;line-height: 22px;min-height: 0;"
                        ng-click="requestOTP()">
                    {{'REQUEST_A_NEW_CODE' | translate}}
                </button>

            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="text-center bar-stable blue-bg no-border">
        <div class="button-bar">
            <button ng-disabled="confirmAccountForm.$invalid" class="button button-light button-clear bold"
                    ng-click="confirmOTP()">
                {{"CONFIRM" | translate}}
            </button>
        </div>
    </ion-footer-bar>
</form>
