<form name="inviteFamilyForm">
    <ion-content scroll="true" class="blueno-bg-full has-footer no-margin">
        <div class="list" ng-style="{'height':(deviceHeight-96)+'px'}" style="
    overflow: scroll;
    width: 100%;
    padding: 0;">
            <label class="item item-input item-stacked-label no-border label-padding">
                    <span class="input-label label-text " style="color:white">{{'FULL_NAME' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                <input type="text" name="name" ng-required="true" ng-model="family.name" class="edit-input-txt"/>
            </label>

            <label class="item item-input item-stacked-label no-border label-padding">
                <span class="input-label label-text " style="color:white">{{'MOBILE' | translate }}
                   <span class="assertive " style="font-size: inherit">* </span>
                </span>
                <input type="number" name="mobile" ng-required="true" class="edit-input-txt" ng-model="family.mobile"/>
            </label>
            <label class="item item-input item-stacked-label no-border label-padding">
                    <span class="input-label label-text " style="color:white">{{'RELATIONSHIP' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                <select style="width: 100%;" ng-model="family.relationship" name="relationship" ng-required="true">
                    <option value="Mother">{{'MOTHER' | translate }}</option>
                    <option value="Father" selected="selected">{{'FATHER' | translate }}</option>
                    <option value="Uncle">{{'UNCLE' | translate }}</option>
                    <option value="Aunt">{{'AUNT' | translate }}</option>
                    <option value="Nephew">{{'NEPHEW' | translate }}</option>
                    <option value="Cousin">{{'COUSIN' | translate }}</option>
                    <option value="Wife">{{'WIFE' | translate }}</option>
                    <option value="Husband">{{'HUSBAND' | translate }}</option>
                    <option value="Other">{{'OTHER' | translate }}</option>
                </select>
            </label>
        </div>
    </ion-content>
    <ion-footer-bar class="text-center bar-stable blue-bg" style="border:none;padding:0px !important;">
        <div class="button-bar">
            <button class="button no-border lgt-blue-btn button-small" type="submit"  ng-click="skipToGroup()" style="font-size: 20px;">
            {{'Skip' | translate }} &nbsp;
            </button>

            <button ng-if="!isFromSetting" class="button no-border lgt-blue-btn button-small" type="submit"
                    ng-click="sendInviteToFamily()" style="font-size: 20px;">
                {{'Next' | translate }} &nbsp;<i class=" ion-arrow-right-b" style="font-size: 20px;"></i>
            </button>
        </div>
    </ion-footer-bar>
</form>
</ion-modal-view>
