<form name="inviteFamilyForm">
    <ion-content scroll="true" class="blueno-bg-full has-footer no-margin">
        <div class="center" style="width: inherit;height: auto;padding-top:15px">
            <h3 style="color: #ffffff;">
                <i class="ion-folder"></i>&nbsp;{{'ADD_FAMILY' | translate }}
                <span style="color:white ; font-size: 20px;">(<span style="color:rgba(239,71,58,.8);font-size: 24px;vertical-align: middle;">*</span><span style="color:white;font-size: initial">&nbsp;{{'DENOTES_REQUIRED_FIELDS' | translate}}</span>)</span>
                <!--<span style="color:white; font-size: 18px">({{'OPTIONAL' | translate}}) </span>-->
            </h3>
        </div>
        <div class="list" ng-style="{'height':(deviceHeight-96)+'px'}" style="overflow: scroll;width: 100%;padding: 0;">
            <div class="item no-border" style="background: transparent;padding: 0px 10px 0px 10px;">
                <div class=" wrap-content" style="color: bisque;font-size: 14px;">
                    {{'OPTIONAL_INFO_ALERT'| translate}}
                </div>
            </div>
            <label class="item item-input item-stacked-label no-border label-padding">
                    <span class="input-label label-text " style="color:white">{{'FIRST_NAME' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                <input type="text" name="name" ng-required="true" ng-model="family.firstName" class="edit-input-txt"/>
            </label>
            <label class="item item-input item-stacked-label no-border label-padding">
                    <span class="input-label label-text " style="color:white">{{'LAST_NAME' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                <input type="text" name="name" ng-required="true" ng-model="family.lastName" class="edit-input-txt"/>
            </label>
            <!--<label class="item item-input item-stacked-label no-border label-padding" style="padding-right:16px;">-->
            <!--<span class="input-label label-text " style="color:white">{{'COUNTRY' | translate }}-->
                <!--<span class="assertive " style="font-size: inherit">* </span>-->
            <!--</span>-->
                <!--<select style="width: 100%;font-size:12px;" ng-model="family.phoneCode" ng-required="true">-->
                    <!--<option selected value="" disabled>Select country</option>-->
                    <!--<option ng-repeat="obj in countryCodeList" value="{{obj.CountryPhoneCode}}">{{obj.CountryName}}-->
                    <!--</option>-->
                <!--</select>-->
            <!--</label>-->
            <!--<label class="item item-input item-stacked-label no-border label-padding">-->
                <!--<span class="input-label label-text " style="color:white">{{'MOBILE' | translate }}-->
                   <!--<span class="assertive " style="font-size: inherit">* </span>-->
                <!--</span>-->
                <!--<input type="number" name="mobile" ng-required="true" class="edit-input-txt" ng-model="family.mobile"/>-->
            <!--</label>-->
            <label class="item item-input item-stacked-label no-border label-padding">
                    <span class="input-label label-text " style="color:white">{{'RELATIONSHIP' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                <select style="width: 100%;" ng-model="family.relationship" name="relationship" ng-required="true">
                    <option value="" selected disabled>{{'SELECT_RELATIONSHIP' | translate}}</option>
                    <option value="Mother">{{'MOTHER' | translate }}</option>
                    <option value="Father" selected="selected">{{'FATHER' | translate }}</option>
                    <option value="Son">{{'SON' | translate }}</option>
                    <option value="Daughter">{{'DAUGHTER' | translate }}</option>
                    <option value="Husband">{{'HUSBAND' | translate }}</option>
                    <option value="Wife">{{'WIFE' | translate }}</option>

                    <!--<option value="Other">{{'OTHER' | translate }}</option>-->
                </select>
            </label>
        </div>
    </ion-content>
    <ion-footer-bar class="text-center bar-stable blue-bg no-border">
        <div class="button-bar">
            <button class="button button-light button-clear bold" type="submit"  ng-click="skipToSuccess()">
                {{'SKIP' | translate }} &nbsp;
            </button>

            <button ng-disabled="inviteFamilyForm.$invalid" class="button button-light button-clear bold" type="submit"
                    ng-click="sendInviteToFamily()" >
                {{'NEXT' | translate }} &nbsp;<i class=" ion-arrow-right-b" style="font-size: 20px;"></i>
            </button>
        </div>
    </ion-footer-bar>
</form>
