<!--<ion-nav-bar class="bar-stable blue-bg no-border" style="border-color:gray;">-->
    <!--<ion-nav-back-button style="color:white"></ion-nav-back-button>-->
    <!--<ion-nav-title>-->
        <!--Create Profile-->
    <!--</ion-nav-title>-->
    <!--<ion-nav-buttons>-->

    <!--</ion-nav-buttons>-->
<!--</ion-nav-bar>-->

<form name="basicInfoForm">
    <ion-header-bar align-title="center" class="" style="background-color:#3A5997 !important;">
        <div class="buttons">
        <button class="button button-clear" style="font-size: 30px;color:white" ng-click="doSomething()">
            <i class="ion-android-arrow-back"></i>
        </button>
           </div>
           <h1 class="title">Create Profile</h1>
           <!--<div class="buttons">-->
             <!--<button class="button">Right Button</button>-->
           <!--</div>-->
    </ion-header-bar>
    <ion-content scroll="true" class="blueno-bg-full has-footer">
      <!--<div class="center" style=";width: inherit;height: auto;padding-top:15px" >-->
          <!--<h3 style="color: #ffffff;"> {{'CREATE_PROFILE' | translate }}</h3>-->

    <!--</div>-->
    <div class="row">
        <div class="col center" >
            <img ng-src="{{updateImageSrc?updateImageSrc:addPicIcon}}" style="height: 90px;width: 90px;border-radius:43px" ng-click="changeImage()"/>
            <p style="color:  rgba(0,0,0,.6);font-size: larger;text-decoration: underline;" ng-click="changeImage()">{{'CHANGE_PROFILE_PICTURE' | translate}}</p>
        </div>

    </div>

    <div class="list" ng-style="{'height':(deviceHeight-210)+'px'}" style="overflow: scroll;width: 100%;padding: 0;">
        <div class="item  center bg-transparent no-border" style="padding: 10px 0 0 0;">
            <span style="color: rgba(0,0,0,.6) ; font-size: 14px;">
                (<span style="color:rgba(239,71,58,.8);font-size: 12px;" class="ion-asterisk"></span>
                <span style="color: rgba(0,0,0,.6);">&nbsp;{{'DENOTES_REQUIRED_FIELDS' | translate}}</span>)
            </span>
        </div>
        <label class="item item-input item-stacked-label no-border label-padding">
            <span class="input-label label-text label-span "  style="color: rgba(0,0,0,.6)">{{'FIRST_NAME' | translate }}
                <span class="assertive " style="font-size: inherit">* </span>
            </span>
            <input class="edit-input-txt" ng-model="loginData.profile.given_name" name="firstName" ng-required="true" ng-maxlength="50" type="text"/>
            <span class="validation-font wrap-content"  ng-show="basicInfoForm.firstName.$error.maxlength">
                {{'FIRST_NAME_MAX_LENGTH'| translate}}
            </span>
        </label>

            <label class="item item-input item-stacked-label no-border label-padding">
            <span class="input-label label-text "  style="">{{'LAST_NAME' | translate }}
                <span class="assertive " style="font-size: inherit">* </span>
            </span>
                <input ng-model="loginData.profile.family_name" name="lastName" ng-required="true" type="text" class="edit-input-txt"  ng-maxlength="50" />
                <span class="validation-font wrap-content" ng-show="basicInfoForm.lastName.$error.maxlength">{{'LAST_NAME_MAX_LENGTH'| translate}}</span>
            </label>

            <label class="item item-input item-stacked-label no-border label-padding" style="padding-right:16px;">
                <span class="input-label label-text " >
                    {{'GENDER' | translate }}
                    <span class="assertive " >* </span>
                </span>
                <select style="background:none;display: inherit;border: none;width: 100%;color:#3A5997" class="edit-input-txt"  ng-model="data.gender" ng-required="true">
                    <option disabled  value="" selected >{{'SELECT_GENDER' | translate}}</option>
                    <option value="male" >{{'MALE' | translate }}</option>
                    <option value="female">{{'FEMALE' | translate }}</option>
                </select>
            </label>

            <label class="item item-input item-stacked-label no-border label-padding" style="padding-right:16px;">
                <span class="input-label label-text "  style="color: rgba(0,0,0,.6);">
                    {{'OCCUPATION' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                <select style="background:none;display: inherit;border: none;width: 100%;color:#3A5997" class="edit-input-txt"   ng-model="loginData.user_type" ng-required="true">
                    <option disabled  value="" selected >{{'SELECT_OCCUPATION' | translate}}</option>
                    <option value="Farmer" >{{'FARMER' | translate}}</option>
                    <option value="Factory Worker">{{'FACTORY_WORKER' | translate }}</option>
                    <option value="Fisherman" >{{'FISHERMAN' | translate}}</option>
                    <option value="Other" >{{'OTHER' | translate}}</option>
                </select>
            </label>
            </div>

</ion-content>
<ion-footer-bar  class="text-center bar-stable blue-bg no-border">
    <div  class="button-bar">
        <button ng-disabled="basicInfoForm.$invalid" class="button button-light button-clear bold" type="submit"  ng-click="goToAddHomeWithCheck()">
            {{'NEXT' | translate }}
        </button>
    </div>
</ion-footer-bar>
</form>
