<style>
.popup-sub-title{
    font-size:15px;
}
</style>
<form name="credentialForm" ng-submit="goToProfileCreation()">
    <ion-header-bar align-title="center" class="" style="background-color:#3A5997 !important;">
        <div class="buttons">
            <button class="button button-clear" style="font-size: 30px;color:white" ng-click="goBack()">
                <i class="ion-android-arrow-back"></i>
            </button>
        </div>
        <h1 class="title">{{'CREATE_MOBILE' | translate }}</h1>
        <!--<div class="buttons">-->
        <!--<button class="button">Right Button</button>-->
        <!--</div>-->
    </ion-header-bar>
    <ion-content scroll="true" class="blueno-bg-full has-footer" has-footer="true">
        <div class="center" style=";width: inherit;height: auto;padding-top:15px">
            <!--<h3 style="color: #ffffff;">{{'CREATE_AN_ACCOUNT' | translate }}</h3>-->
            <span style="color: rgba(0,0,0,.6) ; font-size: 14px;">
                (&nbsp;<span style="color:rgba(239,71,58,.8);font-size: 12px;" class="ion-asterisk"></span>
                <span style="color: rgba(0,0,0,.6);">&nbsp;{{'DENOTES_REQUIRED_FIELDS' | translate}}</span>&nbsp;)
            </span>
        </div>
        <div class="list" ng-style="{'height':(deviceHeight-110)+'px'}"
             style="overflow: scroll;width: 100%;padding: 0;">
            <div class="row ">
                <div class="col center ">
                    <button class="button button-small lgt-blue-btn" type="button"
                            style="width: 80%;height: 39px;font-size: large;font-weight: normal !important;border:1px solid rgba(255,255,255,.3)"
                            ng-click="shareLocation()">
                        <i class="ion-android-share-alt" ></i>&nbsp;{{'SHARE_MY_LOCATION' | translate}}
                    </button>
                </div>
            </div>
            <div class="row ">
                <div class="col center " style="padding-left: 33px;padding-right: 33px;color: bisque;font-size: 15px;">
                   <span >({{'LOCATION_MUST_BE_SHARED'| translate}})</span>
                </div>
            </div>
            <label class="item item-input item-stacked-label no-border label-padding" style="padding-right:16px;">
                <span class="input-label label-text " style="color:white">{{'COUNTRY' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                <!-- <select style="width: 100%;font-size:12px;" ng-model="data.selectedCountry" ng-required="true" ng-options="obj.CountryName for obj in countryCodeList" ng-change="selectChange()">
                    <option selected value="" disabled>{{'SELECT_COUNTRY' | translate}}</option>
                    <option ng-selected="(obj.CountryCode == addressDataFromCoordinate.userCountry.CountryCode)"
                            ng-repeat="obj in countryCodeList" ng-value="obj.CountryPhoneCode">{{obj.CountryName}}
                    </option>
                </select> -->
                <input ion-autocomplete type="text"
                       template-url="components/menu/views/autoCompleteDrop.html"
                       readonly="readonly"
                       class="ion-autocomplete"
                       autocomplete="off"
                       select-items-label="{{'SELECT_COUNTRY' | translate}}"
                       item-method-value-key="countryCodeList"
                       items-method="getSearchedCountryList(query)"
                       item-view-value-key="CountryName"
                       ng-model="data.selectedCountry"
                       max-selected-items="1"
                       cancel-label="{{'CANCEL' | translate }}"
                       items-clicked-method="clickedMethod(callback)"
                       style="padding-left: 11px;display: block;height: 40px !important;outline: none;color:white;border: none;border-radius: 4px;background: rgba(97, 137, 197, .7);font-size: 18px !important;"
                       placeholder="{{'SEARCH_COUNTRY' | translate }}"
                   />
            </label>

            <label class="item item-input item-stacked-label no-border label-padding">
                <span class="input-label label-text " style="color:white">{{'MOBILE' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>

                <div class="row no-padding">
                    <div class="col no-padding">
                        <input class="edit-input-txt "  ment ng-model="loginData.user.mobile" name="mobile" ng-required="true"
                               style="font-size:18px;" type="number" ng-minlength="9" ng-maxlength="15" id="mobileNumber" />
                        <span class="assertive validation-font wrap-content"
                              ng-show="credentialForm.mobile.$error.minlength || credentialForm.mobile.$error.maxlength">{{'INVALID_MOBILE'| translate}}</span>
                    </div>
                </div>

            </label>
            <label class="item item-input item-stacked-label no-border label-padding">
                <span class="input-label label-text " style="color:white">{{'CREATE_PASSWORD' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                <input class="edit-input-txt" ng-model="loginData.user.password" name="password" ng-required="true"
                       style="font-size:18px;" type="password" ng-minlength="8"/>
                <span class="assertive validation-font wrap-content" ng-show="credentialForm.password.$error.minlength">{{'PASSWORD_MIN_LENGTH'| translate}}</span>
            </label>
        </div>
    </ion-content>
    <ion-footer-bar class="text-center bar-stable blue-bg no-border">
        <div class="button-bar">
            <button ng-disabled="credentialForm.$invalid||position==null" class="button button-clear button-light bold"
                    type="submit">
                {{'NEXT' | translate }} &nbsp;
                <i class=" ion-arrow-right-b" style="font-size: 20px;"></i>
            </button>

        </div>
    </ion-footer-bar>
</form>
