<ion-header-bar align-title="center" class="" style="background-color:#3A5997 !important;">
    <div class="buttons">
        <button class="button button-clear" style="font-size: 30px;color:white" ng-click="goBack()">
            <i class="ion-android-arrow-back"></i>
        </button>
    </div>
    <h1 class="title">{{'CREATE_AN_ACCOUNT' | translate }}</h1>
</ion-header-bar>
<form name="credentialForm" ng-submit="goToAddHome()">
    <ion-content scroll="true" class="blueno-bg-full has-footer has-header">
        <div class="center" style=";width: inherit;height: auto;padding-top:15px">
            <span style="color: rgba(0,0,0,.6) ; font-size: 14px;">
                (&nbsp;<span style="color:rgba(239,71,58,.8);font-size: 12px;" class="ion-asterisk"></span>
                <span style="color: rgba(0,0,0,.6);">&nbsp;{{'DENOTES_REQUIRED_FIELDS' | translate}}</span>&nbsp;)
            </span>
        </div>
        <div class="list">
            <div class="item label-padding no-border">
                <span class="input-label label-text " style="color:white;">
                    {{'MOBILE' | translate }}
                    <span class="assertive " style="font-size: inherit">
                        *
                    </span>
                </span>

                <div class="row no-padding">
                    <div class="col no-padding col-20">
                        <div class="" style="color:black;height: 100%;" ng-click="showCountrySearch()">
                            <div class="button button-clear button-small"
                                 style="color: black;border-bottom: 1px solid grey;border-radius: 0px;height: 40px;line-height: 40px;font-size: 18px">
                                {{loginData.user.selectedCountry!=null?loginData.user.selectedCountry.CountryCode:'US'}}
                                <i class="ion-ios-arrow-down"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col no-padding col-20">
                        <div class="" style="color:black;height: 100%;">
                            <div class="button button-clear button-small"
                                 style="color: black;border-bottom: 1px solid grey;border-radius: 0px;height: 40px;width: 100%;line-height: 40px;font-size: 18px">
                                +{{loginData.user.selectedCountry!=null?loginData.user.selectedCountry.CountryPhoneCode:'1'}}
                            </div>
                        </div>
                    </div>
                    <div class="col no-padding">

                        <input class="edit-input-txt " ng-model="loginData.user.mobile" name="mobile" ng-required="true"
                               style="font-size:18px;width:100%" type="number" ng-minlength="8" ng-maxlength="15"
                               id="mobileNumber" maxlength="15"/>

                    </div>
                </div>
                <div class="row no-padding">
                    <div class="col no-padding">
                        <span class="assertive validation-font wrap-content"
                              ng-show="credentialForm.mobile.$error.minlength">
                            {{'MOBILE_MIN_LENGTH'| translate}}
                        </span>
                        <span class="assertive validation-font wrap-content"
                              ng-show="credentialForm.mobile.$error.maxlength">
                            {{'MOBILE_MAX_LENGTH'| translate}}
                        </span>
                    </div>

                </div>

            </div>

            <label class="item item-input item-stacked-label no-border label-padding">
                <span class="input-label label-text " style="color:white">{{'EMAIL' | translate }}
                </span>
                <input class="edit-input-txt" ng-model="loginData.user.email" name="userEmail"
                       style="font-size:18px;" type="email"/>
                <span class="assertive validation-font wrap-content"
                      ng-show="!credentialForm.userEmail.$valid && !credentialForm.userEmail.$pristine">
                    {{'INVALID_EMAIL'| translate}}

                </span>
            </label>
        </div>
    </ion-content>
    <ion-footer-bar class="text-center bar-stable blue-bg no-border">
        <div class="button-bar">
            <button ng-disabled="credentialForm.$invalid" class="button button-clear button-light bold"
                    type="submit">
                {{'NEXT' | translate }} &nbsp;
            </button>

        </div>
    </ion-footer-bar>
</form>
