<form name="credentialForm" ng-submit="goToConfirmAccount()">
    <ion-header-bar align-title="center" class="" style="background-color:#3A5997 !important;">
        <div class="buttons">
            <button class="button button-clear" style="font-size: 30px;color:white" ng-click="goBack()">
                <i class="ion-android-arrow-back"></i>
            </button>
        </div>
        <h1 class="title">{{'CREDENTIAL' | translate }}</h1>
        <!--<div class="buttons">-->
        <!--<button class="button">Right Button</button>-->
        <!--</div>-->
    </ion-header-bar>
    <ion-content scroll="true" class="blueno-bg-full has-footer" >
        <div class="center" style=";width: inherit;height: auto;padding-top:15px">
            <!--<h3 style="color: #ffffff;">{{'CREATE_AN_ACCOUNT' | translate }}</h3>-->
            <span style="color: rgba(0,0,0,.6) ; font-size: 14px;">
                (&nbsp;<span style="color:rgba(239,71,58,.8);font-size: 12px;" class="ion-asterisk"></span>
                <span style="color: rgba(0,0,0,.6);">&nbsp;{{'DENOTES_REQUIRED_FIELDS' | translate}}</span>&nbsp;)
            </span>
        </div>
        <div class="list">

            <!--</label>-->
            <label class="item item-input item-stacked-label no-border label-padding">
                <span class="input-label label-text " style="color:white">{{'USERNAME' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                <input class="edit-input-txt" ng-model="username" name="username"
                       style="font-size:18px;" type="text" ng-disabled="true"/>
                <!--<span class="assertive validation-font wrap-content" ng-show="credentialForm.userEmail.$error.minlength">-->
                <!--{{'PASSWORD_MIN_LENGTH'| translate}}-->
                <!--</span>-->
            </label>
            <label class="item item-input item-stacked-label no-border label-padding">
                <span class="input-label label-text " style="color:white">{{'PASSWORD' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                <input class="edit-input-txt" ng-model="loginData.user.password" name="password"
                       style="font-size:18px;" type="password" ng-required="true" ng-minlength="8"/>

                <span class="assertive validation-font wrap-content" ng-show="credentialForm.password.$error.required&& credentialForm.password.$touched">
                {{'PASSWORD_IS_REQUIRED'| translate}}
                </span>
                <span class="assertive validation-font wrap-content" ng-show="credentialForm.password.$error.minlength && credentialForm.password.$touched">
                {{'PASSWORD_MIN_LENGTH'| translate}}
                </span>
                <!--<span class="assertive validation-font wrap-content" ng-show="credentialForm.password.$error.pattern">-->
                <!--{{'PASSWORD_PATTERN'| translate}}-->
                <!--</span>-->


            </label>
            <label class="item item-input item-stacked-label no-border label-padding">
                <span class="input-label label-text " style="color:white">{{'CONFIRM_PASSWORD' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                <input class="edit-input-txt" ng-model="loginData.user.confirmPassword" name="confirmPassword"
                       style="font-size:18px;" type="password" ng-required="true" ng-match="loginData.user.password"/>
                <div ng-messages="credentialForm.confirmPassword.$error.match">
                    <div ng-message="match">{{'PASSWORD_NOT_MATCH'| translate}}</div>
                </div>
                <!--<span class="assertive validation-font wrap-content"-->
                      <!--ng-show="credentialForm.confirmPassword.$error.required && credentialForm.confirmPassword.$touched">-->
                    <!--{{'PASSWORD_IS_REQUIRED'| translate}}-->
                <!--</span>-->
                <!--<span class="assertive validation-font wrap-content"-->
                      <!--ng-show="loginData.user.password!=loginData.user.confirmPassword &&loginData.user.confirmPassword!=''">-->
                    <!--{{'PASSWORD_NOT_MATCH'| translate}}-->
                <!--</span>-->
            </label>
        </div>
    </ion-content>
    <ion-footer-bar class="text-center bar-stable blue-bg no-border">
        <div class="button-bar">
            <button ng-disabled="credentialForm.$invalid" class="button button-clear button-light bold"
                    type="submit">
                {{'NEXT' | translate }} &nbsp;
                <!--<i class=" ion-arrow-right-b" style="font-size: 20px;"></i>-->
            </button>

        </div>
    </ion-footer-bar>
</form>
