/* Empty. Add your own CSS if you like */
h1{
    color:blue;
}
.list .item.custom-item{
    background: transparent;
    color: white;
}
.list .item p.white-p{
    color:white;
}
.bold{
    font-weight: bold !important;
}
.bg-transparent{
    background: transparent !important;
}
.no-border{
    border:none;
}
.no-padding{
    padding: 0 !important;
}
.no-margin{
    margin:0 !important;
}
.center{
    text-align: center;
}
.blue-bg{
    background-color: #4E5C6E !important;
}
.title{
    color:white !important;
}
.bar-header{
    border-color: grey !important;
}
.edit-input-txt{
    font-size: 18px !important;
    background-color: rgba(97,137,197,.7) !important;;
    border-radius: 4px !important;;
    color: white !important;;
    padding: 0 10px 0 10px !important;;
    height: 40px !important;
}

.input-txt{
    display: inline !important;
    height: 40px !important;
    width: 80% !important;
    background: rgba(97,137,197,.7);
    border-radius: 5px;
    padding: 0 5px 0 6px !important;
    font-size: 15px !important;
    color: white !important;
}
.blueno-bg{
    height: 100%;
    width:100%;
    background: url(../img/background_img.png) no-repeat;
    background-size: 100% 100%

}
.blueno-bg-full{
    width:100%;
    background: url(../img/background_img.png) no-repeat;
    background-size: 100% 100%

}
.lgt-blue-btn{
    background-color: rgba(97,137,197,.6);
    color:white;
    font-weight: bold;
}


.slide-in-right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
    -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
    transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0); }

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms; }