/* Empty. Add your own CSS if you like */
h1 {
    color: blue;
}
.bg-lang-highlight{
    background-color: gainsboro;
}
.home-language-span{
    font-size: 20px;
    text-decoration: underline;
}
div.leaflet-right {
    display: none;
}

.list .item.custom-item {
    background: transparent;
    color: rgba(255, 255, 255, .8);
}

.list .item.custom-item.custom-item-header {
    padding: 6px !important;
    border-bottom: none;
    background: darkgray;
    color: rgba(0, 0, 0, .6);
    font-weight: bold;
}

.list .item p.white-p {
    color: rgba(255, 255, 255, .8);
}

.bold {
    font-weight: bold !important;
}

.dark-gray-border {
    border-color: gray !important;
}

.bg-transparent {
    background: transparent !important;
}

.no-border {
    border: none;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}
.float-right{
    float: right;
}

.validation-font {
    color: #ffa366;
}

.wrap-content {
    white-space: normal;
}

.blue-bg {
    background-color: #4E5C6E !important;
}

.title {
    color: white !important;
}

.bar-header {
    border-color: grey !important;
}

.popup-title {
    font-size: large;

}

/*Custom popup style for testing*/
/*.popup-container .popup {*/
  /*max-height:48% !important;*/
/*}*/
/*.popup-head{*/
  /*padding: 0px !important;*/
/*}*/
/*.popup-body{*/
  /*padding:0px;*/
  /*overflow: hidden;*/
/*}*/
/*.popup-buttons{*/
  /*padding: 0px;*/
  /*min-height: 40px;*/
/*}*/
.edit-input-txt {
    font-size: 18px !important;
    background-color: rgba(97, 137, 197, .7) !important;;
    border-radius: 4px !important;;
    color: white !important;;
    padding: 0 10px 0 10px !important;;
    height: 40px !important;
}
.edit-input-textarea {
    font-size: 18px !important;
    background-color: rgba(97, 137, 197, .7) !important;;
    border-radius: 4px !important;;
    color: white !important;;
    padding: 0 10px 0 10px !important;;
}
input[type="radio"] {
    width: 18px;
    height: 18px;
}

.inline-field input,
.inline-field label {
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.input-txt {
    display: inline !important;
    height: 40px !important;
    width: 80% !important;
    background: rgba(97, 137, 197, .7);
    border-radius: 5px;
    padding: 0 5px 0 6px !important;
    font-size: 15px !important;
    color: white !important;
}

.blueno-bg {
    height: 100%;
    width: 100%;
    background: url(../img/background_img.png) no-repeat;
    background-size: 100% 100%

}
.menu-bg{
    background-image: url(../img/background_img.png);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.blueno-bg-full {
    width: 100%;
    background: url(../img/background_img.png) no-repeat;
    background-size: 100% 100%

}

.lgt-blue-btn {
    background-color: rgba(97, 137, 197, .6) !important;
    color: white !important;
    font-weight: bold !important;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.inline-field input,
.inline-field label {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

select {
    display: block;
    height: 40px !important;
    outline: none;
    color: white;
    border: none;
    border-radius: 4px;
    background: rgba(97, 137, 197, .7);
    font-size: 18px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 8px;
}

option {
    background: white;
    color: black;
}

.no-data-alert {
    width: 100%;
    height: 80%;
}

.no-data-alert .no-data-icon i {
    font-size: 100px;
    color: gray
}

.no-data-alert .no-data-text {
    font-size: 20px;
    color: gray
}

.label-padding {
    padding-right: 12% !important;
    padding-left: 12% !important;
}

.slide-in-right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
    -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
    transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
}

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
}

.my-card .item.item-image{
    width: 100vw;
    margin-left: -10px;
    margin-top: -20px;
}

.my-card.card{
    overflow: visible;
}
.img-circle {
    border-radius: 50%;
    border: 1px solid white;
    /*padding: 1px;*/
}
.imc-left {
    margin-left: -16px;
}
.imc-right {
    margin-right: -16px;
}
.custom-subheader.bar-subheader  {
    height: auto !important;
}
.tabs-striped .tabs{
    background-color: #4E5C6E !important;
    color:white;
    border-color: #4E5C6E !important;
}
.tabs-striped .tab-item.tab-item-active{
    border-color:white !important;
}
.width-auto{
  width: auto !important;
}
.span-org{
  display:block;
  padding-top:7px;
    color:white;
}
.font-grey{
  color:grey;
}
.font-white{
    color:white !important;
}
.grey-hr-separator{
    border: none;border-bottom: 1px solid grey;width: 92%;
}
.input-label-color{
    color: rgba(255,255,255,.6);
}
.grey-hr-menu-separator{
    border: none;
    border-bottom: 1px solid grey;
    width: 79%;
    /* float: right; */
    margin-left: 51px;
}
.tab-title{
    font-size:16px !important;
    font-weight: bold;
}
.pending-span-label{
    background-color: #ffc900;
    padding: 2px 13px;
    border-radius: 5px;
    color: cornflowerblue;
    font-weight: bold;
}
.success-span-label{
    background-color: rgba(51, 205, 95, 0.78);
    color: cornsilk;
    padding: 2px 13px;
    border-radius: 5px;
    font-weight: bold;
}
.button.button-grey {
    border-color: transparent;
    background-color: #4E5C6E;
    color: #fff; }
.button.button-grey:hover {
    color: #fff;
    text-decoration: none; }
.button.button-grey.active, .button.button-grey.activated {
    border-color: #a2a2a2;
    background-color:  #4E5C6E; }
.button.button-grey.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color:  #4E5C6E; }
.button.button-grey.button-icon {
    border-color: transparent;
    background: none; }
.button.button-grey.button-outline {
    border-color:  #4E5C6E;
    background: transparent;
    color:  #4E5C6E; }
.button.button-grey.button-outline.active, .button.button-grey.button-outline.activated {
    background-color:  #4E5C6E;
    box-shadow: none;
    color: #fff; }