<ion-view cache-view="false" view-title="{{'CREATE_GROUP' | translate}}">

    <ion-nav-bar class="bar-stable blue-bg no-border" align-title="center">
    </ion-nav-bar>
  <form name="createGroupForm">
    <ion-content scroll="true" class="has-footer blueno-bg-full">
       <div class="list" style="width:100%;overflow: scroll;padding:0px" ng-style="{'height':(deviceHeight-96)+'px'}">
        <div class="row">
            <div class="col center " >
                <img ng-src="{{group.image!=null?group.image:defaultImageURL}}" style=" height: 80px;width: 80px;border-radius: 38px;border: 5px solid white">
                <div >
                    <button class="button button-small button-clear" style="font-size: large;color: rgba(0,0,0,.6);text-decoration: underline;" ng-click="changeImage()">
                        {{'CHANGE_PHOTO' | translate }}
                    </button>
                </div>
            </div>
        </div>
       <div class="item  center bg-transparent no-border" style="padding: 10px 0 0 0;">
           <span style="color:rgba(0,0,0,.6) ; font-size: 16px;">
             (<span style="color:rgba(239,71,58,.8);font-size: 14px;vertical-align: middle;" class="ion-asterisk"></span>
             <span style="color:rgba(0,0,0,.6)">&nbsp;{{'DENOTES_REQUIRED_FIELDS' | translate}}</span>)
           </span>
       </div>
        <!-- organization name -->
        <label class="item item-input item-stacked-label no-border label-padding">
            <span class="input-label label-text input-label-color" >{{'GROUP_NAME' | translate }}
                <span class="assertive " style="font-size: inherit">* </span>
            </span>
            <input class="edit-input-txt" type="text" name="groupName" ng-required="true" ng-model="group.name"  style="font-size:18px;"   />
            <span class="assertive validation-font wrap-content"
                  ng-show="createGroupForm.groupName.$invalid && !createGroupForm.groupName.$pristine">{{'FILL_THIS_FIELD'| translate}}</span>
        </label>
        <!-- Description -->
        <label class="item item-input item-stacked-label no-border label-padding">
            <span class="input-label label-text input-label-color"  >{{'GROUP_DESCRIPTION' | translate }}
                <span class="assertive " style="font-size: inherit">* </span>
            </span>
            <!-- <input class="edit-input-txt" type="text" name="firstName" ng-required="true" ng-model="person.givenname1"  style="font-size:18px;"   /> -->
            <textarea class="edit-input-textarea" name="groupDescription" ng-required="true" ng-model="group.description" rows="4" style="padding:10px !important;"></textarea>
            <span class="assertive validation-font wrap-content"
                  ng-show="createGroupForm.groupDescription.$invalid && !createGroupForm.groupDescription.$pristine">{{'FILL_THIS_FIELD'| translate}}</span>
        </label>
        <label class="item item-input item-stacked-label no-border label-padding">
             <span class="input-label label-text input-label-color"  >{{'GROUP_TYPE' | translate }}
            </span>
            <ion-toggle ng-model="group.private" class="no-border" toggle-class="toggle-balanced" style="border-radius:4px !important; background-color:white; color:#3A5997">{{'PRIVATE' | translate }}</ion-toggle>
        </label>
      </div>
    </ion-content>
    <ion-footer-bar class="text-center bar-stable blue-bg no-border"  >
        <div  class="button-bar">
            <button  type="button"  class="button  button-light button-clear bold" ng-click="hideCreateGroup()">
                 {{'CANCEL' | translate }}
            </button>
            &nbsp;
            <button type="submit"  ng-disabled="createGroupForm.$invalid" class="button  button-light button-clear bold" ng-click="createGroup()">
                 {{'CREATE' | translate }}
            </button>
        </div>
    </ion-footer-bar>
  </form>
</ion-view>
