<ion-view view-title="{{groupDetails.attributes.name}}" hide-back-button="false">
    <ion-content scroll="true" class="blueno-bg-full">
      <!-- <div class="list card no-margin" style="margin-bottom:20px;margin-bottom:3px !important;">
        <div class="item " ng-if="groupDetails.attributes.description!=null"
             style="padding:8px;white-space:normal !important;border-bottom:none;">
            <span class="" style="color: black;font-size: 14px;" ng-if="groupDetails.expand">{{groupDetails.attributes.description}}
            </span>
            <span class="" style="color: black;font-size: 14px;" ng-if="!groupDetails.expand">{{groupDetails.attributes.description | limitTo:35}}
            </span>
        </div>
        <div class="" ng-if="groupDetails.attributes.description.length > 35 && !groupDetails.expand">
            <a style="float:right;padding-right:5px;" ng-click="showMoreDescription(groupDetails)">More</a>
        </div>
        <div class="" ng-if="groupDetails.expand && groupDetails.attributes.description.length > 35">
            <a style="float:right;padding-right:5px;" ng-click="showMoreDescription(groupDetails)">Less</a>
        </div>
      </div> -->
        <!-- =========================== -->
        <div class="list card no-margin" style="margin-bottom:3px; ">
        <div class="item item-thumbnail-left" style="min-height: 106px;">
            <img ng-src="{{groupDetails.attributes.picture?groupDetails.attributes.picture.image.url:defaultAvatar}}"
                 style="top:5px; left:5px; max-width:96px; max-height:96px;">
            <h2 class="bold positive" style="margin-left:30px;margin-top: 5px;" ng-click="goToMembers(groupDetails.attributes.name,groupDetails.attributes.members)">{{groupDetails.attributes.members.length}} Members</h2></a>
            <h2 class="bold positive" style="margin-left:30px;margin-top: 5px;"ng-click="goToGrpInvites(groupDetails.attributes.name,groupDetails.relationships.group_invites.data)">{{groupDetails.relationships.group_invites.data.length}} Invites</h2></a>
            <h2 class="bold positive" ng-if="!groupDetails.attributes.public" ng-click="goToPendingReq(groupDetails.attributes.name,groupDetails.attributes.requests!=null?groupDetails.attributes.requests.data:null)" style="margin-left:30px;margin-top: 5px;">{{groupDetails.attributes.requests!=null ? groupDetails.attributes.requests.data.length : "0"}} Pending Requests</h2></a>
        </div>
      </div>

      <!-- <div class="card"> -->
        <!-- <div class="item item-divider">
          I'm a Header in a Card!
        </div> -->

      <!--<div class="list card no-margin" style="margin-bottom:20px; margin-top:3px !important;">-->
        <!--<div class="item item-divider" style="text-align:center; background:lightgrey">-->
          <!--Posts ({{groupDetails.relationships.posts.data.length}})-->
        <!--</div>-->
        <!-- -->
      <!--</div>-->
        <div class="list card" ng-repeat="post in postData">

            <div class="item item-avatar">
                <img src="mcfly.jpg">
                <h2>{{post.attributes.creater}}</h2>
                <p>{{post.attributes.created_at | momentTimeAgo}}</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="delorean.jpg">
                <p>
                    {{post.attributes.content}}
                </p>
                <!--<p>-->
                    <!--<a href="#" class="subdued">1 Like</a>-->
                    <!--<a href="#" class="subdued">5 Comments</a>-->
                <!--</p>-->
            </div>

        </div>
      <!-- </div> -->
    </ion-content>
</ion-view>
