<ion-view view-title="{{name}} - Pending Invites" hide-back-button="false">
    <ion-content scroll="true" class="blueno-bg-full">
        <div class="list" style="width:100%;">
            <div class="list card" ng-repeat="request in groupPendingInvites" style="margin:5px">
                <a class="item item-avatar" style="padding-bottom:0px;">
                    <img ng-src="{{request.attributes.invitee_picture}}">

                    <h2 class="bold">
                        <span>{{request.attributes.invitee_name}}</span>
                    </h2>
                    <p>{{request.attributes.created_at | momentTimeAgo}}</p>
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>
