<ion-view view-title="{{groupDetails.attributes.name}}" hide-back-button=true>
    <ion-nav-buttons side="left">
        <button style="color: white;" ng-click="goBack()" class="button back-button buttons button-clear header-item"><i class="icon ion-android-arrow-back"></i> <span class="back-text"></span></button>
    </ion-nav-buttons>


    <ion-content scroll="true" class="blueno-bg-full">
      <!-- <div class="list card no-margin" style="margin-bottom:20px;margin-bottom:3px !important;">
        <div class="item " ng-if="groupDetails.attributes.description!=null"
             style="padding:8px;white-space:normal !important;border-bottom:none;">
            <span class="" style="color: black;font-size: 14px;" ng-if="groupDetails.expand">{{groupDetails.attributes.description}}
            </span>
            <span class="" style="color: black;font-size: 14px;" ng-if="!groupDetails.expand">{{groupDetails.attributes.description | limitTo:35}}
            </span>
        </div>
        <div class="" ng-if="groupDetails.attributes.description.length > 35 && !groupDetails.expand">
            <a style="float:right;padding-right:5px;" ng-click="showMoreDescription(groupDetails)">More</a>
        </div>
        <div class="" ng-if="groupDetails.expand && groupDetails.attributes.description.length > 35">
            <a style="float:right;padding-right:5px;" ng-click="showMoreDescription(groupDetails)">Less</a>
        </div>
      </div> -->
        <!-- =========================== -->
        <div class="list card no-margin" style="margin-bottom:3px; ">
            <div class="item item-thumbnail-left" style="padding-bottom: 20px">
                <img ng-src="{{groupDetails.attributes.picture?groupDetails.attributes.picture.image.url:defaultAvatar}}"
                     style="top:3px; left:5px; max-width:96px; max-height:96px;border-radius: 50%">
                <h2 class=" positive" style="font-size: 15px; margin-left:30px;height: 23px"
                    ng-click="goToMembers(groupDetails.attributes.name,groupDetails.id,groupDetails.attributes.members)">
                    <i class="ion-android-people"></i>

                    <span>&nbsp;{{groupDetails.attributes.members.length}}{{groupDetails.attributes.members.length<=1?' Member':' Members'}}</span>
                </h2>
                <h2 class=" positive" style="margin-left:30px;font-size: 15px;height: 23px"
                    ng-click="goToGrpInvites(groupDetails.attributes.name,groupDetails.id,groupDetails.attributes.pending_invitations.data)">
                    <i class="fa fa-user-plus"></i>
                    <span>&nbsp;{{groupDetails.attributes.pending_invitations.data.length}}{{groupDetails.attributes.pending_invitations.data.length<=1?' Invite':' Invites'}}</span>
                </h2>
                <h2 class="" ng-if="!groupDetails.attributes.public"
                    ng-click="goToPendingReq(groupDetails.attributes.name,groupDetails.id,groupDetails.attributes.requests!=null?groupDetails.attributes.requests.data:null)"
                    style="margin-left:30px;margin-top: 5px;color: rgba(191, 60, 60,.9);font-size: 15px;height: 23px">
                    <i class="ion-android-alert"></i>
                    <span>&nbsp;{{groupDetails.attributes.requests!=null ?groupDetails.attributes.requests.data.length : "0"}}
                    &nbsp;&nbsp;Pending Requests</span>
                </h2>
            </div>
        </div>

        <div class="button  button-block" ng-if="!createPostView"
             style="max-height: 30px !important;min-height: 20px !important;line-height: 28px; background-color: #6bce65;   margin: 7px 2px 8px 3px;" ng-click="showCreatePostView()">
            Create post
        </div>
        <div class="list card" ng-if="createPostView">
            <form name="postForm" >
                <div class="item no-padding">
                    <div class="row">
                        <div class="col col-10">
                            <img ng-src="{{profileUrl}}" style="width:30px;height:30px;border-radius: 50%">
                        </div>
                        <div class="col ">
                            <input type="text" name="postTitle" ng-model="post.title" placeholder="Title"
                                   style="border-bottom:1px solid lightgrey;width: 100%" ng-required="true"/>
                        </div>
                    </div>
                    <div class="item no-border" style="padding-bottom: 7px;padding-top: 0px;">
                            <textarea rows="4" style="width: 100%;resize: none" ng-required="true" name="postContent" ng-model="post.content"
                                      placeholder="What's the post">
                            </textarea>
                        <div class="button button-small blue-bg " ng-disabled="postForm.$invalid" style="float: right;color: white;border-radius: 0px;" ng-click="createPost()">
                            POST
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="list card " ng-repeat="post in postData" style="margin:3px;margin-bottom: 8px">
            <div class="item no-border" style="padding:5px;">
                <div class="row no-padding">
                    <div class="col col-10 no-padding">
                        <img ng-src="{{post.attributes.creater_picture}}" style="height: 30px;width:30px;border-radius:50%"/>
                    </div>
                    <div class="col no-padding">
                        <h2 style=" font-size: 13px;">{{post.attributes.creater}}</h2>
                        <p style="font-size: 11px;margin-top: -4px;">{{post.attributes.created_at | momentTimeAgo}}</p>
                    </div>
                </div>
            </div>
            <div class="item no-border" style="padding-top: 0px;padding-left: 7px;">
                <h2 class="wrap-content">{{post.attributes.title}}</h2>

                <p style="" class="wrap-content">
                    {{post.attributes.content}}
                </p>
                <!--<p>-->
                <!--<a href="#" class="subdued">1 Like</a>-->
                <!--<a href="#" class="subdued">5 Comments</a>-->
                <!--</p>-->
            </div>

        </div>
        <!-- </div> -->
    </ion-content>
</ion-view>
