<ion-view cache-view="false" view-title="{{'SEARCH_GROUP' | translate}}">

  <ion-nav-buttons side="left">
      <button style="color: white;" ng-click="goBack()" class="button back-button buttons button-clear header-item"><i class="icon ion-android-arrow-back"></i> <span class="back-text"></span></button>
  </ion-nav-buttons>

    <div class="bar bar-subheader blue-bg no-padding">
        <input class="blue-bg" style="width:100%;border:none;color:white;padding: 0px 8px 0px 8px;"
               placeholder="{{'TYPE_IN_NAME_OR_NUMBER' | translate }}" type="input" ng-model="search"/>
               <button class="button blue-bg" ng-click="searchGroup()">
                 <i class="icon ion-search" style="color:white"></i>
               </button>
    </div>

    <ion-content scroll="true" class="blueno-bg-full has-subheader">
      <div class="row no-data-alert" ng-if="groupDetails.length==0||!groupDetails">
          <div class="col col-center text-center">
              <div class="no-data-icon">
                  <i class="icon ion-briefcase"></i>
              </div>
              <div class="no-data-text">
                  {{'NO_SUCH_GROUPS' | translate}}
              </div>
          </div>
      </div>
      <div class="list" style="margin-top:-10px">
          <div class="" ng-repeat="group in groupDetails">
              <div class="list card" style="margin-bottom:-10px;max-height:86px">
                  <div class="item item-thumbnail-left" style="min-height: 92px;">
                      <img ng-src="{{group.attributes.picture?group.attributes.picture.image.url:defaultAvatar}}"
                           style="top:5px; left:5px; border-radius:50% 50%; max-height:50px; max-width:50px;">
                      <h2 class="bold" ng-click="showGroupDetail(group)" style="margin-left:-20px;font-size:14px;">{{::group.attributes.name}}</h2>
                      <p style="margin-left:-20px;font-size:14px;">{{group.attributes.members.length}} Members
                      <!-- <p>{{group.attributes.public?"Public":"Private"}}</p> -->
                      <button class="button button-energized button-full button-balanced ink button-small button-material" ng-show="!group.attributes.role && !group.attributes.public" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); float:right;margin-left:-20px;color: black;font-size:14px; line-height:14px; min-height:25px;" ng-click="joinGroup(group.id)">
                        <span ng-if="!group.attributes.public">Request to Join</span>
                      </button>
                      <button class="button button-active button-full button-balanced ink button-small button-material" ng-show="!group.attributes.role && group.attributes.public" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); float:right;margin-left:-20px;color: black;font-size:14px; line-height:14px; min-height:25px;" ng-click="joinGroup(group.id)">
                        <span ng-if="group.attributes.public">Join</span>
                      </button>
                      <button class="button button-outline button-full button-assertive button-small disabled" ng-show="group.attributes.role" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); float:right;margin-left:-20px;color: black;font-size:14px; line-height:14px; min-height:25px;">
                        <span style="color:red">Already {{group.attributes.role}}</span>
                      </button>
                      </p>
                  </div>
                  <!-- <div class="item " ng-if="group.attributes.description!=null"
                       style="padding:8px;white-space:normal !important;border-bottom:none;">
                      <span class="" style="color: black;font-size: 14px;" ng-if="group.expand">{{::group.attributes.description}}
                      </span>
                      <span class="" style="color: black;font-size: 14px;" ng-if="!group.expand">{{::group.attributes.description | limitTo:35}}
                      </span>
                  </div>
                  <div class="" ng-if="group.attributes.description.length > 35 && !group.expand">
                      <a style="float:right;padding-right:5px;" ng-click="showMoreDescription(group)">More</a>
                  </div>
                  <div class="" ng-if="group.expand && group.attributes.description.length > 35">
                      <a style="float:right;padding-right:5px;" ng-click="showMoreDescription(group)">Less</a>
                  </div> -->
              </div>
          </div>
      </div>
    </ion-content>
</ion-view>
