<ion-modal-view >
    <ion-header-bar class="bar bar-header blue-bg no-border">
        <button ng-click="hideEditHomeModal()" style="color:white" class="button back-button buttons  button-clear header-item">
            <i class="icon ion-android-arrow-back"></i>
            <span class="back-text"></span>
        </button>
        <h1 class="title" style=" max-width:none;text-align: center !important;">{{'SEARCH_COUNTRY' | translate }}</h1>
    </ion-header-bar>
    <form name="addressForm">
        <ion-content scroll="true" class="blueno-bg-full has-header">

        </ion-content>
    </form>
</ion-modal-view>
