
<ion-modal-view  >
    <ion-content has-bouncing="true"  class="blueno-bg">
        <div class="center" style="width: inherit;height: auto;padding-top:25px" >
            <img ng-src="{{bgUrl}}" style="height: 90px;width: 90px;"/>
            <!--<h4 style="color: white;font-weight: bold;margin-top:0">bluenumber</h4>-->
            <!--<h3 style="color: #ffffff;">-->
                <!--<i class="ion-folder"></i>&nbsp;Add Thing-->
            <!--</h3>-->
            <h3 style="color: #ffffff;">{{'THANKS_FOR_SIGNING_UP' | translate }}</h3>
            <!--<button class="button button-small" style="font-size:x-large;color:#0c60ee" ng-click="goToHome()">-->
                <!--Go to dashboard-->
            <!--</button>-->
        </div>
        <div class="row">
           <div class="col center">
               <button class="button button-small" style="font-size:x-large;color:#0c60ee" ng-click="goToHome()">
                   {{'GO_TO_LOGIN' | translate }}
               </button>
           </div>
       </div>
    </ion-content>
</ion-modal-view>