<ion-modal-view style="z-index:100">
    <ion-header-bar class="bar bar-header blue-bg" style="border-color:gray;" >
        <button ng-click="hideGroupAddModal()" style="color:white" class="button back-button buttons  button-clear header-item">
            <i class="icon ion-android-arrow-back"></i>
            <span class="back-text"></span>
        </button>
        <h1 class="title" style="max-width:none;text-align: left !important;left: 23px !important;right:0 !important;
}" >{{'ADD_GROUP' | translate }}</h1>
    </ion-header-bar>
    <form name="addGroupForm">
    <ion-content scroll="true" class="has-header blueno-bg-full has-footer">
        <div ng-cloak class="list" ng-style="{'height':(deviceHeight-96)+'px'}" style="overflow: scroll;width: 100%;padding: 0;">

            <label class="item item-input item-stacked-label no-border label-padding" >
                    <span class="input-label label-text "  style="color:white">{{'NAME' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                <input type="text" ng-required="true" name="groupName" ng-model="group.name"  class="edit-input-txt"  />
            </label>
            <label class="item item-input item-stacked-label no-border label-padding" >
                    <span class="input-label label-text "  style="color:white">{{'GROUP_TYPE' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                <select style="width: 100%" ng-required="true" ng-model="group.type" name="groupType">
                    <option ng-repeat="obj in groupsType" value="{{obj.name}}">{{obj.name}}</option>
                </select>
            </label>

            <label class="item item-input item-stacked-label no-border label-padding" >
                    <span class="input-label label-text "  style="color:white">{{'RELATIONSHIP' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                <select style="width: 100%" ng-required="true" ng-model="group.relationship" name="relationship">
                    <option value="Owner" >{{'OWNER' | translate }}</option>
                    <option value="Employee" >{{'EMPLOYEE' | translate }}</option>
                    <option value="Buyer" >{{'BUYER' | translate }}</option>
                    <option value="Selle" >{{'SELLER' | translate }}</option>
                </select>
            </label>


            <label class="item item-input item-stacked-label no-border label-padding" >
                <span class="input-label label-text "  style="color:white">{{'LOCATION' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                <select style="width: 100%" ng-model="group.location" ng-required="true" ng-change="updateLocationFields(group.location)" name="location">
                    <option ng-repeat="obj in myLocations" value="{{obj}}">{{obj.LocationType+"("+obj.LocationName+")"}}</option>
                    <option value="current">{{'MY_CURRENT_LOCATION'|translate}}</option>
                    <option value="manual">{{'ENTER_ADDRESS'|translate}}</option>
                </select>
            </label>


            <label class="item item-input item-stacked-label no-border label-padding" ng-if="enableAddressFields">
                <span class="input-label label-text "  style="color:white">{{'ADDRESS' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                <input type="text" ng-required="true" class="edit-input-txt"  ng-model="group.address" name="address"/>
            </label>

            <label class="item item-input item-stacked-label no-border label-padding" ng-if="enableAddressFields" >
                <span class="input-label label-text "  style="color:white">{{'CITY' | translate }}
                    <!--<span class="assertive " style="font-size: inherit">* </span>-->
                </span>
                <input type="text"   ng-model="group.city" class="edit-input-txt" name="city" />
            </label>

            <label class="item item-input item-stacked-label no-border label-padding" ng-if="enableAddressFields" >
                <span class="input-label label-text "  style="color:white">{{'COUNTRY' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                <select style="width: 100%" ng-model="group.country" ng-required="true"  ng-change="changeSubdivision(group.country)" name="country">
                    <option
                            ng-selected="obj.CountryCode == addressDataFromCoordinate.userCountry.CountryCode"
                            ng-repeat="obj in countryCodeList" value="{{ obj.CountryCode }}">{{obj.CountryName}}</option>
                </select>
            </label>

            <label class="item item-input item-stacked-label no-border label-padding" ng-if="enableAddressFields" >
                <span class="input-label label-text "  style="color:white">{{'STATE' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                <select style="width: 100%" ng-model="group.state" ng-required="subDivList.length!=0?true:false"  name="state">
                    <option
                            ng-selected="obj.SubdivisionName == addressDataFromCoordinate.userState.SubdivisionName"
                            ng-repeat="obj in subDivList" value="{{ obj.SubdivisionCode }}">{{obj.SubdivisionName}}</option>
                </select>

            </label>
            <label class="item item-input item-stacked-label no-border label-padding" ng-if="enableAddressFields">
                <span class="input-label label-text "  style="color:white">{{'LATITUDE' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                <input class="edit-input-txt" ng-model="group.latitude" name="latitude"   type="number"/>
            </label>

            <label class="item item-input item-stacked-label no-border label-padding" ng-if="enableAddressFields">
                <span class="input-label label-text "  style="color:white">{{'LONGITUDE' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                <input class="edit-input-txt" ng-model="group.longitude" name="longitude"   type="number"/>
            </label>

            </div>


    </ion-content>
    <ion-footer-bar  class="text-center bar-stable blue-bg" style="border:none;padding:0 !important;" >
        <div  class="button-bar">
            <button  ng-disabled="addGroupForm.$invalid" class="button no-border lgt-blue-btn button-small" type="submit"  ng-click="createAndUpdateGroup()" style="font-size: 20px;">
                {{'CREATE' | translate }}
            </button>
        </div>
    </ion-footer-bar>
    </form>
</ion-modal-view>