<ion-modal-view  >
    <ion-content has-bouncing="true" class="blueno-bg">
        <!--<img src="../../assets/img/background_img.png" style="position:absolute;height: 100%;width: 100%;">-->
        <div class="center" style=";width: inherit;height: auto;padding-top:25px" >
            <img ng-src="{{bgUrl}}" style="height: 90px;width: 90px;"/>
            <!--<h4 style="color: white;font-weight: bold;margin-top:0">bluenumber</h4>-->
            <h3 style="color: #ffffff;">
                <i class="ion-person-stalker"></i>&nbsp;Add Group
            </h3>
        </div>
        <form name="addGroupForm">
            <div class="row">
                <div class="col center" >
                    <input type="text" ng-required="true" ng-model="data.groupName" placeholder="Name" class="input-txt" style="margin-top: 10px;width:80%" />
                </div>
            </div>
            <div class="row">
                <div class="col center">
                    <select style="width: 80%" ng-required="true" ng-model="data.groupType">
                        <option value="" disabled selected>Group Type</option>
                        <option value="Company, Cooperative">Company, Cooperative</option>
                        <option value="Government Organization">Government Organization</option>
                        <option value="Standards Organization">Standards Organization</option>
                        <option value="Research Organization">Research Organization</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col center">
                    <select style="width: 80%" ng-required="true" ng-model="data.groupSubType">
                        <option value="" disabled selected>Sub Type</option>
                        <option value="Sector" >Sector</option>
                        <option value="Department or ministry" >Department or ministry</option>
                        <option value="Cause or issue" >Cause or issue</option>
                        <option value="Commodity or raw material" >Commodity or raw material</option>
                        <option value="By research interest" >By research interest</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col center">
                    <select style="width: 80%" ng-required="true" ng-model="data.groupRelationship">
                        <option value="" disabled selected>Relationship</option>
                        <option value="Owner" >Owner</option>
                        <option value="Employee" >Employee</option>
                        <option value="Buyer" >Buyer</option>
                        <option value="Selle" >Selle</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col center">
                    <select style="width: 80%" ng-model="data.groupLocation" ng-required="true" >
                        <option value="OtherGroupLocation">Other</option>
                        <option ng-repeat="obj in workLocations" value="{{obj}}">{{obj.name}}</option>
                    </select>
                </div>
            </div>

            <!--Manual location for group-->
            <div  ng-if="data.groupLocation=='OtherGroupLocation'" class="row no-padding">
                <div class="col col-center center no-padding" >
                    <div class="row">
                        <div class="col center" >
                            <input type="text" ng-required="true" class="input-txt" placeholder="Address" ng-model="data.otherGroupAddress"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col center" >
                            <input type="text" ng-required="true" placeholder="City/Town" ng-model="data.otherGroupCity" class="input-txt"  />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col center" >
                            <!--<input type="text" ng-required="true" ng-model="data.selectedCountry.CountryName" placeholder="Country" class="input-txt" />-->
                            <select style="width: 80%" ng-model="data.otherGroupCountry" ng-required="true"  ng-options="obj.CountryName for obj in countryCodeList" ng-change="changeSubdivision(data.otherGroupCountry)">
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col center" >
                            <select style="width: 80%" ng-model="data.otherGroupState" ng-required="subDivList.length!=0?true:false"  ng-options="obj.SubdivisionName for obj in subDivList">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="col col-center center" >
                    <div class="button  lgt-blue-btn" style="height: 40px;width:130px;" ng-click="goToInviteFamily()" >
                        <i class=" ion-arrow-right-b" style="font-size: 25px;line-height:47px"></i>
                    </div>
                </div>
            </div>
        </form>
        <!--<div class="row" style="">-->
            <!--<div class="col col-center center" >-->
                <!--<a style="font-size:larger;color: white;text-decoration: underline" ng-click="skipToGroup()">Skip</a>-->
            <!--</div>-->
        <!--</div>-->
    </ion-content>
</ion-modal-view>