<ion-modal-view style="z-index:100">
    <ion-header-bar class="bar bar-header blue-bg" style="border-color:gray;" ng-if="isFromSetting">
        <button ng-click="hideGroupAddModal()" style="color:white" class="button back-button buttons  button-clear header-item">
            <i class="icon ion-android-arrow-back"></i>
            <span class="back-text"></span>
        </button>
        <h1 class="title" style="max-width:none;text-align: left !important;left: 23px !important;right:0 !important;
}" >{{'ADD_GROUP' | translate }}</h1>
    </ion-header-bar>
    <form name="addGroupForm">
    <ion-content scroll="true" class="blueno-bg-full has-footer" ng-class="{'has-header':isFromSetting}">
        <div class="center" style=";width: inherit;height: auto;padding-top:15px"  ng-if="!isFromSetting">
            <h3 style="color: #ffffff;">
                <i class="ion-person-stalker"></i>&nbsp;{{'ADD_GROUP' | translate }}
            </h3>
        </div>

        <div ng-cloak class="list" ng-style="{'height':(deviceHeight-96)+'px'}" style="overflow: scroll;width: 100%;padding: 0;">

            <label class="item item-input item-stacked-label no-border label-padding" >
                    <span class="input-label label-text "  style="color:white">{{'NAME' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                <input type="text" ng-required="true" name="groupName" ng-model="data.groupName"  class="edit-input-txt"  />
            </label>
            <label class="item item-input item-stacked-label no-border label-padding" >
                    <span class="input-label label-text "  style="color:white">{{'GROUP_TYPE' | translate }}
                        <!--<span class="assertive " style="font-size: inherit">* </span>-->
                    </span>
                <select style="width: 100%" ng-required="true" ng-model="data.groupType">
                    <option value="Company">{{'COMPANY' | translate }}</option>
                    <option value="Cooperative">{{'COOPERATIVE' | translate }}</option>
                    <option value="Cooperative">{{'NON_GOVT_ORG' | translate }}</option>
                    <option value="Cooperative">{{'NON_PROFIT_ORG' | translate }}</option>
                    <option value="Government Organization">{{'GOVT_ORG' | translate }}</option>
                    <option value="Standards Organization">{{'STND_ORG' | translate }}</option>
                    <option value="Research Organization">{{'RESEARCH_ORG' | translate }}</option>
                </select>
            </label>
            <label class="item item-input item-stacked-label no-border label-padding" >
                    <span class="input-label label-text "  style="color:white">{{'SUB_TYPE' | translate }}
                    </span>
                <select style="width: 100%" ng-required="true" ng-model="data.groupSubType">
                    <option value="Sector" >{{'SECTOR' | translate }}</option>
                    <option value="Department or ministry" >{{'DEPT_OF_MIN' | translate }}</option>
                    <option value="Cause or issue" >{{'CAUSE_OR_ISSUE' | translate }}</option>
                    <option value="Commodity or raw material" >{{'COMMODITY_RAW_MATERIAL' | translate }}</option>
                    <option value="By research interest" >{{'BY_RESEARCH_INTEREST' | translate }}</option>
                </select>
            </label>


            <label class="item item-input item-stacked-label no-border label-padding" >
                    <span class="input-label label-text "  style="color:white">{{'RELATIONSHIP' | translate }}
                        <!--<span class="assertive " style="font-size: inherit">* </span>-->
                    </span>
                <select style="width: 100%" ng-required="true" ng-model="data.groupRelationship">
                    <option value="Owner" >{{'OWNER' | translate }}</option>
                    <option value="Employee" >{{'EMPLOYEE' | translate }}</option>
                    <option value="Buyer" >{{'BUYER' | translate }}</option>
                    <option value="Selle" >{{'SELLER' | translate }}</option>
                </select>
            </label>


            <label class="item item-input item-stacked-label no-border label-padding" >
                <span class="input-label label-text "  style="color:white">{{'LOCATION' | translate }}
                    <!--<span class="assertive " style="font-size: inherit">* </span>-->
                </span>
                <select style="width: 100%" ng-model="data.groupLocation" ng-required="true" >
                    <option ng-repeat="obj in myLocations" value="{{obj}}">{{obj.LocationType+"("+obj.LocationName+")"}}</option>
                    <option value="OtherGroupLocation">{{'OTHER' | translate }}</option>
                </select>
            </label>


            <label class="item item-input item-stacked-label no-border label-padding" ng-if="data.groupLocation=='OtherGroupLocation'" >
                <span class="input-label label-text "  style="color:white">{{'ADDRESS' | translate }}
                    <!--<span class="assertive " style="font-size: inherit">* </span>-->
                </span>
                <input type="text" ng-required="true" class="edit-input-txt"  ng-model="data.otherGroupAddress"/>
            </label>

            <label class="item item-input item-stacked-label no-border label-padding" ng-if="data.groupLocation=='OtherGroupLocation'" >
                <span class="input-label label-text "  style="color:white">{{'CITY' | translate }}
                    <!--<span class="assertive " style="font-size: inherit">* </span>-->
                </span>
                <input type="text" ng-required="true"  ng-model="data.otherGroupCity" class="edit-input-txt"  />
            </label>

            <label class="item item-input item-stacked-label no-border label-padding" ng-if="data.groupLocation=='OtherGroupLocation'" >
                <span class="input-label label-text "  style="color:white">{{'COUNTRY' | translate }}
                    <!--<span class="assertive " style="font-size: inherit">* </span>-->
                </span>
                <select style="width: 100%" ng-model="data.otherGroupCountry" ng-required="true"  ng-options="obj.CountryName for obj in countryCodeList" ng-change="changeSubdivision(data.otherGroupCountry.CountryCode)">
                </select>
            </label>

            <label class="item item-input item-stacked-label no-border label-padding" ng-if="data.groupLocation=='OtherGroupLocation'" >
                <span class="input-label label-text "  style="color:white">{{'STATE' | translate }}
                    <!--<span class="assertive " style="font-size: inherit">* </span>-->
                </span>
                <select style="width: 100%" ng-model="data.otherGroupState" ng-required="subDivList.length!=0?true:false"  ng-options="obj.SubdivisionName for obj in subDivList">
                </select>
            </label>

            </div>


    </ion-content>
    <ion-footer-bar  class="text-center bar-stable blue-bg" style="border:none;padding:0 !important;" >
        <div  class="button-bar">
            <button class="button no-border lgt-blue-btn button-small" type="submit"  ng-click="skipToSuccess()" style="font-size: 20px;">
                {{'Skip' | translate }} &nbsp;
            </button>
            <button ng-if="isFromSetting" ng-disabled="addGroupForm.$invalid" class="button no-border lgt-blue-btn button-small" type="submit"  ng-click="createAndUpdateGroup()" style="font-size: 20px;">
                {{'CREATE' | translate }}
            </button>
            <button ng-if="!isFromSetting" ng-disabled="addGroupForm.$invalid" class="button no-border lgt-blue-btn button-small" type="submit"  ng-click="goToInviteFamily()" style="font-size: 20px;">
                {{'Next' | translate }} &nbsp;<i class=" ion-arrow-right-b" style="font-size: 20px;"></i>
            </button>

        </div>
    </ion-footer-bar>
    </form>
</ion-modal-view>