<ion-modal-view>
    <ion-header-bar class="bar bar-header blue-bg no-border">
        <button ng-click="hideThingAddModal()" style="color:white"
                class="button back-button buttons  button-clear header-item">
            <i class="icon ion-android-arrow-back"></i>
            <span class="back-text"></span>
        </button>
        <h1 class="title" style=" max-width:none;text-align: center !important;">{{'ADD_THING' | translate }}</h1>
    </ion-header-bar>
    <form name="addThingForm">
        <ion-content scroll="true" class="blueno-bg-full has-footer has-header">
            <div class="list" ng-style="{'height':(deviceHeight-96)+'px'}"
                 style="overflow: scroll;width: 100%;padding: 0;">

                <div class="item  center bg-transparent no-border" style="padding: 10px 0 0 0;">
                <span style="color:rgba(0,0,0,.6); font-size: 14px;">
                  (<span style="color:rgba(239,71,58,.8);font-size: 12px;vertical-align: middle;"
                         class="ion-asterisk"></span>
                  <span style="color:rgba(0,0,0,.6);font-size: initial">&nbsp;{{'DENOTES_REQUIRED_FIELDS' | translate}}</span>)
                </span>
                </div>
                <label class="item item-input item-stacked-label no-border label-padding">
                    <span class="input-label label-text " style="color:white">{{'ASSET_NAME' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                    <input type="text" ng-required="true" name="assetName" class="edit-input-txt"
                           ng-model="thing.assetName"/>
                    <span class="validation-font wrap-content"
                          ng-show="addThingForm.assetName.$error.required && addThingForm.assetName.$touched">
                        {{'REQUIRED'| translate}}
                    </span>
                </label>
                <label class="item item-input item-stacked-label no-border label-padding">
                    <span class="input-label label-text " style="color:white">{{'EQUIPMENT_TYPE' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                    <select style="background:none;display: inherit;border: none;width: 100%;color:#3A5997"
                            class="edit-input-txt" ng-model="thing.equipType" ng-required="true" name="assetType"
                            ng-change="workTypeChange()">
                        <option selected disabled value="">{{'SELECT_THING_TYPE' | translate}}</option>
                        <option ng-repeat="obj in thingsType" value="{{obj.id}}">{{obj.name}}</option>
                    </select>
                    <span class="validation-font wrap-content"
                          ng-show="addThingForm.assetType.$error.required && addThingForm.assetType.$touched">
                        {{'REQUIRED'| translate}}
                    </span>
                </label>
                <label class="item item-input item-stacked-label no-border label-padding" ng-if="enableCrop">
                    <span class="input-label label-text " style="color:white">{{'CROP' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                    <select style="background:none;display: inherit;border: none;width: 100%;color:#3A5997"
                            class="edit-input-txt" ng-model="thing.crop" ng-required="true" name="product">
                        <option selected disabled value="">{{'SELECT_CROP' | translate}}</option>
                        <option ng-repeat="obj in productList | orderBy:'H3Description'" value="{{obj.H3Code}}">
                            {{obj.H3Description}}
                        </option>
                    </select>
                    <span class="validation-font wrap-content"
                          ng-show="addThingForm.product.$error.required && addThingForm.product.$touched">
                        {{'REQUIRED'| translate}}
                    </span>
                </label>
                <label class="item item-input item-stacked-label no-border label-padding" ng-if="enableCrop">
                    <span class="input-label label-text " style="color:white">{{'HECTARE' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                    <input type="number" class="edit-input-txt" ng-model="thing.hectare" ng-required="true"
                           name="hectares"/>
                    <span class="validation-font wrap-content"
                          ng-show="addThingForm.hectares.$error.required && addThingForm.hectares.$touched">
                        {{'REQUIRED'| translate}}
                    </span>

                </label>
                <label class="item item-input item-stacked-label no-border label-padding" ng-if="enableAddressFields">
                    <span class="input-label label-text " style="color:white">{{'ADDRESS' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                    <input type="text" ng-required="true" class="edit-input-txt" ng-model="thing.address" name="address"/>
                    <span class="validation-font wrap-content"
                          ng-show="addThingForm.address.$error.required && addThingForm.address.$touched">
                        {{'REQUIRED'| translate}}
                    </span>
                </label>

                <label class="item item-input item-stacked-label no-border label-padding" ng-if="enableAddressFields">
                    <span class="input-label label-text " style="color:white">{{'CITY' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                    <input type="text" ng-required="true"  ng-pattern="/^[a-zA-Z\s]*$/" ng-model="thing.city" class="edit-input-txt" name="city"/>
                    <span class="assertive validation-font wrap-content" ng-show="addThingForm.city.$error.pattern && !addThingForm.city.$pristine">
                      {{'INVALID' | translate}} &nbsp;{{'CITY' | translate}}
                    </span>
                        <span class="assertive validation-font wrap-content" ng-show="addThingForm.city.$error.required && !addThingForm.city.$pristine">
                       {{'REQUIRED' | translate}}
                    </span>
                </label>

                <label class="item item-input item-stacked-label no-border label-padding" ng-if="enableAddressFields">
                    <span class="input-label label-text " style="color:white">{{'COUNTRY' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                    <select style="background:none;display: inherit;border: none;width: 100%;color:#3A5997"
                            class="edit-input-txt" ng-model="thing.country" ng-required="true"
                            ng-change="changeSubdivision(thing.country)">
                        <option selected disabled value="">{{'SELECT_COUNTRY' | translate}}</option>
                        <option ng-selected="obj.CountryCode == addressDataFromCoordinate.userCountry.CountryCode"
                                ng-repeat="obj in countryCodeList" value="{{ obj.CountryCode }}">{{obj.CountryName}}
                        </option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label no-border label-padding" ng-if="enableAddressFields">
                    <span class="input-label label-text " style="color:white">{{'STATE' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                    <select style="background:none;display: inherit;border: none;width: 100%;color:#3A5997"
                            class="edit-input-txt" ng-model="thing.state">
                        <option selected disabled value="">{{'SELECT_STATE' | translate}}</option>
                        <option ng-selected="obj.SubdivisionName == addressDataFromCoordinate.userState.SubdivisionName"
                                ng-repeat="obj in subDivList" value="{{ obj.SubdivisionCode }}">{{obj.SubdivisionName}}
                        </option>
                    </select>
                </label>
            </div>
        </ion-content>
        <ion-footer-bar class="text-center bar-stable blue-bg no-border">
            <div class="button-bar">
                <button type="button" class="button  button-light button-clear bold" ng-click="hideThingAddModal()">
                    {{'CANCEL' | translate }}
                </button>&nbsp;
                <button ng-disabled="addThingForm.$invalid" class="button  button-light button-clear bold" type="submit"
                        ng-click="createThing()">
                    {{'SAVE' | translate }}
                </button>

            </div>
        </ion-footer-bar>
    </form>
</ion-modal-view>
