<ion-modal-view  >
    <ion-content has-bouncing="true" class="blueno-bg">
            <div class="center" style="width: inherit;height: auto;padding-top:15px" >
                <!--<img ng-src="{{bgUrl}}" style="height: 90px;width: 90px;"/>-->
                <!--<h4 style="color: white;font-weight: bold;margin-top:0">bluenumber</h4>-->
                <h3 style="color: #ffffff;">
                    <i class="ion-folder"></i>&nbsp;{{'ADD_THING' | translate }}
                </h3>
            </div>
            <form name="addThingForm">
                <div class="list" ng-style="{'height':(deviceHeight-96)+'px'}" style="
    overflow: scroll;
    width: 100%;
    padding: 0;">
                <!--<div class="row">-->
                    <!--<div class="col center" style=";">-->
                        <!--<select style="margin-top: 10px;width: 80%" ng-model="data.equipType" ng-required="true">-->
                            <!--<option value="" disabled selected>{{'EQUIPMENT_TYPE' | translate }}</option>-->
                            <!--&lt;!&ndash;<option value="Farm or pasture land">Farm or pasture land</option>&ndash;&gt;-->
                            <!--<option value="Fishing boat">{{'FISHING_BOAT' | translate }}</option>-->
                            <!--<option value="Fishery">{{'FISHERY' | translate }}</option>-->
                            <!--<option value="Equipment (agriculture)">{{'EQUIPMENT_AGRICULTURE' | translate }}</option>-->
                            <!--<option value="Equipment (fishing)">{{'EQUIPMENT_FISHING' | translate }}</option>-->
                            <!--<option value="Consumer Product">{{'CONSUMER_PRODUCT' | translate }}</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <label class="item item-input item-stacked-label no-border lebel-padding" >
                    <span class="input-label label-text "  style="color:white">{{'EQUIPMENT_TYPE' | translate }}
                        <!--<span class="assertive " style="font-size: inherit">* </span>-->
                    </span>
                    <select style="width: 100%" ng-model="data.equipType" ng-required="true">
                        <!--<option value="Farm or pasture land">Farm or pasture land</option>-->
                        <option value="Fishing boat">{{'FISHING_BOAT' | translate }}</option>
                        <option value="Fishery">{{'FISHERY' | translate }}</option>
                        <option value="Equipment (agriculture)">{{'EQUIPMENT_AGRICULTURE' | translate }}</option>
                        <option value="Equipment (fishing)">{{'EQUIPMENT_FISHING' | translate }}</option>
                        <option value="Consumer Product">{{'CONSUMER_PRODUCT' | translate }}</option>
                    </select>
                </label>

                <!--<div class="row">-->
                    <!--<div class="col center">-->
                        <!--<select style="width: 80%" ng-model="data.equipRelationship" ng-required="true">-->
                            <!--<option value="" disabled selected >{{'RELATIONSHIP' | translate }}</option>-->
                            <!--<option value="Worker">{{'WORKER' | translate }}</option>-->
                            <!--<option value="Owner">{{'OWNER' | translate }}</option>-->
                            <!--<option value="Lessor">{{'LESSOR' | translate }}</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <label class="item item-input item-stacked-label no-border lebel-padding" >
                    <span class="input-label label-text "  style="color:white">{{'RELATIONSHIP' | translate }}
                        <!--<span class="assertive " style="font-size: inherit">* </span>-->
                    </span>
                    <select style="width: 100%" ng-model="data.equipRelationship" ng-required="true">
                        <option value="Worker">{{'WORKER' | translate }}</option>
                        <option value="Owner">{{'OWNER' | translate }}</option>
                        <option value="Lessor">{{'LESSOR' | translate }}</option>
                    </select>
                </label>

                <!--<div class="row">-->
                    <!--<div class="col center">-->
                        <!--<select style="width: 80%" ng-model="data.equipWhere" ng-required="true" >-->
                            <!--<option value="OtherThingLocation">{{'OTHER' | translate }}</option>-->
                            <!--<option ng-repeat="obj in workLocations" value="{{obj}}">{{obj.name}}</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->

                <label class="item item-input item-stacked-label no-border lebel-padding" >
                    <span class="input-label label-text "  style="color:white">{{'LOCATION' | translate }}
                        <!--<span class="assertive " style="font-size: inherit">* </span>-->
                    </span>
                    <select style="width: 100%" ng-model="data.equipWhere" ng-required="true" >
                        <option value="OtherThingLocation">{{'OTHER' | translate }}</option>
                        <option ng-repeat="obj in myLocations" value="{{obj}}">{{obj.LocationName}}</option>
                    </select>
                </label>

                <label class="item item-input item-stacked-label no-border lebel-padding"  ng-if="data.equipWhere=='OtherThingLocation'">
                    <span class="input-label label-text "  style="color:white">{{'ADDRESS' | translate }}
                        <!--<span class="assertive " style="font-size: inherit">* </span>-->
                    </span>
                    <input type="text" ng-required="true" class="edit-input-txt" ng-model="data.otherThingAddress"/>
                </label>

                <label class="item item-input item-stacked-label no-border lebel-padding"  ng-if="data.equipWhere=='OtherThingLocation'">
                    <span class="input-label label-text "  style="color:white">{{'CITY' | translate }}
                        <!--<span class="assertive " style="font-size: inherit">* </span>-->
                    </span>
                    <input type="text" ng-required="true" ng-model="data.otherThingCity" class="edit-input-txt"  />
                </label>

                <label class="item item-input item-stacked-label no-border lebel-padding"  ng-if="data.equipWhere=='OtherThingLocation'">
                    <span class="input-label label-text "  style="color:white">{{'COUNTRY' | translate }}
                        <!--<span class="assertive " style="font-size: inherit">* </span>-->
                    </span>
                    <select style="width: 100%" ng-model="data.otherThingCountry" ng-required="true"  ng-options="obj.CountryName for obj in countryCodeList" ng-change="changeSubdivision(data.otherThingCountry)">
                    </select>
                </label>

                <label class="item item-input item-stacked-label no-border lebel-padding"  ng-if="data.equipWhere=='OtherThingLocation'">
                    <span class="input-label label-text "  style="color:white">{{'STATE' | translate }}
                        <!--<span class="assertive " style="font-size: inherit">* </span>-->
                    </span>
                    <select style="width: 100%" ng-model="data.otherThingState" ng-required="subDivList.length!=0?true:false"  ng-options="obj.SubdivisionName for obj in subDivList">
                    </select>
                </label>



                    </div>
            </form>

    </ion-content>
    <ion-footer-bar ng-disabled="addThingForm.$invalid" class="text-center bar-stable blue-bg" style="background: transparent !important;border:none;padding:0px !important;" >
        <div  class="button-bar">
            <button class="button no-border lgt-blue-btn button-small" type="submit"  ng-click="skipToGroup()" style="font-size: 20px;">
                {{'Skip' | translate }} &nbsp;
            </button>
            <button class="button no-border lgt-blue-btn button-small" type="submit"  ng-click="goToGroup()" style="font-size: 20px;">
                {{'Next' | translate }} &nbsp;<i class=" ion-arrow-right-b" style="font-size: 20px;"></i>
            </button>
            <!--<button type="button" class="button button-clear button-light bold" ng-click="">-->
            <!--<{{'Next' | translate }} <i class="ion-arrow-right-b"></i>-->
            <!--</button>-->
        </div>
    </ion-footer-bar>
</ion-modal-view>