<ion-modal-view  >
    <ion-content has-bouncing="true" class="blueno-bg">
            <div class="center" style="width: inherit;height: auto;padding-top:25px" >
                <img ng-src="{{bgUrl}}" style="height: 90px;width: 90px;"/>
                <!--<h4 style="color: white;font-weight: bold;margin-top:0">bluenumber</h4>-->
                <h3 style="color: #ffffff;">
                    <i class="ion-folder"></i>&nbsp;Add Thing
                </h3>
            </div>
            <form name="addThingForm">
                <div class="row">
                    <div class="col center" style=";">
                        <select style="margin-top: 10px;width: 80%" ng-model="data.equipType" ng-required="true">
                            <option value="" disabled selected>Equipment Type</option>
                            <!--<option value="Farm or pasture land">Farm or pasture land</option>-->
                            <option value="Fishing boat">Fishing boat</option>
                            <option value="Fishery">Fishery</option>
                            <option value="Equipment (agriculture)">Equipment (agriculture)</option>
                            <option value="Equipment (fishing)">Equipment (fishing)</option>
                            <option value="Consumer Product">Consumer Product</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col center">
                        <select style="width: 80%" ng-model="data.equipRelationship" ng-required="true">
                            <option value="" disabled selected >Relationship</option>
                            <option value="Worker">Worker</option>
                            <option value="Owner">Owner</option>
                            <option value="Lessor">Lessor</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col center">
                        <select style="width: 80%" ng-model="data.equipWhere" ng-required="true" >
                            <option value="OtherThingLocation">Other</option>
                            <option ng-repeat="obj in workLocations" value="{{obj}}">{{obj.name}}</option>
                        </select>
                    </div>
                </div>
                <!--Show address for manual entry in the case of other-->
                <div  ng-if="data.equipWhere=='OtherThingLocation'" class="row no-padding">
                    <div class="col col-center center no-padding" >
                        <div class="row">
                            <div class="col center" >
                                <input type="text" ng-required="true" class="input-txt" placeholder="Address" ng-model="data.otherThingAddress"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col center" >
                                <input type="text" ng-required="true" placeholder="City/Town" ng-model="data.otherThingCity" class="input-txt"  />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col center" >
                                <!--<input type="text" ng-required="true" ng-model="data.selectedCountry.CountryName" placeholder="Country" class="input-txt" />-->
                                <select style="width: 80%" ng-model="data.otherThingCountry" ng-required="true"  ng-options="obj.CountryName for obj in countryCodeList" ng-change="changeSubdivision(data.otherThingCountry)">
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col center" >
                                <select style="width: 80%" ng-model="data.otherThingState" ng-required="subDivList.length!=0?true:false"  ng-options="obj.SubdivisionName for obj in subDivList">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col col-center center" >
                        <button class="button  lgt-blue-btn" style="height: 40px;width:130px;" ng-click="goToGroup()" >
                            <i class=" ion-arrow-right-b" style="font-size: 25px;line-height:47px"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="row" style="">
                <div class="col col-center center" >
                    <a style="font-size:larger;color: white;text-decoration: underline" ng-click="skipToGroup()">Skip</a>
                </div>
            </div>
    </ion-content>
</ion-modal-view>