<ion-modal-view  style="z-index:8">
    <ion-header-bar class="bar bar-header blue-bg" style="border-color:gray;" >
        <button ng-click="hideWorkAddModal()" style="color:white" class="button back-button buttons  button-clear header-item">
            <i class="icon ion-android-arrow-back"></i>
            <span class="back-text"></span>
        </button>
        <h1 class="title" style="max-width:none;text-align: left !important;left: 23px !important;right:0px !important;
}" >{{'ADD_WORK_PLACE' | translate }}</h1>
    </ion-header-bar>
    <form name="addWorkForm">
    <ion-content scroll="true" class="blueno-bg-full has-footer has-header" >
        <div class="list" ng-style="{'height':(deviceHeight-96)+'px'}" style=" overflow: scroll;width: 100%;padding: 0;">
                <!--Work place type-->
            <label class="item item-input item-stacked-label no-border label-padding" >
                    <span class="input-label label-text " style="color:white">{{'NAME' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                <input type="text" ng-required="true" class="edit-input-txt" ng-model="work.name"/>
            </label>
            <label class="item item-input item-stacked-label no-border label-padding" >
                <span class="input-label label-text " style="color:white">{{'PRODUCT' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                <select style="width: 100%;" ng-model="work.crop" ng-required="true"
                        ng-options="obj.H3Description for obj in productList track by obj.H3Code">
                </select>
            </label>
                <!--<label class="item item-input item-stacked-label no-border label-padding">-->
                    <!--<span class="input-label label-text "  style="color:white">{{'WORK_PLACE_TYPE' | translate }}-->
                        <!--<span class="assertive " style="font-size: inherit">* </span>-->
                    <!--</span>-->

                    <!--<select ng-model="work.type" style="width: 100%;" ng-change="workTypeChange()" ng-required="true">-->
                        <!--<option value="{{type.name}}" ng-repeat="type in workTypes">{{type.name}}</option>-->
                    <!--</select>-->
                <!--</label>-->
                <!--<label class="item item-input item-stacked-label no-border label-padding" >-->
                    <!--<span class="input-label label-text "  style="color:white">{{'RELATIONSHIP' | translate }}-->
                        <!--<span class="assertive " style="font-size: inherit">* </span>-->
                    <!--</span>-->
                    <!--<select style="width: 100%;" ng-model="work.relationship"  ng-required="true">-->
                        <!--<option value="Worker">{{'WORKER' | translate }}</option>-->
                        <!--<option value="Owner">{{'OWNER' | translate }}</option>-->
                        <!--<option value="Lessor">{{'LESSOR' | translate }}</option>-->
                    <!--</select>-->
                <!--</label>-->

                <!--Address-->
                <!--Newly added field which make user to enter manual address-->
                <!--<label class="item item-input item-stacked-label no-border label-padding">-->
                    <!--<span class="input-label label-text "  style="color:white">{{'LOCATION_WHERE' | translate }}-->
                        <!--&lt;!&ndash;<span class="assertive " style="font-size: inherit">* </span>&ndash;&gt;-->
                    <!--</span>-->

                    <!--<select name="location-where" style="width: 100%" ng-model="work.where" ng-required="true"  ng-change="updateLocationFields(work.where)">-->
                        <!--<option ng-repeat="obj in myLocations" value="{{obj}}">-->
                            <!--{{obj.LocationType+"("+obj.LocationName+")"}}-->
                        <!--</option>-->
                        <!--<option value="current">{{'MY_CURRENT_LOCATION'|translate}}</option>-->
                        <!--<option value="manual">{{'ENTER_ADDRESS'|translate}}</option>-->
                    <!--</select>-->
                <!--</label>-->
            <label class="item item-input item-stacked-label no-border label-padding">
                <span class="input-label label-text "  style="color:white">{{'LOCATION_WHERE' | translate }}
                <span class="assertive " style="font-size: inherit">* </span>
                </span>
                <select name="location-where" style="width: 100%" ng-model="work.where" ng-required="true"  ng-change="updateLocationFields(work.where)">
                    <option disabled >{{'SELECT_ONE'| translate}}</option>
                    <option ng-repeat="obj in myLocations" value="{{obj}}">
                        {{obj.LocationType+"("+obj.LocationName+")"}}
                    </option>
                    <option value="current">{{'MY_CURRENT_LOCATION'|translate}}</option>
                    <option value="manual">{{'ENTER_ADDRESS'|translate}}</option>
                </select>
            </label>

            <label class="item item-input item-stacked-label no-border label-padding"  ng-if="enableAddressFields">
                    <span class="input-label label-text "  style="color:white">{{'ADDRESS' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                    <input type="text" ng-required="true" class="edit-input-txt"  ng-model="work.address"/>
                </label>

                <!--CIty-->

                <label class="item item-input item-stacked-label no-border label-padding" ng-if="enableAddressFields">
                    <span class="input-label label-text "  style="color:white">{{'City' | translate }}
                        <!--<span class="assertive " style="font-size: inherit">* </span>-->
                    </span>
                    <input type="text"   ng-model="work.city" class="edit-input-txt"  />
                </label>

                <!--Country-->

            <label class="item item-input item-stacked-label no-border label-padding" ng-if="enableAddressFields">
                <span class="input-label label-text "  style="color:white">{{'COUNTRY' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>

                <select style="width: 100%" ng-model="work.country" ng-required="true"  ng-change="changeSubdivision(work.country)">
                    <option
                            ng-selected="obj.CountryCode == addressDataFromCoordinate.userCountry.CountryCode"
                            ng-repeat="obj in countryCodeList" value="{{ obj.CountryCode }}">{{obj.CountryName}}</option>
                </select>
            </label>
                <!--State-->
            <label class="item item-input item-stacked-label no-border label-padding" ng-if="enableAddressFields">
                <span class="input-label label-text "  style="color:white">{{'STATE' | translate }}
                    <!--<span class="assertive " style="font-size: inherit">{{subDivList.length!=0?"*":""}} </span>-->
                </span>
                <select style="width: 100%" ng-model="work.state" >
                    <option
                            ng-selected="obj.SubdivisionName == addressDataFromCoordinate.userState.SubdivisionName"
                            ng-repeat="obj in subDivList" value="{{ obj.SubdivisionCode }}">{{obj.SubdivisionName}}</option>
                </select>
            </label>

            <!--<label class="item item-input item-stacked-label no-border label-padding" ng-if="enableAddressFields">-->
                <!--<span class="input-label label-text "  style="color:white">{{'LATITUDE' | translate }}-->
                    <!--<span class="assertive " style="font-size: inherit">* </span>-->
                <!--</span>-->
                <!--<input class="edit-input-txt" ng-required="true" ng-model="work.latitude" name="latitude"   type="number"/>-->
            <!--</label>-->

            <!--<label class="item item-input item-stacked-label no-border label-padding" ng-if="enableAddressFields">-->
                <!--<span class="input-label label-text "  style="color:white">{{'LONGITUDE' | translate }}-->
                    <!--<span class="assertive " style="font-size: inherit">* </span>-->
                <!--</span>-->
                <!--<input class="edit-input-txt" ng-required="true" ng-model="work.longitude" name="longitude"   type="number"/>-->
            <!--</label>-->
        </div>

    </ion-content>
    <ion-footer-bar  class="text-center bar-stable blue-bg" style="border:none;padding:0px !important;" >
        <div  class="button-bar">
            <button ng-disabled="addWorkForm.$invalid" ng-disabled="inviteFamilyForm.$invalid" class="button no-border lgt-blue-btn button-small" type="submit"  ng-click="saveWork()" style="font-size: 20px;">
                {{'SUBMIT' | translate }}
            </button>

        </div>
    </ion-footer-bar>
    </form>
</ion-modal-view>