<ion-header-bar align-title="center" class="" style="background-color:#3A5997 !important;" >
    <div class="buttons">
        <button class="button button-clear" style="font-size: 30px;color:white" ng-click="goBack()">
            <i class="ion-android-arrow-back"></i>
        </button>
    </div>
    <h1 class="title">{{'FORGOT_PASSWORD' | translate }}</h1>
    <!--<div class="buttons">-->
    <!--<button class="button">Right Button</button>-->
    <!--</div>-->
</ion-header-bar>
<form name="FPForm" ng-submit="goToPasswordRecreation()">
  <ion-content scroll="true" class="blueno-bg-full has-footer has-header">
      <div class="center" style=";width: inherit;height: auto;padding-top:15px">
          <!--<h3 style="color: #ffffff;">{{'CREATE_AN_ACCOUNT' | translate }}</h3>-->
            <span style="color: rgba(0,0,0,.6) ; font-size: 14px;">
                (&nbsp;<span style="color:rgba(239,71,58,.8);font-size: 12px;" class="ion-asterisk"></span>
                <span style="color: rgba(0,0,0,.6);">&nbsp;{{'DENOTES_REQUIRED_FIELDS' | translate}}</span>&nbsp;)
            </span>
      </div>
    <div class="list"  style="overflow: scroll;width: 100%;padding: 0;">

      <!-- country code -->
      <label class="item item-input item-stacked-label no-border label-padding" style="padding-right:16px;">
          <span class="input-label label-text " style="color:white">{{'COUNTRY' | translate }}
              <span class="assertive " style="font-size: inherit">* </span>
          </span>
          <!-- <select style="width: 100%;font-size:12px;" ng-model="data.selectedCountry" ng-required="true" ng-options="obj.CountryName for obj in countryCodeList" ng-change="selectChange()"> -->
              <!-- <option selected value="" disabled>{{'SELECT_COUNTRY' | translate}}</option> -->
              <!-- <option ng-selected="(obj.CountryCode == addressDataFromCoordinate.userCountry.CountryCode)"-->
                      <!--ng-repeat="obj in countryCodeList" ng-value="obj.CountryPhoneCode">{{obj.CountryName}}-->
              <!--</option> -->
          <!-- </select> -->
          <input ion-autocomplete type="text"
                 readonly="readonly"
                 ng-required="true"
                 name="countryPhoneCode"
                 class="ion-autocomplete"
                 autocomplete="off"
                 template-url="components/menu/views/autoCompleteDrop.html"
                 select-items-label="{{'SELECT_COUNTRY' | translate}}"
                 item-method-value-key="countryCodeList"
                 items-method="getSearchedCountryList(query)"
                 item-view-value-key="CountryName"
                 ng-model="data.selectedCountry"
                 max-selected-items="1"
                 cancel-label="{{'CANCEL' | translate }}"
                 items-clicked-method="clickedMethod(callback)"
                 style="padding-left: 11px;display: block;height: 40px !important;outline: none;color:#3A5997;border: none;border-radius: 0px; border-bottom:1px solid grey;font-size: 18px !important;"
                 placeholder="{{'SEARCH' | translate }}"
             />
      </label>

      <!-- mobile no -->
      <label class="item item-input item-stacked-label no-border label-padding">
          <span class="input-label label-text " style="color:white">{{'MOBILE' | translate }}
              <span class="assertive " style="font-size: inherit">* </span>
          </span>
          <div class="row no-padding">
              <div class="col no-padding">
                  <input class="edit-input-txt" ng-model="data.mobile" name="mobile" ng-required="true"
                         style="font-size:18px;" type="number" ng-minlength="9" ng-maxlength="15"/>
                  <span class="assertive validation-font wrap-content"
                        ng-show="credentialForm.mobile.$error.minlength || credentialForm.mobile.$error.maxlength">{{'INVALID_MOBILE'| translate}}</span>
              </div>
          </div>
      </label>

    </div>
  </ion-content>
  <ion-footer-bar class="text-center bar-stable blue-bg no-border">
      <div class="button-bar">
          <button ng-disabled="FPForm.$invalid" class="button button-clear button-light bold"
                  type="submit"  >
              {{'REQUEST_OTP' | translate }}
          </button>

      </div>
  </ion-footer-bar>
</form>
