<ion-content scroll="true" class="no-margin" ng-style="{'height':deviceHeight-40}" style="background-color: #004192">
    <!--<img src="../../assets/img/background_img.png" style="position:absolute;height: 100%;width: 100%;">-->
    <div style="text-align: center;width: inherit;height: auto;padding-top:120px">
        <img ng-src="{{bgLargeUrl}}" style="height: 150px;width: 150px;"/>

        <h2 style="color: white;font-weight: bold;margin-top:0">{{'BLUENUMBER_SMALL' | translate}}</h2>
        <!--<span style="color:white">{{'VERSION' | translate}}:&nbsp;{{appVersion}}</span>-->
    </div>
    <div class="row" style="margin-top:85px">
        <div class="col center ">
            <div class="button home-page-button"
                 ng-click="openLogin()">
                {{'LOGIN' | translate }}
            </div>
            &nbsp;&nbsp;&nbsp;
            <div class="button home-page-button"
                 ng-click="openRegistration()">
                {{'SIGNUP' | translate }}
            </div>
        </div>

    </div>
    <div class="row" style="margin-top: 10px;">
      <label class="item item-input item-stacked-label no-border" style=" padding-right: 9% !important;
    padding-left: 9% !important;width: 100%" >
              <span class="input-label label-text " style="color:white !important;">{{'LANGUAGE' | translate }}
                  <span class="assertive " style="font-size: inherit">* </span>
              </span>
              <select class="edit-input-select-blue-bg" style="width: 100%;" ng-model="lang.selected" name="language" ng-change="changeLanguage()">
              <option value="" disabled selected>{{'SELECT_LANGUAGE' | translate}}</option>
              <option value="en">English</option>
              <option value="ms">Bahasa Melayu (Malay)</option>
              <option value="vi">Tiếng Việt(Vietnamese)</option>
              <option value="ja">日本語 (にほんご)(Japanese)</option>
              <option value="my">ဗမာစာ (Burmese)</option>
              <option value="th"> ไทย(Thai)</option>
          </select>
      </label>
    </div>
</ion-content>
