<ion-modal-view  >
    <ion-content has-bouncing="true" class="blueno-bg>
        <
            <!--<img src="../../assets/img/background_img.png" style="position:absolute;height: 100%;width: 100%;">-->
            <div class="center" style=";width: inherit;height: auto;padding-top:25px" >
                <img ng-src="{{bgUrl}}" style="height: 90px;width: 90px;"/>
                <!--<h4 style="color: white;font-weight: bold;margin-top:0">bluenumber</h4>-->
                <h3 style="color: #ffffff;">
                    <i class="ion-person-stalker"></i>&nbsp;{{'INVITE_FAMILY' | translate }}
                </h3>
            </div>
            <div class="row">
                <div class="col center" style="margin-top:40px;">
                    <input type="number" placeholder="Type a Mobile Number" class="input-txt" style="margin-top: 10px;" />
                    <select style="margin-top: 10px;">
                        <option value="" disabled selected>{{'RELATIONSHIP' | translate }}</option>
                    </select>


                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="col col-center center" >
                    <div class="button  lgt-blue-btn" style="height: 40px;width:130px;"  >
                        <i class=" ion-arrow-right-b" style="font-size: 25px;line-height:47px"></i>
                    </div>
                </div>
            </div>
            <div class="row" style="">
                <div class="col col-center center" >
                    <a style="font-size:larger;color: white;text-decoration: underline" ng-click="skipToGroup()">{{'SKIP' | translate }}</a>
                </div>
            </div>
    </ion-content>
</ion-modal-view>