<ion-content scroll="true" class="blueno-bg-full no-margin">

      <div class="center" style=";width: inherit;height: auto;padding-top:25px" >
          <img ng-src="{{bgUrl}}" style="height: 90px;width: 90px;"/>
          <h3 style="color: white;font-weight: bold;margin-top:0">{{'BLUENUMBER_SMALL'| translate}}</h3>
          <span style="color:white ; font-size: 20px;">(<span style="color:rgba(239,71,58,.8);font-size: 24px;vertical-align: middle;">*</span><span style="color:white;font-size: initial">&nbsp;{{'DENOTES_REQUIRED_FIELDS' | translate}}</span>)</span>

      </div>
    <form name="loginForm">
    <label class="item item-input item-stacked-label no-border label-padding" style="padding-right:16px;">
            <span class="input-label label-text " style="color:white">{{'COUNTRY_OF_REGISTRATION' | translate }}
                <span class="assertive " style="font-size: inherit">* </span>
            </span>
        <select style="width: 100%;font-size:12px;" ng-model="loginData.phoneCode" ng-required="true">
            <option selected value="" disabled>{{'SELECT_COUNTRY' | translate}}</option>
            <option ng-repeat="obj in countryCodeList" value="{{obj.CountryPhoneCode}}">{{obj.CountryName}}
            </option>
        </select>
    </label>
    <label class="item item-input item-stacked-label no-border label-padding">
        <span class="input-label label-text "  style="color:white">{{'MOBILE' | translate }}
            <span class="assertive " style="font-size: inherit">* </span>
        </span>

        <input type="number" class="edit-input-txt" ng-required="true" name="username" ng-model="loginData.mobile" placeholder="{{'MOBILE' | translate }}" />
    </label>
    <label class="item item-input item-stacked-label no-border label-padding">
        <span class="input-label label-text "  style="color:white">{{'PASSWORD' | translate }}
            <span class="assertive " style="font-size: inherit">* </span>
        </span>

         <input type="password"  ng-model="loginData.password" ng-required="true" name="password" class="edit-input-txt" placeholder="{{'PASSWORD' | translate }}"  />
    </label>
        <div class="row" style="margin-top:20px">
            <div class="col col-center center" >
                <button type="submit" ng-disabled="loginForm.$invalid" class="button" style="width:80%;font-size:x-large;color:#0c60ee" ng-click="doLogin()">
                    {{'LOGIN' | translate }}
                </button>
            </div>
        </div>
    </form>
      <div class="row no-padding" style="margin-top: 10px;">
          <div class="col no-padding col-center center" >
              <button style="font-size:larger;color: white;text-decoration: underline" class="button button-clear" ng-click="openRegistration()">{{'SIGN_UP_FOR_BN' | translate }}</button>

          </div>
      </div>
    <!--<div class="row no-padding" style="margin-top: 10px;">-->
        <!--<div class="col col-center center no-padding" >-->
            <!--<button  class="button button-clear button-outline button-balanced" ng-click="confirmUserAccount()">{{'ACCOUNT_NOT_CONFIRMED' | translate }}</button>-->

        <!--</div>-->
    <!--</div>-->
  </ion-content>
