<ion-header-bar align-title="center" class="" style="background-color:#3A5997 !important;">
    <div class="buttons">
        <button class="button button-clear" style="font-size: 30px;color:white" ng-click="goBack()">
            <i class="ion-android-arrow-back"></i>
        </button>
    </div>
    <h1 class="title">{{'LOGIN' | translate }}</h1>
    <!--<div class="buttons">-->
    <!--<button class="button">Right Button</button>-->
    <!--</div>-->
</ion-header-bar>
<ion-content scroll="true" class="blueno-bg-full no-margin has-header">

      <div class="center" style=";width: inherit;height: auto;padding-top:25px" >
          <img ng-src="{{bgUrl}}" style="height: 90px;width: 90px;"/>
          <!--<h3 style="color: white;font-weight: bold;margin-top:0">{{'BLUENUMBER_SMALL'| translate}}</h3>-->
          <span style="color:rgba(0,0,0,.6) ; font-size: 14px;display: block">
            (<span style="color:rgba(239,71,58,.8);font-size: 12px;vertical-align: middle;" class="ion-asterisk"></span>
            <span style="color:rgba(0,0,0,.6)">&nbsp;{{'DENOTES_REQUIRED_FIELDS' | translate}}</span>)
          </span>

      </div>
    <form name="loginForm">

        <div class="item label-padding no-border">
                <span class="input-label label-text " style="color:white;">
                    {{'MOBILE' | translate }}
                    <span class="assertive " style="font-size: inherit">
                        *
                    </span>
                </span>
            <div class="row no-padding">
                <div class="col no-padding col-20">
                    <div class="" style="color:black;height: 100%;" ng-click="showCountrySearch()">
                        <div class="button button-clear button-small" style="color: black;border-bottom: 1px solid grey;border-radius: 0px;height: 40px;line-height: 40px;font-size: 18px">
                            {{loginData.selectedCountry!=null?loginData.selectedCountry.CountryCode:'US'}}
                            <i class="ion-ios-arrow-down"></i>
                        </div>
                    </div>
                </div>
                <div class="col no-padding col-20">
                    <div class="" style="color:black;height: 100%;">
                        <div class="button button-clear button-small" style="color: black;border-bottom: 1px solid grey;border-radius: 0px;height: 40px;width: 100%;line-height: 40px;font-size: 18px">
                            +{{loginData.selectedCountry!=null?loginData.selectedCountry.CountryPhoneCode:1}}
                        </div>
                    </div>
                </div>
                <div class="col no-padding">
                    <input class="edit-input-txt " ng-model="loginData.mobile" name="username" ng-required="true"
                           style="font-size:18px;width:100%" type="number" ng-minlength="9" ng-maxlength="15" id="mobileNumber" placeholder="{{'MOBILE' | translate }}"/>

                </div>
            </div>
            <div class="row no-padding">
                <div class="col no-padding">
                        <span class="assertive validation-font wrap-content"
                              ng-show="credentialForm.mobile.$error.minlength || credentialForm.mobile.$error.maxlength">{{'INVALID_MOBILE'| translate}}</span>
                </div>
            </div>
        </div>
    <label class="item item-input item-stacked-label no-border label-padding">
        <span class="input-label label-text "  style="color:white">{{'PASSWORD' | translate }}
            <span class="assertive " style="font-size: inherit">* </span>
        </span>

         <input type="password"  ng-model="loginData.password" ng-required="true" name="password" class="edit-input-txt" placeholder="{{'PASSWORD' | translate }}"  />
    </label>
        <div class="row" style="margin-top:20px">
            <div class="col col-center center" >
                <button type="submit" ng-disabled="loginForm.$invalid" class="button" style="width:80%;background-color: #3A5997;font-size:x-large;color:white" ng-click="doLogin()">
                    {{'LOGIN' | translate }}
                </button>
            </div>
        </div>
    </form>

    <div class="row no-padding" style="margin-top: -10px;">
        <div class="col no-padding col-center center" >
            <button style="font-size:larger;color: #3A5997;text-decoration: underline" class="button button-clear" ng-click="forgotPassword()">{{'FORGOT_PASSWORD' | translate }}</button>
        </div>
    </div>

      <!--<div class="row no-padding" style="margin-top: 0px;">-->
          <!--<div class="col no-padding col-center center" >-->
              <!--<button style="font-size:larger;color: white;text-decoration: underline" class="button button-clear" ng-click="openRegistration()">{{'SIGN_UP_FOR_BN' | translate }}</button>-->

          <!--</div>-->
      <!--</div>-->
    <!--<div class="row no-padding" style="margin-top: 10px;">-->
        <!--<div class="col col-center center no-padding" >-->
            <!--<button  class="button button-clear button-outline button-balanced" ng-click="confirmUserAccount()">{{'ACCOUNT_NOT_CONFIRMED' | translate }}</button>-->

        <!--</div>-->
    <!--</div>-->
  </ion-content>
