<form name="RPForm">
  <ion-content scroll="true" class="blueno-bg-full has-footer" has-footer="true">
    <div class="center" style=";width: inherit;height: auto;padding-top:15px">
        <h3 style="color: rgba(0,0,0,.6);">{{'RESET_PASSWORD' | translate }}</h3>
        <span style="color:rgba(0,0,0,.6); font-size: 20px;">(<span style="color:rgba(239,71,58,.8);font-size: 24px;vertical-align: middle;">*</span><span style="color:rgba(0,0,0,.6);font-size: initial">&nbsp;{{'DENOTES_REQUIRED_FIELDS' | translate}}</span>)</span>
    </div>
    <div class="list" ng-style="{'height':(deviceHeight-110)+'px'}" style="overflow: scroll;width: 100%;padding: 0;">

      <!-- Create a password -->
      <label class="item item-input item-stacked-label no-border label-padding">
          <span class="input-label label-text " style="color:white">{{'CREATE_PASSWORD' | translate }}
              <span class="assertive " style="font-size: inherit">* </span>
          </span>
          <input class="edit-input-txt" ng-model="loginData.user.password" name="password" ng-required="true"
                 style="font-size:18px;" type="password" ng-minlength="8"/>
          <span class="assertive validation-font wrap-content" ng-show="RPForm.password.$error.minlength">{{'PASSWORD_MIN_LENGTH'| translate}}</span>
      </label>

      <!-- confirm password -->
      <label class="item item-input item-stacked-label no-border label-padding">
          <span class="input-label label-text " style="color:white">{{'CONFIRM_PASSWORD' | translate }}
              <span class="assertive " style="font-size: inherit">* </span>
          </span>
          <input class="edit-input-txt" ng-model="loginData.user.password_confirmation" name="confirmPassword" ng-required="true"
                 style="font-size:18px;" type="password" ng-minlength="8" />
          <span class="assertive validation-font wrap-content" ng-show="RPForm.confirmPassword.$error.minlength">{{'PASSWORD_MIN_LENGTH'| translate}}</span>

      </label>

      <!-- otp code -->
      <label class="item item-input item-stacked-label no-border label-padding">
          <span class="input-label label-text " style="color:white">{{'ENTER_OTP' | translate }}
              <span class="assertive " style="font-size: inherit">* </span>
          </span>
          <input class="edit-input-txt" ng-model="loginData.otp_code" name="otp" ng-required="true"
                 style="font-size:18px;" type="text"/>
          <!-- <span class="assertive validation-font wrap-content" ng-show="credentialForm.password.$error.minlength">{{'PASSWORD_MIN_LENGTH'| translate}}</span> -->
      </label>

    </div>
  </ion-content>
  <ion-footer-bar class="text-center bar-stable blue-bg no-border">
      <div class="button-bar">
          <button ng-disabled="RPForm.$invalid" class="button button-clear button-light bold"
                    type="submit" ng-click="goToUpdatePassword()" >
              {{'UPDATE_PASSWORD' | translate }}
          </button>

      </div>
  </ion-footer-bar>
</form>
