<ion-modal-view  >
    <form name="basicInfoForm">
    <ion-content scroll="true" class="blueno-bg">
        <div class="center" style=";width: inherit;height: auto;padding-top:15px" >
              <h3 style="color: #ffffff;"> {{'CREATE_PROFILE' | translate }}</h3>
        </div>
        <div class="row">
            <div class="col center" >
                <img ng-src="{{updateImageSrc?updateImageSrc:addPicIcon}}" style="height: 90px;width: 90px;border-radius:43px" ng-click="changeImage()"/>
            </div>
        </div>

        <div class="list" ng-style="{'height':(deviceHeight-210)+'px'}" style="overflow: scroll;width: 100%;padding: 0;">
            <label class="item item-input item-stacked-label no-border label-padding">
                <span class="input-label label-text "  style="color:white">{{'FIRST_NAME' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                    <input class="edit-input-txt" ng-model="loginData.profile.given_name" name="text" ng-required="true"  type="text"/>
            </label>

                <label class="item item-input item-stacked-label no-border label-padding">
                <span class="input-label label-text "  style="color:white">{{'LAST_NAME' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                    <input ng-model="loginData.profile.family_name" ng-required="true" type="text" class="edit-input-txt"  />
                </label>

                <label class="item item-input item-stacked-label no-border label-padding" style="padding-right:16px;">
                    <span class="input-label label-text "  style="color:white">
                        {{'GENDER' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                    <select style="width: 100%"  ng-model="data.gender" ng-required="true">
                        <option value="male" >{{'MALE' | translate }}</option>
                        <option value="female">{{'FEMALE' | translate }}</option>
                    </select>
                </label>
                </div>

    </ion-content>
    <ion-footer-bar  class="text-center bar-stable blue-bg" style="background: transparent !important;border:none;padding:0px !important;" >
        <div  class="button-bar">
            <button ng-disabled="basicInfoForm.$invalid" class="button no-border lgt-blue-btn button-small" type="submit"  ng-click="goToSelectUserType()" style="font-size: 20px;">
                {{'Next' | translate }} &nbsp;<i class=" ion-arrow-right-b" style="font-size: 20px;"></i>
            </button>
        </div>
    </ion-footer-bar>
    </form>
</ion-modal-view>