<style type="text/css">
    input[type="checkbox"]{
        width: 18px;
        height: 18px;
    }
    .inline-field input,
    .inline-field label {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    select {
        display: inline-block;
        height: 40px !important;
        width: 80% !important;
        outline: none;
        color: white;
        border:none;
        border-radius: 4px;
        background: rgba(97,137,197,.7);
        font-size: 15px !important;
    }
</style>
<ion-content scroll="false" >
    <div class="blueno-bg">
        <!--<img src="../../assets/img/background_img.png" style="position:absolute;height: 100%;width: 100%;">-->
        <div class="center" style=";width: inherit;height: auto;padding-top:25px" >
            <img src="../../../assets/img/logo_big.png" style="height: 90px;width: 90px;"/>
            <h4 style="color: white;font-weight: bold;margin-top:0">bluenumber</h4>
            <h3 style="color: #ffffff;"> Create an Account</h3>
        </div>
        <div class="row">
            <div class="col center" style="margin-top:40px;">
                <input type="number" class="input-txt" placeholder="Mobile" />
                <input type="password" placeholder="Password" class="input-txt" style="margin-top: 10px;" />
            </div>
        </div>
        <div class="row" style="margin-top:20px">
            <div class="col col-center center" >
                <div class="button  lgt-blue-btn" style="height: 40px;width:130px;" ng-click="goToProfileCreation()">
                    <i class=" ion-arrow-right-b" style="font-size: 25px;line-height:47px"></i>
                </div>
            </div>
        </div>

    </div>
</ion-content>