<ion-content scroll="true" class="blueno-bg has-footer" has-footer="true">
        <!--<img src="../../assets/img/background_img.png" style="position:absolute;height: 100%;width: 100%;">-->
        <div class="center" style=";width: inherit;height: auto;padding-top:15px" >
            <!--<img ng-src="{{bgUrl}}" style="height: 80px;width: 80px;"/>-->
            <!--<h4 style="color: white;font-weight: bold;margin-top:0">{{'BLUENUMBER' | translate }}-->
</h4>
            <h3 style="color: #ffffff;">{{'CREATE_AN_ACCOUNT' | translate }}</h3>
        </div>
        <form name="credentialForm">
            <!--<div class="row">-->
                <!--<div class="col "  style="text-align: center">-->
                    <!--<select style="width: 80%"  ng-model="data.selectedCountry" ng-required="true"  ng-options="obj.CountryName+'('+obj.CountryCode+')' for obj in countryCodeList">-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
            <div class="list" ng-style="{'height':(deviceHeight-110)+'px'}" style="
    overflow: scroll;
    width: 100%;
    padding: 0;">
            <label class="item item-input item-stacked-label no-border lebel-padding" style="padding-right:16px;">
                <span class="input-label label-text "  style="color:white">{{'COUNTRY' | translate }}</span>
                <select style="width: 100%"  ng-model="data.selectedCountry" ng-required="true"  ng-options="obj.CountryName+'('+obj.CountryCode+')' for obj in countryCodeList">
                </select>
            </label>
            <label class="item item-input item-stacked-label no-border lebel-padding">
                <span class="input-label label-text "  style="color:white">{{'MOBILE' | translate }}
                    <!--<span class="assertive " style="font-size: inherit">* </span>-->
                </span>

                <div class="row no-padding">
                     <!--<div class="col col-25 no-padding center" >-->
                         <!--&lt;!&ndash;{{data.selectedCountry.CountryPhoneCode}}&ndash;&gt;-->
                         <!--<input class="edit-input-txt"  name="countrycode" ng-required="true"  style="font-size:18px;padding: 0px !Important;text-align: center;" type="number"  ng-disabled="true" ng-value="data.selectedCountry.CountryPhoneCode"/>-->
                     <!--</div>-->

                    <div class="col no-padding" >
                        <input class="edit-input-txt" ng-model="loginData.user.mobile" name="mobile" ng-required="true"  style="font-size:18px;" type="number"  placeholder=""/>
                    </div>
                </div>

            </label>
            <!--<div class="row">-->
                <!--<div class="col " style="text-align: center">-->
                    <!--<input ng-model="loginData.user.mobile" type="number" ng-required="true" class="input-txt" placeholder="Mobile"  />-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col" style="text-align: center">-->
                    <!--<input type="password" ng-model="loginData.user.password" ng-required="true" placeholder="Password" class="input-txt" style="margin-top: 10px;" />-->
                <!--</div>-->
            <!--</div>-->

            <label class="item item-input item-stacked-label no-border lebel-padding">
                <span class="input-label label-text "  style="color:white">{{'PASSWORD' | translate }}
                    <!--<span class="assertive " style="font-size: inherit">* </span>-->
                </span>
                <input class="edit-input-txt" ng-model="loginData.user.password" name="mobile" ng-required="true"  style="font-size:18px;" type="password"  placeholder=""/>
            </label>

            </div>
            <!--<div class="row" style="margin-top:20px">-->
                <!--<div class="col col-center center" >-->
                    <!--<button class="button  lgt-blue-btn" type="submit" ng-disabled="credentialForm.$invalid" style="height: 40px;width:130px;" ng-click="goToProfileCreation()">-->
                        <!--<i class=" ion-arrow-right-b" style="font-size: 25px;line-height:47px"></i>-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        </form>
</ion-content>
<ion-footer-bar ng-disabled="credentialForm.$invalid" class="text-center bar-stable blue-bg" style="background: transparent !important;border:none;padding:0px !important;" >
    <div  class="button-bar">
        <button class="button no-border lgt-blue-btn button-small" type="submit"  ng-click="goToProfileCreation()" style="font-size: 20px;">
            {{'Next' | translate }} &nbsp;<i class=" ion-arrow-right-b" style="font-size: 20px;"></i>
        </button>
        <!--<button type="button" class="button button-clear button-light bold" ng-click="">-->
            <!--<{{'Next' | translate }} <i class="ion-arrow-right-b"></i>-->
        <!--</button>-->
    </div>
</ion-footer-bar>