<style type="text/css">
    input[type="radio"]{
        width: 18px;
        height: 18px;
    }
    .inline-field input,
    .inline-field label {
        margin-top:10px;
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
</style>
<ion-modal-view  >
    <form name="selectUserTypeForm">
    <ion-content scroll="true"  class="blueno-bg">
        <div class="center" style=";width: inherit;height: auto;padding-top:15px" >
            <h3 style="color: #ffffff;">{{'SELECT_USER_TYPE' | translate }}</h3>
        </div>
        <div class="list" ng-style="{'height':(deviceHeight-96)+'px'}" style="overflow: scroll;width: 100%;padding: 0;">
            <div class="row">
                <div class="col" style="padding-left: 80px;color: white;">
                    <div class="inline-field">
                        <input  style="height: 30px;width: 30px" ng-model="loginData.user_type" ng-required="true" type="radio" id="fisher" name="userType" value="Fisher">
                        <label for="fisher" style="font-size: 25px">&nbsp;{{'FISHER' | translate }}</label> <br>
                        <input style="height: 30px;width: 30px"  ng-model="loginData.user_type" ng-required="true" type="radio" name="userType" id="farmer" value="Farmer">
                        <label ng-required="true" for="farmer" style="font-size: 25px ">&nbsp;{{'FARMER' | translate }}</label> <br>
                        <input  style="height: 30px;width: 30px" ng-model="loginData.user_type" ng-required="true" type="radio" name="userType" id="factoryFarmer" value="Factory Worker">
                        <label   ng-required="true" for="factoryFarmer" style=" font-size: 25px">&nbsp;{{'FACTORY_WORKER' | translate }}</label><br>
                        <input style="height: 30px;width: 30px" ng-model="loginData.user_type" ng-required="true" type="radio" name="userType" id="none" value="other">
                        <label ng-required="true" for="none" style="font-size: 25px" checked="checked">&nbsp;{{'OTHER' | translate }}</label><br>

                    </div>
                </div>
            </div>

            </div>

    </ion-content>
    <ion-footer-bar  class="text-center bar-stable blue-bg" style="background: transparent !important;border:none;padding:0px !important;" >
        <div  class="button-bar">
            <button ng-disabled="selectUserTypeForm.$invalid" class="button no-border lgt-blue-btn button-small" type="submit"  ng-click="goToAddHome()" style="font-size: 20px;">
                {{'Next' | translate }} &nbsp;<i class=" ion-arrow-right-b" style="font-size: 20px;"></i>
            </button>

        </div>
    </ion-footer-bar>
    </form>
</ion-modal-view>