<ion-view  view-title="{{'INVITE_FRIEND' | translate}}" >
    <ion-content overflow-scroll="true" class="blueno-bg-full" >

        <div  class= "no-border no-padding list" ng-show="true">
            <div class="card  " style="margin:2px !important;" ng-repeat="contact in phoneContacts  | orderBy:'name' ">
                <div class="item item-divider">
                    {{::contact.name}}
                </div>
                <div class="item item-text-wrap item-checkbox" ng-repeat="number in ::contact.phoneNumbers | unique: 'value'" >
                    {{ ::number.value }}
                    <label class="checkbox">
                        <input style="height:25px;width: 25px;" type="checkbox" ng-checked="isSelected(number.value)" ng-click="updateSelection($event, number.value)">
                    </label>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="text-center bar-stable blue-bg" >
        <div  class="button-bar">
            <button type="submit" ng-disabled="selectedNumber.length<1" class="button button-clear button-balanced" style="font-size: 20px;font-weight: bold" ng-click="sentInvites()">
                {{'INVITE' | translate }}
            </button>
        </div>
    </ion-footer-bar>
</ion-view>