<ion-view  view-title="{{'INVITE_FRIEND' | translate}}" >
    <ion-content scroll="false" class="blueno-bg-full" >

        <form name="inviteFriendForm">
            <div class="list" ng-style="{'height':(deviceHeight-96)+'px'}" style="
    overflow: scroll;
    width: 100%;
    padding: 0;">

                <label class="item item-input item-stacked-label no-border lebel-padding">
                    <span class="input-label label-text "  style="color:white">{{'FRIEND_COUNTRY' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                    <select style="width: 100%" ng-model="friend.friendCountry" ng-required="true"  ng-options="obj.CountryName for obj in countryCodeList" >
                    </select>
                </label>

                <label class="item item-input item-stacked-label no-border lebel-padding">
                    <span class="input-label label-text "  style="color:white">{{'MOBILE' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>

                    <input class="edit-input-txt" ng-model="friend.friendMobile" name="mobile" ng-required="true"  type="number"/>
                </label>

            </div>
        </form>
    </ion-content>
    <ion-footer-bar class="text-center bar-stable blue-bg" >
        <div  class="button-bar">
            <button type="submit" ng-disabled="inviteFriendForm.$invalid" class="button button-clear button-balanced" style="font-size: 20px;font-weight: bold" ng-click="inviteFriend()">
                {{'INVITE' | translate }}
            </button>
        </div>
    </ion-footer-bar>
</ion-view>