<ion-view  view-title="Invite" >
    <ion-content scroll="false"  class="blueno-bg" >
        <div class="list" ng-style="{'height':(deviceHeight-96)+'px'}" style="overflow: scroll; width: 100%; padding: 0;">
            <label class="item item-icon-right item-stacked-label lebel-padding" style="color:white;">
                    <i class="icon ion-ios-arrow-right">
                        </i>
                     {{'BULK_INVITE' | translate }}
                        
            </label>
            <label class="item item-icon-right item-stacked-label lebel-padding"  style="color:white;" ng-click="goToInviteFriend()">
                    <i class="icon ion-ios-arrow-right"></i>
                        {{'INVITE_FRIEND' | translate }}
            </label>
        </div>
    </ion-content>
</ion-view>