<ion-view  view-title="{{'INVITE_PERSON_HEADER' | translate}}" >
    <form name="inviteFriendForm">
    <ion-content scroll="false" class="blueno-bg-full" >

            <div class="list" ng-style="{'height':(deviceHeight-96)+'px'}" style="overflow: scroll;width: 100%;padding: 0;">
                <div class="item  center bg-transparent no-border" style="padding: 10px 0 0 0;">
                    <span style="color:rgba(0,0,0,.6); font-size: 14px;">
                      (<span style="color:rgba(239,71,58,.8);font-size: 12px;vertical-align: middle;" class="ion-asterisk"></span>
                      <span style="color:rgba(0,0,0,.6);font-size: initial">&nbsp;{{'DENOTES_REQUIRED_FIELDS' | translate}}</span>)
                    </span>
                </div>
                <!--<label class="item item-input item-stacked-label no-border label-padding">-->
                    <!--<span class="input-label label-text "  style="color:white">{{'COUNTRY' | translate }}-->
                        <!--<span class="assertive " style="font-size: inherit">* </span>-->
                    <!--</span>-->
                    <!--&lt;!&ndash; <select style="width: 100%" ng-model="friend.friendCountry" ng-required="true">-->
                        <!--<option selected value="" disabled>{{'SELECT_COUNTRY' | translate}}</option>-->
                        <!--<option ng-repeat="obj in countryCodeList" value="{{obj.CountryPhoneCode}}">{{obj.CountryName}}-->
                        <!--</option>-->
                    <!--</select> &ndash;&gt;-->
                    <!--<input ion-autocomplete type="text"-->
                           <!--template-url="components/menu/views/autoCompleteDrop.html"-->
                           <!--readonly="readonly"-->
                           <!--ng-required="true"-->
                           <!--class="ion-autocomplete edit-input-txt"-->
                           <!--autocomplete="off"-->
                           <!--item-method-value-key="countryCodeList"-->
                           <!--items-method="getSearchedCountryList(query)"-->
                           <!--item-view-value-key="CountryName"-->
                           <!--ng-model="friend.friendCountry"-->
                           <!--max-selected-items="1"-->
                           <!--cancel-label="{{'CANCEL' | translate }}"-->
                           <!--items-clicked-method="clickedMethod(callback)"-->
                           <!--style="padding-left: 11px;display: block;height: 40px !important;outline: none;color:#3A5997 !important;border: none;border-radius: 4px;background: white;font-size: 18px !important;"-->
                           <!--placeholder="{{'SEARCH_COUNTRY' | translate }}"-->
                       <!--/>-->
                <!--</label>-->

                <!--<label class="item item-input item-stacked-label no-border label-padding">-->
                    <!--<span class="input-label label-text "  style="color:white">{{'MOBILE' | translate }}-->
                        <!--<span class="assertive " style="font-size: inherit">* </span>-->
                    <!--</span>-->

                    <!--<input class="edit-input-txt" ng-model="friend.friendMobile" name="mobile" ng-required="true"  type="number"/>-->
                <!--</label>-->

                <div class="item label-padding no-border">
                <span class="input-label label-text " style="color:white;">
                    {{'MOBILE' | translate }}
                    <span class="assertive " style="font-size: inherit">
                        *
                    </span>
                </span>
                    <div class="row no-padding">
                        <div class="col no-padding col-20">
                            <div class="" style="color:black;height: 100%;" ng-click="showCountrySearch()">
                                <div class="button button-clear button-small" style="color: black;border-bottom: 1px solid grey;border-radius: 0px;height: 40px;line-height: 40px;font-size: 18px">
                                    {{friend.friendCountry!=null?friend.friendCountry.CountryCode:'US'}}
                                    <i class="ion-ios-arrow-down"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col no-padding col-20">
                            <div class="" style="color:black;height: 100%;">
                                <div class="button button-clear button-small" style="color: black;border-bottom: 1px solid grey;border-radius: 0px;height: 40px;width: 100%;line-height: 40px;font-size: 18px">
                                    +{{friend.friendCountry!=null?friend.friendCountry.CountryPhoneCode:1}}
                                </div>
                            </div>
                        </div>
                        <div class="col no-padding">
                            <input class="edit-input-txt " ng-model="friend.friendMobile" name="username" ng-required="true"
                                   style="font-size:18px;width:100%" type="number" ng-minlength="9" ng-maxlength="15" id="mobileNumber" placeholder="{{'MOBILE' | translate }}"/>

                        </div>
                    </div>
                    <div class="row no-padding">
                        <div class="col no-padding">
                        <span class="assertive validation-font wrap-content"
                              ng-show="inviteFriendForm.mobile.$error.minlength || inviteFriendForm.mobile.$error.maxlength">{{'INVALID_MOBILE'| translate}}</span>
                        </div>
                    </div>
                </div>

            </div>

    </ion-content>
    <ion-footer-bar class="text-center bar-stable blue-bg no-border">
        <div class="button-bar">
            <button  class="button button-light button-clear bold" ng-click="backToInvite()" >
                {{'CANCEL' | translate }} &nbsp;
            </button>
            <button class="button button-light button-clear bold" ng-disabled="inviteFriendForm.$invalid" type="submit" ng-click="inviteFriend()">
                {{'INVITE' | translate }}
            </button>

        </div>
    </ion-footer-bar>
    </form>
</ion-view>
