<ion-view view-title="{{'ORGANIZATION' | translate}}">

    <ion-content scroll="true" class="blueno-bg-full">
        <div class="list card no-padding no-margin"  >
            <div class="item item-image" id="image-container">
                <img src="http://lorempixel.com/400/120/sports/2">
            </div>
            <h1 style="text-align:center;color:black;margin-top: 5px;">Metacube Soft.</h1>

            <p style="text-align:center;color:rgb(102,102,102);margin-top: -15px;">CEO: Keshav Sharma</p>
        </div>
        <!--<div class="list" style="width:100%;overflow: scroll;padding:0px;height: 100%">-->
            <!--<a class="item item-avatar" ng-repeat="member in memberList">-->
                <!--<img ng-src="http://lorempixel.com/30/30/people/{{$index}}">-->

                <!--<h2>{{member.name}}</h2>-->
            <!--</a>-->
        <!--</div>-->
    </ion-content>
</ion-view>
