<ion-view view-title="{{'ORGANIZATION' | translate}}">

    <ion-content scroll="true" class="blueno-bg-full">

        <!-- create org button -->
        <!-- <div class="button-bar" ng-if="!npFound() && user.organization_name.length == 0">
          <button ng-disabled="" class="button button-clear button-light bold"
                  type="submit" ng-click="createNewOrganization()" >
              <i class=" ion-plus-round" style="font-size: 20px;"></i> &nbsp;{{'CREATE_ORG' | translate }}
          </button>
        </div> -->

        <div class="list card no-margin no-padding" >
            <div class="item item-image" id="image-container">
                <img style="height: 100px;" ng-src="{{detailsData.relationships.picture.data.image.profile_pic.url!=null?detailsData.relationships.picture.data.image.profile_pic.url!=null:defaultImageURL}}">
            </div>
            <h1 style="text-align:center;color:black;margin-top: 5px; font-size:200%;">{{detailsData.attributes.name}}</h1>

            <p style="text-align:center;color:rgb(102,102,102);margin-top: -10px;">CEO: {{detailsData.attributes.owner_name}}</p>

            <div class="list">
              <label class="item item-input item-stacked-label">
                <p class="input-label width-auto font-grey">Organization Description</p><br>
                <span class="span-org">{{detailsData.attributes.description}}</span>
              </label>

              <label class="item item-input item-stacked-label">
                <p class="input-label width-auto font-grey">Organization Type</p><br>
                <span class="span-org">{{detailsData.attributes.organization_type}}</span>
              </label>

              <label class="item item-input item-stacked-label">
                <p class="input-label width-auto font-grey">Ownership</p><br>
                <span class="span-org">{{detailsData.attributes.ownership}}</span>
              </label>

              <label class="item item-input item-stacked-label">
                <p class="input-label width-auto font-grey">Number Of Employees</p><br>
                <span class="span-org">{{detailsData.attributes.number_of_employees}}</span>
              </label>

              <label class="item item-input item-stacked-label">
                <p class="input-label width-auto font-grey">Website</p><br>
                <span class="span-org">{{detailsData.attributes.website}}</span>
              </label>

              <label class="item item-input item-stacked-label">
                <p class="input-label width-auto font-grey">Facebook</p><br>
                <span class="span-org">{{detailsData.attributes.facebook_page}}</span>
              </label>

              <label class="item item-input item-stacked-label">
                <p class="input-label width-auto font-grey">Unique Identifier</p><br>
                <span class="span-org">{{detailsData.attributes.identifier}}</span>
              </label>

              <label class="item item-input item-stacked-label">
                <p class="input-label width-auto font-grey">Unique Identifier Type ID</p><br>
                <span class="span-org">{{detailsData.attributes.identifier_type}}</span>
              </label>
            </div>
        </div>
        <!--<div class="list" style="width:100%;overflow: scroll;padding:0px;height: 100%">-->
            <!--<a class="item item-avatar" ng-repeat="member in memberList">-->
                <!--<img ng-src="http://lorempixel.com/30/30/people/{{$index}}">-->

                <!--<h2>{{member.name}}</h2>-->
            <!--</a>-->
        <!--</div>-->
    </ion-content>
</ion-view>
