<ion-view view-title="Org Invites">

    <ion-content scroll="true" class="blueno-bg-full">
        <!--<label class="item item-input" style="background-color: #4E5C6E !important">-->
            <!--<i class="icon ion-search placeholder-icon"></i>-->
            <!--<input type="search" placeholder="Search" style="color:white" ng-model="searchMember">-->
            <!--<i class="ion-ios-close-empty"></i>-->
        <!--</label>-->
        <div class="list" style="width:100%;">
            <a class="item" ng-repeat="request in orgRequests" >
                <div class="row no-padding" >
                    <div class="col no-padding">
                        <h2 class="bold">
                            <span>{{request.organization.name}}</span>

                        </h2>

                        <p style="color:#13171d">{{request.organization.owner_name}}</p>
                        <p>{{request.created_at | date:'mediumDate'}}</p>
                    </div>
                    <div class="col no-padding col-33 right">
                        <div class="button button-balanced button-small " ng-click="processRequest(request.id,'Accept')">
                            Accept
                        </div>
                        <div class="button button-dark button-small" ng-click="processRequest(request.id,'Reject')">
                            Reject
                        </div>
                    </div>
                </div>
            </a>

        </div>
        <div class= "row no-data-alert" ng-if="orgRequests.length==0">
            <div class="col col-center text-center">
                <div class="no-data-icon">
                    <i class="icon ion-briefcase"></i>
                </div>
                <div class="no-data-text">
                    {{'NO_PENDING_REQUEST' | translate}}
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>

