<ion-tabs class=" tabs-top tabs-striped" style="background-color: #4E5C6E !important;">
    <ion-tab title="Organization"  ui-sref="app.organization.detail" >
        <ion-nav-view name="orgDetail"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Members"  ui-sref="app.organization.members" >
        <ion-nav-view name="orgMembers"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Invitations"  ui-sref="app.organization.invitations">
        <ion-nav-view name="orgInvitations"></ion-nav-view>
    </ion-tab>
</ion-tabs>