<div class="ion-autocomplete-container {{viewModel.randomCssClass}} modal" style="display: none;">
    <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" class="ion-autocomplete-search" ng-model="viewModel.searchQuery"
                   ng-model-options="viewModel.ngModelOptions" placeholder="{{viewModel.placeholder}}"/>
        </label>

        <div class="ion-autocomplete-loading-icon" ng-if="viewModel.showLoadingIcon && viewModel.loadingIcon">
            <ion-spinner icon="{{viewModel.loadingIcon}}"></ion-spinner>
        </div>
        <button class="ion-autocomplete-cancel button button-clear" ng-click="viewModel.cancelClick()" style="color:black;">
            {{viewModel.cancelLabel}}
        </button>
    </div>
    <div class="bar bar-subheader no-padding">
      <ion-item class="item-divider" ng-if="viewModel.searchItems.length > 0" style="width: 100%;line-height: 26px;">{{'SELECT_COUNTRY' | translate}}
      </ion-item>
    </div>

    <ion-content class="has-header has-subheader">

        <ion-item ng-repeat="item in viewModel.searchItems" item-height="55px" item-width="100%"
                  ng-click="viewModel.selectItem(item)" class="item-text-wrap">
            {{viewModel.getItemValue(item, viewModel.itemViewValueKey)}}
        </ion-item>
    </ion-content>
</div>
