<!-- <div class="card">
  <div class="list">
    <div class="item item-divider bold">
      Direct. Param List
    </div>
    <div class="item no-padding bg-transparent" ng-repeat="a in arr.prop">
      <div class="row" >
          <div class="col col-center" >
              {{a}}
          </div>
      </div>
    </div>
</div>
</div> -->
<div class="card">
  <div class="list">
    <!-- <div class="item item-divider bold">
      Direct. Param List
    </div> -->
      <button type="button" class="button button-clear button-positive" style="padding:0px;">
        <div class="customise-picklist-div" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
            {{model.name ? model.name :title}}
        </div>
      </button>
      <button class="button icon ion-close" onclick="" style="float:right"></button>
  </div>
</div>
