<ion-side-menus enable-menu-with-back-views="false" >
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable blue-bg no-border" style="border-color:gray;">
            <ion-nav-back-button style="color:white"></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" style="color:white" menu-toggle="left">
                </button>
            </ion-nav-buttons>

        </ion-nav-bar>
        <ion-nav-view name="mainContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" class="menu-bg">
        <div class="item item-avatar " style="height:81px;background: transparent">
                <img  ng-src="{{profileUrl}}" style="max-width:50px;max-height: 50px">
                <h2 class="title light" style="font-size: larger;">{{userInfo.person.givenname1+" "+userInfo.person.familyname1}}</h2>
                <p style="padding-left: 2px;color: rgba(126, 192, 238, 1);font-size: 15px;margin-top: 5px;">{{::userInfo.person.actor_bluenumber }}</p>
        </div>
        <!--<ion-header-bar class="bar-stable">-->
          <!-- -->
        <!--</ion-header-bar>-->
        <ion-content  style="top:80px">
                <ion-item class="no-border" menu-close ng-click="openDashboard()" style="padding:6px;background-color: transparent;color:white">
                    <div class="row no-padding no-margin">
                        <div class="col col-10  no-margin" style="padding: 0 0 0 10px">
                            <span class="ion-android-globe" style="font-size: 30px;;"></span>
                        </div>
                        <div class="col no-padding col-center" style="margin-left:30px;font-size: large">
                            {{'DASHBOARD' | translate }}
                        </div>
                    </div>
                </ion-item>
                <hr class="grey-hr-menu-separator">
                <ion-item class="no-border" menu-close ng-click="openSetting()" style="padding:6px;background-color: transparent;color:white">
                    <div class="row no-padding no-margin">
                        <div class="col col-10  no-margin" style="padding: 0 0 0 10px">
                            <span class="ion-person" style="font-size: 30px;;"></span>
                        </div>
                        <div class="col no-padding col-center" style="margin-left:30px;font-size: large">
                            {{'ACCOUNT' | translate }}
                        </div>
                    </div>
                </ion-item>
            <hr class="grey-hr-menu-separator">
                <ion-item class="no-border" menu-close ng-click="goToInvite()" style="padding:6px;background-color: transparent;color:white">
                    <div class="row no-padding no-margin">
                        <div class="col col-10  no-margin" style="padding: 0 0 0 10px">
                            <span class="ion-person-add" style="font-size: 30px;;"></span>
                        </div>
                        <div class="col no-padding col-center" style="margin-left:30px;font-size: large">
                             {{'INVITE' | translate }}
                        </div>
                    </div>
                </ion-item>
            <hr class="grey-hr-menu-separator">
                <!--<ion-item menu-close ng-click="goToInvitations()" style="padding:6px;background-color: transparent;color:white">-->
                    <!--<div class="row no-padding no-margin">-->
                        <!--<div class="col col-10  no-margin" style="padding: 0 0 0 10px">-->
                            <!--<span class="ion-ios-people" style="font-size: 30px;;"></span>-->
                        <!--</div>-->
                        <!--<div class="col no-padding col-center" style="margin-left:30px;font-size: large">-->
                            <!--{{'INVITATIONS' | translate }}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</ion-item>-->
                <ion-item class="no-border" menu-close ng-click="goToOrganization()" ng-if="npFound()" style="padding:6px;background-color: transparent;color:white">
                    <div class="row no-padding no-margin">
                        <div class="col col-10  no-margin" style="padding: 0 0 0 10px">
                            <span class="ion-person-stalker" style="font-size: 30px;;"></span>
                        </div>
                        <div class="col no-padding col-center" style="margin-left:30px;font-size: large">
                            {{'ORGANIZATION' | translate }}
                        </div>
                    </div>
                </ion-item>
            <hr ng-if="npFound()" class="grey-hr-menu-separator">
                <ion-item class="no-border" menu-close ng-click="goToSetting()" style="padding:6px;background-color: transparent;color:white">
                    <div class="row no-padding no-margin">
                        <div class="col col-10  no-margin" style="padding: 0 0 0 10px">
                            <span class="ion-gear-b" style="font-size: 30px;;"></span>
                        </div>
                        <div class="col no-padding col-center" style="margin-left:30px;font-size: large">
                            {{'SETTING' | translate }}
                        </div>
                    </div>
                </ion-item>
            <hr class="grey-hr-menu-separator">
                <ion-item class="no-border" menu-close ng-click="showAbout()" style="padding:6px;background-color: transparent;color:white">
                    <div class="row no-padding no-margin">
                        <div class="col col-10  no-margin" style="padding: 0 0 0 10px">
                            <span class="ion-information-circled" style="font-size: 30px;;"></span>
                        </div>
                        <div class="col no-padding col-center" style="margin-left:30px;font-size: large">
                            {{'ABOUT' | translate }}
                        </div>
                    </div>
                </ion-item>
            <hr class="grey-hr-menu-separator">
                <ion-item class="no-border" menu-close ng-click="logout()" style="padding:6px;background-color: transparent;color:white">
                    <div class="row no-padding no-margin">
                        <div class="col col-10  no-margin" style="padding: 0 0 0 10px">
                            <span class="ion-log-out" style="font-size: 30px;;"></span>
                        </div>
                        <div class="col no-padding col-center" style="margin-left:30px;font-size: large">
                            {{'SIGN_OUT' | translate }}
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
