<ion-view view-title="{{'SETTING' | translate}}">
<!-- <ion-content> -->
<ion-content scroll="false" class="blueno-bg-full">
    <label class="item item-input item-stacked-label no-border label-padding" >
            <span class="input-label label-text "  style="color:white">{{'LANGUAGE' | translate }}
                <span class="assertive " style="font-size: inherit">* </span>
            </span>
        <select style="width: 100%" ng-model="local.language" name="language" ng-change="changeLanguage(local.language)">
            <option value="" disabled selected>{{'SELECT_LANGUAGE' | translate}}</option>
            <option value="en">English</option>
            <option value="ms">Bahasa Melayu (Malay)</option>
            <option value="vi">Tiếng Việt(Vietnamese)</option>
            <option value="ja">日本語 (にほんご)(Japanese)</option>
            <option value="my">ဗမာစာ (Burmese)</option>
            <option value="th"> ไทย(Thai)</option>
        </select>
    </label>

        <!--<label class="item item-input" style="">-->
          <!--<span class="input-label" style="color: white;font-size: 18px !important;margin-left: -12px;">Select Country</span>-->
          <input ion-autocomplete type="text"
                 template-url="components/menu/views/autoCompleteDrop.html"
                 readonly="readonly"
                 class="ion-autocomplete"
                 autocomplete="off"
                 item-method-value-key="items"
                 items-method="getSearchedCountryList(query)"
                 item-view-value-key="CountryName"
                 ng-model="selectedCountry"
                 max-selected-items="1"
                 cancel-label="Cancel"
                 items-clicked-method="clickedMethod(callback)"
             />
        <!--</label>-->
  </ion-content>
</ion-view>
