<ion-modal-view>
    <ion-header-bar class="bar bar-header blue-bg" style="border-color:gray;">
        <button ng-click="closeModal(1)" style="color:white"
                class="button back-button buttons  button-clear header-item">
            <i class="icon ion-android-arrow-back"></i>
            <span class="back-text"></span>
        </button>
        <h1 class="title" style="max-width:none;max-width: none;text-align: left !important;left: 23px !important;right:0px !important;
}">{{'TERMS_OF_REGISTRY' | translate}}</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true">
        <div style="margin:10px; " align="justify">

            <p style="font-size: 20px">
                {{'TERMS_OF_REGISTRY_1' | translate}}
            </p>

            <p style="font-size: 20px">
                {{'TERMS_OF_REGISTRY_2' | translate}}
            </p>

            <p style="font-size: 20px">
                {{'TERMS_OF_REGISTRY_3' | translate}}
            </p>

            <p style="font-size: 20px">
                {{'TERMS_OF_REGISTRY_4' | translate}}
            </p>

            <p style="font-size: 20px">
                {{'TERMS_OF_REGISTRY_5' | translate}}
            </p>

            <p style="font-size: 20px">
                {{'TERMS_OF_REGISTRY_6' | translate}}
            </p>

            <p style="font-size: 20px">
                {{'TERMS_OF_REGISTRY_7' | translate}}
            </p>
        </div>
    </ion-content>
</ion-modal-view>