<ion-modal-view  >
    <ion-header-bar class="bar bar-header blue-bg" style="border-color:gray;">
    <button ng-click="closeModal(1)" style="color:white" class="button back-button buttons  button-clear header-item">
            <i class="icon ion-android-arrow-back"></i>
            <span class="back-text"></span>
        </button>
        <h1 class="title" style="max-width:none;max-width: none;text-align: left !important;left: 23px !important;right:0px !important;
}" >{{'TERMS_OF_REGISTRY' | translate}}</h1>
    </ion-header-bar>
    <ion-content has-bouncing="true">
    <div style="margin:10px; " align="justify">
    <p>
        The access to and use of this web site, including its subdomains, associated websites and extranets (each a “Site” and collectively the “Sites”) constitutes acceptance by you or the entity you represent of the following terms and conditions of use (the “Terms of Use”). If you do not agree to these Terms of Use, you may not access or use the Sites.
        
    </p>
    <p>
        1. The Bluenumber Foundation (“BNF”) maintains the Sites as a courtesy to anyone who may choose to access any Site (a “User”). The information presented in the Sites is for informative purposes only. Unless otherwise noted, BNF grants permission to the User to visit the Sites and to download and copy the BNF information, documents and materials from the Sites (collectively, the “Materials”) for the User’s personal and non-commercial use, without any right to resell or redistribute them or to compile or create derivative works therefrom, subject to these Terms of Use and provided the source is fully acknowledged.
    </p>
    <p>
        2.  Unless expressly stated otherwise by BNF, the findings, interpretations and conclusions expressed in the Materials are those of the various BNF staff members, consultants and advisers to BNF who prepared the work and do not necessarily represent the views of BNF. The designations employed and the presentation of material in the Sites do not imply the expression of any opinion on the part of BNF concerning the legal or development status of any territory, country, city or area or of its authorities, or concerning the delimitation of its frontiers or boundaries.
    </p>
    <p>
        3.  Third party content displayed in the Site may only be used subject to its owner’s consent or as otherwise permitted by applicable law, as the case may be. Nothing in these Terms of Use shall be deemed to confer any third party rights or benefits on any such content.
    </p>
    <p>
        4.  Information Disclosure

        BNF is committed to making information relating to its operations and programmes available to the public. BNF believes public access to information contributes to a better understanding of BNF’s unique mission and enhances stakeholders' participation in the fight against global hunger.
    </p>
    <p>
        5.  Sites, Features, Submissions
 
        The Sites may contain bulletin boards, extranets, social networks and platforms, access to mailing lists or other message or communication facilities and other applications (collectively, the “Site Features”). Special Terms may apply to the Site Features. The User agrees to use the Site Features only to send and receive information, content and materials that are proper and related to the particular Site Feature. By way of example and not as a limitation, the User agrees that when using a Site Feature, the User will not:
        a.  Defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as rights of privacy and publicity) of others;
        b.  Publish, post, distribute or disseminate any defamatory, infringing, obscene, indecent or unlawful material or information;
        c.  Upload or attach files that contain software or other material protected by intellectual property laws (or by rights of privacy and publicity) unless the User owns or controls the rights thereto or has received all consents therefor as may be required by law;
        d.  Upload or attach files that contain viruses, corrupted files or any other similar software or programs that may damage the operation of the systems of BNF or any third party;
        e.  Circumvent, disable or interfere with the Sites, the Materials or the Site Features;
        f.  Delete any author attributions, legal notices or proprietary designations or labels in any file or content that is uploaded;
        g.  Falsify the origin or source of software or other material contained in a file or content that is uploaded;
        h.  Advertise or offer to sell any goods or services, or conduct or forward surveys, contests or chain letters, or download or use any file or content posted by another user of a Site Feature that the User knows, or reasonably should know, cannot be legally downloaded or used in such manner.

        The User acknowledges that certain Site Features are of public access and communications. Further, the User acknowledges that any postings, communications, content and any other material that User or other users of this Site post, submit, upload, or otherwise provide to this Site (“Submissions”) are not endorsed by BNF and shall not be considered to have been reviewed, screened or approved by BNF. BNF does not claim ownership of any Submissions provided by the User or other users of this Site. However, by posting, submitting, uploading, or otherwise providing Submissions, the User grants BNF a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sub licensable and transferable license to use, display, distribute, reproduce, modify, remix, translate, transcode, excerpt, adapt, prepare derivative works of and compile, publicly perform and publicly display any or all Submissions in any media format or medium for any purpose whatsoever in connection with BNF.
         
        BNF accepts no responsibility or liability in respect of the conduct of any User in connection with any Site Features, or for any Submission and User waives all rights to bring any claim against BNF for any cause of action that may arise out of User’s use of any Submission.
    </p>
    </div>
    </ion-content>
</ion-modal-view>