<ion-modal-view>
    <ion-header-bar class="bar bar-header blue-bg no-border">
        <button ng-click="hideEditHomeModal()" style="color:white"
                class="button back-button buttons  button-clear header-item">
            <i class="icon ion-android-arrow-back"></i>
            <span class="back-text"></span>
        </button>
        <h1 class="title" style=" max-width:none;">{{'EDIT_HOME' | translate }}</h1>
    </ion-header-bar>
    <form name="addressForm">
        <ion-content scroll="true" class="blueno-bg-full has-footer">
            <div class="list" ng-style="{'height':(deviceHeight-96)+'px'}"
                 style="overflow: scroll;width: 100%;padding: 0;">
                <div class="item  center bg-transparent no-border" style="padding: 10px 0 0 0;">
                    <span style="color:rgba(0,0,0,.6); font-size: 14px;">
                      (<span style="color:rgba(239,71,58,.8);font-size: 12px;vertical-align: middle;"
                             class="ion-asterisk"></span>
                      <span style="color:rgba(0,0,0,.6);font-size: initial">&nbsp;{{'DENOTES_REQUIRED_FIELDS' | translate}}</span>)
                    </span>
                </div>
                <label class="item item-input item-stacked-label no-border label-padding">
                <span class="input-label label-text " style="color:white">{{'COUNTRY' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                    <input ion-autocomplete type="text"
                           template-url="components/menu/views/autoCompleteDrop.html"
                           readonly="readonly"
                           class="edit-input-txt"
                           component-id="component12"
                           select-items-label="{{'SELECT_COUNTRY' | translate}}"
                           autocomplete="off"
                           item-method-value-key="countryCodeList"
                           items-method="getUpdatedCountryList(query)"
                           item-view-value-key="CountryName"
                           ng-model="newHome.country"
                           max-selected-items="1"
                           cancel-label="{{'CANCEL' | translate }}"
                           style="padding-left: 11px;display: block;height: 40px !important;outline: none;color:#3A5997 !important;border: none;border-radius: 4px;background: white;font-size: 18px !important;"
                           placeholder="{{'SEARCH_COUNTRY' | translate }}"
                           items-clicked-method="changeSubdivision(newHome.country.CountryCode)"
                    />
                </label>
                <label class="item item-input item-stacked-label no-border label-padding">
                <span class="input-label label-text " style="color:white">{{'STATE' | translate }}
                    <span class="assertive" style="font-size: inherit">{{subDivList.length!=0?"*":""}} </span>
                </span>
                    <input ion-autocomplete type="text"
                           template-url="components/menu/views/autoCompleteDrop.html"
                           readonly="readonly"
                           class="edit-input-txt"
                           autocomplete="off"
                           component-id="component13"
                           select-items-label="{{'SELECT_STATE' | translate}}"
                           item-method-value-key="subDivList"
                           items-method="getUpdatedStateList(query)"
                           item-view-value-key="SubdivisionName"
                           ng-model="newHome.state"
                           max-selected-items="1"
                           cancel-label="{{'CANCEL' | translate }}"
                           style="padding-left: 11px;display: block;height: 40px !important;outline: none;color:#3A5997 !important;border: none;border-radius: 4px;background: white;font-size: 18px !important;"
                           placeholder="{{'SEARCH_STATE' | translate }}"
                    />
                </label>
                <label class="item item-input item-stacked-label no-border label-padding">
                <span class="input-label label-text ">{{'CITY' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                    <input class="edit-input-txt" ng-model="newHome.city" name="city" ng-required="true"
                           ng-pattern="/^[a-zA-Z\s]*$/" type="text"/>
                    <span class="assertive validation-font wrap-content"
                          ng-show="addressForm.city.$error.pattern && !addressForm.city.$pristine">
                  {{'INVALID' | translate}} &nbsp;{{'CITY' | translate}}
                </span>
                    <span class="assertive validation-font wrap-content"
                          ng-show="addressForm.city.$error.required && !addressForm.city.$pristine">
                   {{'REQUIRED' | translate}}
                </span>

                </label>

                <label class="item item-input item-stacked-label no-border label-padding">
                <span class="input-label label-text ">{{'POSTAL' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                    <input class="edit-input-txt" ng-model="newHome.postalcode" name="postalcode" ng-required="true"
                           type="text" ng-pattern="/^[0-9]+$/"/>
                    <span class="assertive validation-font wrap-content"
                          ng-show="addressForm.postalcode.$error.pattern && !addressForm.postalcode.$pristine">
                    {{'INVALID' | translate}} &nbsp;{{'POSTAL' | translate}}
                </span>
                    <span class="assertive validation-font wrap-content"
                          ng-show="addressForm.postalcode.$error.required && !addressForm.postalcode.$pristine">
                   {{'REQUIRED' | translate}}
                </span>

                </label>
                <label class="item item-input item-stacked-label no-border label-padding">
                <span class="input-label label-text ">{{'ADDRESS' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                    <input class="edit-input-txt" ng-model="newHome.address" name="address" ng-required="true"
                           type="text"/>
                    <span class="assertive validation-font wrap-content"
                          ng-show="addressForm.address.$error.required && !addressForm.address.$pristine">
                   {{'REQUIRED' | translate}}
                </span>
                </label>
            </div>
        </ion-content>
        <ion-footer-bar class="text-center bar-stable blue-bg no-border" style="padding:0px !important;">
            <div class="button-bar">
                <button class="button button-clear button-light bold" type="submit" ng-click="hideEditHomeModal()">
                    {{'CANCEL' | translate }} &nbsp;
                </button>
                <button ng-disabled="addressForm.$invalid" class="button button-clear button-light bold"
                        type="submit" ng-click="saveHome()">
                    {{'SAVE' | translate }}
                </button>
            </div>
        </ion-footer-bar>
    </form>
</ion-modal-view>
