<ion-view view-title="{{orgDetail == null?('CREATE_ORG' | translate) :('UPDATE_ORGANIZATION' | translate) }}">
    <ion-header-bar class="bar-stable blue-bg no-border" align-title="center">
        <button ng-click="hideCreateOrg(orgData!=null)" style="color:white"
                class="button back-button buttons  button-clear header-item">
            <i class="icon ion-android-arrow-back"></i>
            <span class="back-text"></span>
        </button>
    </ion-header-bar>
    <form name="createOrgForm">
        <ion-content class="has-footer blueno-bg-full">
            <div class="row">
                <div class="col center ">
                    <img ng-src="{{orgImage!=null?orgImage:(orgImageUrl!=null?orgImageUrl:defaultImageURL)}}" style=" height: 80px;width: 80px;border-radius: 38px;border: 5px solid white">
                    <div>
                        <button class="button button-small button-clear"
                                style="font-size: large;color: rgba(0,0,0,.6);text-decoration: underline;"
                                ng-click="changeImage()">
                            {{'CHANGE_PHOTO' | translate }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="list" style="width:100%;padding:0px">
                <div class="item  center bg-transparent no-border" style="padding: 10px 0 0 0;">
                   <span style="color:rgba(0,0,0,.6);font-size: 14px;">
                       (<span style="color:rgba(239,71,58,.8);font-size: 12px;vertical-align: middle;"
                              class="ion-asterisk"></span>
                       <span style="color:rgba(0,0,0,.6);">&nbsp;{{'DENOTES_REQUIRED_FIELDS' | translate}}</span>)
                   </span>
                </div>
                <!-- organization name -->
                <label class="item item-input item-stacked-label no-border label-padding">
                    <span class="input-label label-text input-label-color">{{'ORG_NAME' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                    <input class="edit-input-txt" type="text" name="orgName" ng-required="true" ng-model="org.name"
                          ng-pattern="/^[a-zA-Z0-9\s]+$/"/>
                    <span class="assertive validation-font wrap-content"
                          ng-show="createOrgForm.orgName.$error.required && !createOrgForm.orgName.$pristine">
                        {{'REQUIRED'| translate}}</span>
                    <span class="assertive validation-font wrap-content"
                          ng-show="createOrgForm.orgName.$error.pattern && !createOrgForm.orgName.$pristine">
                        {{'INVALID'| translate}}</span>
                </label>

                <!-- Description -->
                <label class="item item-input item-stacked-label no-border label-padding">
                    <span class="input-label label-text input-label-color">{{'ORG_DESCRIPTION' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                    <textarea class="edit-input-textarea" name="orgDescription" ng-required="true"
                              ng-model="org.description1" rows="4" style="padding:10px !important;">
                    </textarea>
                    <span class="assertive validation-font wrap-content"
                          ng-show="createOrgForm.orgDescription.$error.required && !createOrgForm.orgDescription.$pristine">
                         {{'REQUIRED'| translate}}
                    </span>
                </label>

                <!-- No of Employee -->
                <label class="item item-input item-stacked-label no-border label-padding">
                    <span class="input-label label-text input-label-color">{{'NO_OF_EMPLOYEE' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                    <input class="edit-input-txt" type="text" name="employeeCount" ng-required="true"
                           ng-model="org.emp_cnt"  ng-pattern="/^[0-9]+$/"/>
                    <span class="assertive validation-font wrap-content"
                          ng-show="createOrgForm.employeeCount.$error.required && !createOrgForm.employeeCount.$pristine">
                        {{'REQUIRED'| translate}}</span>
                    <span class="assertive validation-font wrap-content"
                          ng-show="createOrgForm.employeeCount.$error.pattern && !createOrgForm.employeeCount.$pristine">
                        {{'INVALID'| translate}}</span>
                </label>

                <!-- organization type -->
                <label class="item item-input item-stacked-label no-border label-padding" style="padding-right:16px;">
                   <span class="input-label label-text input-label-color">{{'ORG_TYPE' | translate }}
                       <span class="assertive " style="font-size: inherit">* </span>
                   </span>
                    <select class="edit-input-select" name="orgType" ng-required="true"
                            ng-model="org.organization_type">
                        <option selected value="" disabled>{{'SELECT_ORG_TYPE' | translate}}</option>
                        <option value="Cooperative">Cooperative</option>
                        <option value="Firm">Firm</option>
                        <option value="LLC">LLC</option>
                    </select>
                    <span class="assertive validation-font wrap-content"
                          ng-show="createOrgForm.orgType.$error.required && !createOrgForm.orgType.$pristine">
                        {{'REQUIRED'| translate}}
                    </span>
                </label>

                <!-- ownership -->
                <label class="item item-input item-stacked-label no-border label-padding" style="padding-right:16px;">
                    <span class="input-label label-text input-label-color">{{'OWNERSHIP' | translate }}
                        <span class="assertive " style="font-size: inherit"></span>
                    </span>

                    <select class="edit-input-select" name="ownership" ng-required="true"
                            ng-model="org.ownership">
                        <option selected value="" disabled>{{'SELECT_OWNERSHIP' | translate}}</option>
                        <option value="Sole Ownership">Sole Ownership</option>
                        <option value="Proprietary">Proprietary</option>
                    </select>
                    <span class="assertive validation-font wrap-content"
                          ng-show="createOrgForm.ownership.$error.required && !createOrgForm.ownership.$pristine">
                        {{'REQUIRED'| translate}}
                    </span>
                </label>

                <!-- ceo/owner -->
                <label class="item item-input item-stacked-label no-border label-padding">
                    <span class="input-label label-text input-label-color">{{'CEO' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                    <input class="edit-input-txt" type="text" name="ceo" ng-required="true" ng-model="org.owner_name"
                           ng-pattern="/^[a-zA-Z\s]*$/" />
                    <span class="assertive validation-font wrap-content"
                          ng-show="createOrgForm.ceo.$error.required && !createOrgForm.ceo.$pristine">
                        {{'REQUIRED'| translate}}
                    </span>
                    <span class="assertive validation-font wrap-content"
                          ng-show="createOrgForm.ceo.$error.pattern && !createOrgForm.ceo.$pristine">
                        {{'INVALID'| translate}}&nbsp;{{"CEO" |translate}}
                    </span>
                </label>

                <!-- website -->
                <label class="item item-input item-stacked-label no-border label-padding">
                    <span class="input-label label-text input-label-color">{{'WEBSITE' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                    <input class="edit-input-txt" type="text" name="website" ng-required="true" ng-model="org.website"
                           style="font-size:18px;"
                           ng-pattern="/^(?:(?:https?|ftp):\/\/)?(?:\S+(?::\S*)?@)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,}))\.?)(?::\d{2,5})?(?:[/?#]\S*)?$/i"/>
                    <span class="assertive validation-font wrap-content"
                          ng-show="createOrgForm.website.$error.required && !createOrgForm.website.$pristine">{{'REQUIRED'| translate}}</span>
                    <span class="assertive validation-font wrap-content"
                          ng-show="createOrgForm.website.$error.pattern && !createOrgForm.website.$pristine">{{'INVALID'| translate}}</span>
                </label>

                <!-- fb page -->
                <label class="item item-input item-stacked-label no-border label-padding">
                    <span class="input-label label-text input-label-color">{{'FB_PAGE' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                    <input class="edit-input-txt" type="text" name="fbPage" ng-required="true" ng-model="org.fbPage"
                           style="font-size:18px;"
                           ng-pattern="/^(?:(?:https?|ftp):\/\/)?(?:\S+(?::\S*)?@)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,}))\.?)(?::\d{2,5})?(?:[/?#]\S*)?$/i"/>
                    <span class="assertive validation-font wrap-content"
                          ng-show="createOrgForm.fbPage.$error.required && !createOrgForm.fbPage.$pristine">{{'REQUIRED'| translate}}</span>
                    <span class="assertive validation-font wrap-content"
                          ng-show="createOrgForm.fbPage.$error.pattern && !createOrgForm.fbPage.$pristine">{{'INVALID'| translate}}</span>
                </label>

                <!-- unique identifier -->
                <label class="item item-input item-stacked-label no-border label-padding">
                    <span class="input-label label-text input-label-color">{{'UNIQUE_ID' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                    <input class="edit-input-txt" type="text" name="uniqueId" ng-required="true"
                           ng-model="org.identifier" style="font-size:18px;"/>
                    <span class="assertive validation-font wrap-content"
                          ng-show="createOrgForm.uniqueId.$error.required && !createOrgForm.uniqueId.$pristine">
                        {{'REQUIRED'| translate}}</span>
                </label>

                <!-- identifier type ID-->
                <label class="item item-input item-stacked-label no-border label-padding">
                    <span class="input-label label-text input-label-color">{{'ID_TYPE' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                    <input class="edit-input-txt" type="text" name="idType" ng-required="true"
                           ng-model="org.identifier_type" style="font-size:18px;"/>
                    <span class="assertive validation-font wrap-content"
                          ng-show="createOrgForm.idType.$error.required && !createOrgForm.idType.$pristine">
                        {{'REQUIRED'| translate}}
                    </span>
                </label>

                <!-- address - dropdown -->
                <label class="item item-input item-stacked-label no-border label-padding">
                    <span class="input-label label-text input-label-color">{{'ADDRESS' | translate }}
                        <span class="assertive " style="font-size: inherit">* </span>
                    </span>
                    <select name="locationWhere" class="edit-input-select" ng-model="loc.name"
                            ng-required="true" ng-change="updateLocationFields(loc.name)">
                        <option value="" disabled selected>{{'SELECT_ONE' | translate}}</option>
                        <option value="current">{{'MY_CURRENT_LOCATION'|translate}}</option>
                        <option value="manual">{{'ENTER_ADDRESS'|translate}}</option>
                    </select>
                    <span class="assertive validation-font wrap-content"
                          ng-show="createOrgForm.locationWhere.$error.required && !createOrgForm.locationWhere.$pristine">{{'REQUIRED'| translate}}</span>
                </label>

                <div ng-show="enableAddressFields">
                    <!-- street address text  -->
                    <label class="item item-input item-stacked-label no-border label-padding">
                          <span class="input-label label-text input-label-color">{{'STREET_ADDRESS' | translate }}
                              <span class="assertive " style="font-size: inherit">* </span>
                          </span>
                        <input class="edit-input-txt" type="text" name="streetAdd" ng-required="true"
                               ng-model="loc.streetAdd" style="font-size:18px;"/>
                        <span class="assertive validation-font wrap-content"
                              ng-show="createOrgForm.streetAdd.$error.required && !createOrgForm.streetAdd.$pristine">
                            {{'REQUIRED'| translate}}
                        </span>
                    </label>

                    <!-- city -->
                    <label class="item item-input item-stacked-label no-border label-padding">
                        <span class="input-label label-text input-label-color">{{'CITY' | translate }}
                          <span class="assertive " style="font-size: inherit">* </span>
                        </span>
                        <input class="edit-input-txt" type="text" name="city" ng-required="true" ng-model="loc.city"
                               style="font-size:18px;"/>
                        <span class="assertive validation-font wrap-content"
                              ng-show="createOrgForm.city.$error.required && !createOrgForm.city.$pristine">
                            {{'REQUIRED'| translate}}</span>
                        <span class="assertive validation-font wrap-content"
                              ng-show="createOrgForm.city.$error.pattern && !createOrgForm.city.$pristine">
                            {{'INVALID'| translate}}&nbsp;{{'CITY'| translate}}</span>
                    </label>

                    <!-- country -->
                    <label class="item item-input item-stacked-label no-border label-padding">
                        <span class="input-label label-text input-label-color">{{'COUNTRY' | translate }}
                           <span class="assertive " style="font-size: inherit">* </span>
                        </span>
                        <input ion-autocomplete type="text"
                               template-url="components/menu/views/autoCompleteDrop.html"
                               readonly="readonly"
                               name="country"
                               component-id="component1"
                               autocomplete="off"
                               select-items-label="{{'SELECT_COUNTRY' | translate}}"
                               item-method-value-key="countryCodeList"
                               items-method="getUpdatedCountryList(query)"
                               item-view-value-key="CountryName"
                               ng-model="loc.country"
                               max-selected-items="1"
                               cancel-label="{{'CANCEL' | translate }}"
                               style="padding-left: 11px;display: block;height: 40px !important;outline: none;color:#3A5997;border: none;border-radius: 4px;background:white;font-size: 18px !important;"
                               placeholder="{{'SEARCH_COUNTRY' | translate }}"
                               items-clicked-method="changeSubdivision(loc.country.CountryCode)"/>
                        <span class="assertive validation-font wrap-content"
                              ng-show="createOrgForm.country.$invalid && !createOrgForm.country.$pristine">{{'REQUIRED'| translate}}</span>
                    </label>


                    <!-- state -->
                    <label class="item item-input item-stacked-label no-border label-padding">
                        <span class="input-label label-text input-label-color">{{'STATE' | translate }}
                          <span class="assertive " style="font-size: inherit">{{subDivList.length!=0?"*":""}} </span>
                        </span>
                        <input ion-autocomplete type="text"
                               template-url="components/menu/views/autoCompleteDrop.html"
                               readonly="readonly"
                               name="state"
                               autocomplete="off"
                               component-id="component2"
                               select-items-label="{{'SELECT_STATE' | translate}}"
                               item-method-value-key="subDivList"
                               items-method="getUpdatedStateList(query)"
                               item-view-value-key="SubdivisionName"
                               ng-model="loc.state"
                               max-selected-items="1"
                               cancel-label="{{'CANCEL' | translate }}"
                               style="padding-left: 11px;display: block;height: 40px !important;outline: none;color:#3A5997;border: none;border-radius: 4px;background: white;font-size: 18px !important;"
                               placeholder="{{'SEARCH_STATE' | translate }}"/>
                        <span class="assertive validation-font wrap-content"
                              ng-show="createOrgForm.state.$invalid && !createOrgForm.state.$pristine">{{'REQUIRED'| translate}}</span>
                    </label>
                </div>
            </div>
        </ion-content>
        <ion-footer-bar class="text-center bar-stable blue-bg no-border">
            <div class="button-bar">
                <button type="button" class="button  button-light button-clear bold"
                        ng-click="hideCreateOrg(orgData!=null)">
                    {{'CANCEL' | translate }}
                </button>
                &nbsp;
                <button type="submit" ng-show="orgData==null" ng-disabled="createOrgForm.$invalid"
                        class="button  button-light button-clear bold" ng-click="createOrg()">
                    {{'CREATE' | translate }}
                </button>
                <button type="submit" ng-show="orgData!=null" ng-disabled="createOrgForm.$invalid"
                        class="button  button-light button-clear bold" ng-click="updateOrg()">
                    {{'SAVE' | translate }}
                </button>
            </div>
        </ion-footer-bar>
    </form>
</ion-view>
