<ion-modal-view >
    <ion-header-bar class="bar bar-header blue-bg" style="border-color:gray;">
        <button ng-click="hideEditAccount()" style="color:white" class="button back-button buttons  button-clear header-item">
            <i class="icon ion-android-arrow-back"></i>
            <span class="back-text"></span>
        </button>
        <h1 class="title" style="max-width:none;max-width: none;text-align: left !important;left: 23px !important;right:0px !important;
}" >{{'EDIT_ACCOUNT_SMALL' | translate }}</h1>
    </ion-header-bar>
    <form name="editAccountForm">
    <ion-content   class="has-header has-footer blueno-bg-full" >

        <div class="row">
            <div class="col center " >
                <img ng-src="{{updateImageSrc?updateImageSrc:profileUrl}}" style=" height: 80px;width: 80px;border-radius: 38px;border: 5px solid white">
                <div >
                    <button class="button button-small button-clear" style="font-size: large;color: rgba(255,255,255,.7);text-decoration: underline;" ng-click="changeImage()">
                        {{'CHANGE_PHOTO' | translate }}
                    </button>
                </div>

            </div>
        </div>
           <div class="list" style="width:100%;overflow: scroll;padding:0px" >

            <label class="item item-input item-stacked-label no-border label-padding" >
                <span class="input-label label-text "  style="color:white">{{'FIRST_NAME' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                <input class="edit-input-txt" type="text" name="firstName" ng-required="true" ng-model="person.givenname1"  style="font-size:18px;"   />
            </label>

            <!--<label class="item item-input item-stacked-label no-border label-padding" >-->
                <!--<span class="input-label label-text "  style="color:white">{{'GIVEN_NAME_OTHER' | translate }}-->
                    <!--&lt;!&ndash;<span class="assertive " style="font-size: inherit">* </span>&ndash;&gt;-->
                <!--</span>-->
                <!--<input class="edit-input-txt" name="firstName"   style="font-size:18px;" type="text"  ng-model="person.givenname2"/>-->
            <!--</label>-->

            <label class="item item-input item-stacked-label no-border label-padding" >
                <span class="input-label label-text "  style="color:white">{{'LAST_NAME' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                <input class="edit-input-txt" name="lastName" ng-required="true"  style="font-size:18px;" type="text"  ng-model="person.familyname1"/>
            </label>
            <!--<label class="item item-input item-stacked-label no-border label-padding" >-->
                <!--<span class="input-label label-text "  style="color:white">{{'FAMILY_NAME_OTHER' | translate }}-->
                    <!--&lt;!&ndash;<span class="assertive " style="font-size: inherit">* </span>&ndash;&gt;-->
                <!--</span>-->
                <!--<input class="edit-input-txt" name="lastName" style="font-size:18px;" type="text"  ng-model="person.familyname2"/>-->
            <!--</label>-->

            <label class="item item-input item-stacked-label no-border label-padding" >
                <span class="input-label label-text "  style="color:white">{{'GENDER' | translate }}
                 <span class="assertive " style="font-size: inherit">* </span>
                </span>
            <select style="width: 100%"  ng-required="true" ng-model="person.gender">
                <!--<option value="Farm or pasture land">Farm or pasture land</option>-->
                <option disabled >{{'SELECT_GENDER'| translate}}</option>
                <option value="Male">{{'MALE' | translate }}</option>
                <option value="Female">{{'FEMALE' | translate }}</option>
            </select>
            </label>

            <label class="item item-input item-stacked-label no-border label-padding" >
                <span class="input-label label-text "  style="color:white">{{'OCCUPATION' | translate }}
                    <span class="assertive " style="font-size: inherit">* </span>
                </span>
                <input class="edit-input-txt" type="text" name="occupation"   style="font-size:18px;" ng-required="true"   ng-model="person.occupation"/>
            </label>
            <!--<label class="item item-input item-stacked-label no-border label-padding" >-->
                <!--<span class="input-label label-text "  style="color:white">{{'STREET_ADDRESS_ONE' | translate }}-->
                    <!--&lt;!&ndash;<span class="assertive " style="font-size: inherit">* </span>&ndash;&gt;-->
                <!--</span>-->
                <!--<input class="edit-input-txt" type="text" name="occupation"   style="font-size:18px;"   ng-model="person.streetaddressone"/>-->
            <!--</label>-->
            <!--<label class="item item-input item-stacked-label no-border label-padding" >-->
                <!--<span class="input-label label-text "  style="color:white">{{'TOWN_VILLAGE_CITY_DEPT' | translate }}-->
                    <!--&lt;!&ndash;<span class="assertive " style="font-size: inherit">* </span>&ndash;&gt;-->
                <!--</span>-->
                <!--<input class="edit-input-txt" type="text" name="occupation"   style="font-size:18px;"   ng-model="person.settlement"/>-->
            <!--</label>-->
            <!--<label class="item item-input item-stacked-label no-border label-padding" >-->
                <!--<span class="input-label label-text "  style="color:white">{{'LATITUDE' | translate }}-->
                    <!--<span class="assertive " style="font-size: inherit">* </span>-->
                <!--</span>-->
                <!--<input class="edit-input-txt" type="text" name="occupation" ng-required="true"  style="font-size:18px;"   ng-model="person.latitude"/>-->
            <!--</label>-->
            <!--<label class="item item-input item-stacked-label no-border label-padding" >-->
                <!--<span class="input-label label-text "  style="color:white">{{'LONGITUDE' | translate }}-->
                    <!--<span class="assertive " style="font-size: inherit">* </span>-->
                <!--</span>-->
                <!--<input class="edit-input-txt" type="text" name="occupation" ng-required="true"  style="font-size:18px;"   ng-model="person.longitude"/>-->
            <!--</label>-->

           </div>

    </ion-content>
    <ion-footer-bar class="text-center bar-stable blue-bg"  >
        <div  class="button-bar">
            <button  type="button"  class="button  button-light button-clear bold" ng-click="hideEditAccount()">
                 {{'CANCEL' | translate }}
            </button>
            &nbsp;
            <button type="submit" ng-disabled="editAccountForm.$invalid" class="button  button-light button-clear bold" ng-click="updateProfile()">
                 {{'SAVE' | translate }}
            </button>
        </div>
    </ion-footer-bar>
    </form>
</ion-modal-view >

