<ion-modal-view  >
    <ion-header-bar class="bar bar-header blue-bg" style="border-color:gray;">
        <button ng-click="hideInviteModal()" style="color:white" class="button back-button buttons  button-clear header-item">
            <i class="icon ion-android-arrow-back"></i>
            <span class="back-text"></span>
        </button>
        <h1 class="title" style="max-width:none;max-width: none;text-align: left !important;left: 23px !important;right:0 !important;
}" >{{'GROUP_INVITE' | translate }}</h1>
    </ion-header-bar>
    <ion-content   class="blueno-bg-full has-header has-footer"   >
        <form name="inviteInGroupForm">
            <div class="list" ng-style="{'height':(deviceHeight-96)+'px'}" style="overflow: scroll;width: 100%;padding: 0;">

                <label class="item item-input item-stacked-label no-border lebel-padding"  >
                        <span class="input-label label-text "  style="color:white">{{'FIRST_NAME' | translate }}
                            <!--<span class="assertive " style="font-size: inherit">* </span>-->
                        </span>
                    <input type="text" ng-required="true" class="edit-input-txt" ng-model="invite.user_firstname"/>
                </label>

                <label class="item item-input item-stacked-label no-border lebel-padding" >
                        <span class="input-label label-text "  style="color:white">{{'LAST_NAME' | translate }}
                            <!--<span class="assertive " style="font-size: inherit">* </span>-->
                        </span>
                    <input type="text" ng-required="true" ng-model="invite.user_lastname" class="edit-input-txt"  />
                </label>
                <label class="item item-input item-stacked-label no-border lebel-padding" >
                        <span class="input-label label-text "  style="color:white">{{'MOBILE' | translate }}
                            <!--<span class="assertive " style="font-size: inherit">* </span>-->
                        </span>
                    <input type="number" ng-required="true" ng-model="invite.user_phone" class="edit-input-txt"  />
                </label>
            </div>
        </form>
    </ion-content>
    <ion-footer-bar class="text-center bar-stable blue-bg" >
        <div  class="button-bar">
            <button type="submit" ng-disabled="inviteInGroupForm.$invalid" class="button button-clear button-balanced" style="font-size: 20px;" ng-click="sendInviteInGroup()">
                {{'Invite' | translate }}
            </button>
        </div>
    </ion-footer-bar>
</ion-modal-view >

