<ion-view  view-title="Invited Family Members" >
    <!--<ion-content scroll="true" style="background-color:#4E5C6E " >-->
    <ion-content scroll="true" class="blueno-bg">
        <div class="item card no-padding" ng-repeat="invitedMember in invitedMemebers" ng-if="invitedFind">
            <div class="row ">
                <div class="col col-33">
                    <div >
                        <span class='label-text' style="color:gray">{{'FULL_NAME' | translate}}</span>
                    </div>
                </div>
                <div class="col ">
                    <div class="" style="white-space: normal;font-weight: bold;">
                        {{invitedMember.data.name}}
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col col-33">
                    <div >
                        <span class='label-text' style="color:gray">{{'Mobile' | translate}}</span>
                    </div>
                </div>
                <div class="col ">
                    <div class="" style="white-space: normal;font-weight: bold;">
                        {{invitedMember.data.mobile}}
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col col-33">
                    <div >
                        <span class='label-text' style="color:gray">{{'RELATIONSHIP' | translate}}</span>
                    </div>

                </div>
                <div class="col ">
                    <div class="" style="white-space: normal;font-weight: bold;">
                        {{invitedMember.data.relationship}}
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col col-33">
                    <div >
                        <span class='label-text' style="color:gray">{{'STATUS_SMALL' | translate}}</span>
                    </div>

                </div>
                <div class="col ">
                    <div class="" style="white-space: normal;font-weight: bold;">
                        {{invitedMember.status}}
                    </div>
                </div>
            </div>
        </div>

        <div class= "row no-data-alert";" ng-if="!invitedFind">
            <div class="col col-center text-center">
                <div class="no-data-icon">
                <i class="icon ion-ios-body"></i>
                </div>
                <div class="no-data-text">
                {{'NO_INVITED_MEMBERS' | translate }}
                </div>
            </div> 
        </div>
    </ion-content>
    <ion-footer-bar class="text-center bar-stable blue-bg" >
        <div  class="button-bar">
            <button type="button" class="button button-clear button-light bold" ng-click="showInviteFamilyModal();">
                <i class="ion-plus-round"></i>&nbsp;{{'INVITE_MORE' | translate }}
            </button>
        </div>
    </ion-footer-bar>
</ion-view>

