<ion-view view-title="{{'ORGANIZATION' | translate}}">
    <ion-content scroll="false" class="blueno-bg-full">

      <!-- create org button -->
      <div class="button-bar" ng-if="!npFound() && user.organization_name.length == 0">
          <button ng-disabled="" class="button button-clear button-light bold"
                  type="submit" ng-click="createNewOrganization()" >
              <i class=" ion-plus-round" style="font-size: 20px;"></i> &nbsp;{{'CREATE_ORG' | translate }}
          </button>
      </div>

      <!-- org view -->
      <!-- style -->
      <style>
      .my-card .item.item-image{
          width: 100vw;
          margin-left: -10px;
          margin-top: -20px;
        }

        .my-card.card{
          overflow: visible;
        }
        .img-circle {
          border-radius: 50%;
          border: 1px solid white;
          /*padding: 1px;*/
        }
        .imc-left {
          margin-left: -16px;
        }
        .imc-right {
          margin-right: -16px;
        }
      </style>
      <div class="list card" ng-if="npFound() && user.organization_name.length != 0" style="margin:5px;">
          <div class="item item-image" id="image-container">
            <img src="http://lorempixel.com/400/120/sports/2">
          </div>


        <h1 style="text-align:center;color:black;margin-top: 5px;">{{org.name}}</h1>
        <p style="text-align:center;color:rgb(102,102,102);margin-top: -15px;">CEO: {{org.ceo}}</p>
        <div class="item" style="margin-top: -5px; text-align:center; padding-top: 6px;padding-bottom:initial;margin-bottom: 5px;border: 0px;">
          <img id="" class="img-circle imc-left" style="margin-left:10px;" src="http://lorempixel.com/30/30/people/7">
          <img id="" class="img-circle imc-left" src="http://lorempixel.com/30/30/people/9">
          <img id="" class="img-circle imc-left imc-right" src="http://lorempixel.com/30/30/people/6">
          <img id="" class="img-circle imc-right" src="http://lorempixel.com/30/30/people/3">
          <img id="" class="img-circle" src="http://lorempixel.com/30/30/people/1">
          <br>
          <p style="text-align:center; margin-top:-5px;">25 members</p>
        </div>


         <!-- <img id="myImg" style="border-radius: 4px;padding:2px;" src="http://lorempixel.com/50/50/people/9">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p> -->
      </div>
    </ion-content>
</ion-view>
<!-- rgba(97, 137, 197, 0.701961) -->
