<ion-view view-title="{{'ACCOUNT' | translate}}" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" style="color:white" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content class="blueno-bg-full  has-header" scroll="true">
        <div class="row no-padding">
            <div class="col center">
                <img ng-src="{{profileUrl}}" style=" height: 140px;width: 140px;border-radius: 50%;border: 4px solid #3A5997;">
                <p style="color:#3A5997;font-size: large;margin:5px 0 -15px 0">
                    {{::person.givenname1}}&nbsp{{::person.familyname1}}</p>
                <br>
                <p style="color:#3A5997;font-size: large;margin:5px 0 -15px 0">
                    {{'BLUENUMBER_COLON'|translate}}&nbsp;{{::user.bluenumber}}
                </p>
                <p style="color:#3A5997;font-size: large;margin:5px 0 -15px 0; padding-top:20px" ng-if="home!=null">
                    {{home.StreetAddressOne}},&nbsp;{{home.Settlement}}
                </p>
            </div>
        </div>
        <div class="list">
            <div class="card" >
                <!--<div class="item custom-item no-padding no-margin" style="border:none;height: 1px;padding-right: 8px !important;padding-left:8px !important;">-->
                    <!--<div class="" style="border:none;background-color: rgba(211,211,211,.8);height: inherit;">-->
                    <!--</div>-->
                <!--</div>-->
                <div class="item custom-item" style="border:none;padding:0;color:rgba(0,0,0,.6)">
                    <div class="row">
                        <div class="col col-20 col-center">
                            <a class="icon-circle">
                                <i class="icon ion-android-person" style="font-size: 35px;color:white;vertical-align: text-bottom;"></i>
                            </a>
                        </div>
                        <div class="col col-30 col-center blue-txt">
                            {{'PROFILE' | translate }}
                        </div>
                        <div class="col col-50 col-center" style="text-align: -webkit-right;">
                            <button class="button button-small button-clear" ng-click="goToEditAccount()">
                                <i class="ion-edit white-p" style="color:#3A5997; font-size:20px;"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="item custom-item no-padding no-margin" style="border:none;height: 1px;padding-right: 8px !important;padding-left:8px !important;">
                    <div class="" style="border:none;background-color: rgba(211,211,211,.8);height: inherit;">
                    </div>
                </div>
                <div class="item custom-item" style="border:none;padding:0">
                    <div class="row">
                        <div class="col col-20 col-center">
                            <a class="icon-circle">
                                <i class="icon ion-ios-body" style="font-size: 35px;color:white;vertical-align: text-bottom;"></i>
                            </a>
                        </div>
                        <div class="col col-30 col-center blue-txt">
                            {{'FAMILY' | translate }}
                        </div>
                        <div class="col col-50 col-center" style="text-align: -webkit-right;">
                            <button class="button button-small button-clear" ng-click="goToManageFamily()">
                                <i class="ion-person-add" style="font-size: 20px; color:#3A5997"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="item custom-item no-padding no-margin" style="border:none;height: 1px;padding-right: 8px !important;padding-left:8px !important;">
                    <div class="" style="border:none;background-color: rgba(211,211,211,.8);height: inherit;">
                    </div>
                </div>
                <div class="item custom-item" style="border:none;padding:0">
                    <div class="row">
                        <div class="col col-20 col-center">
                            <a class="icon-circle">
                                <i class="icon ion-ios-home" style="font-size: 35px;vertical-align: text-bottom;"></i>
                            </a>
                        </div>
                        <div class="col col-30 col-center blue-txt">
                            {{'HOME' | translate }}
                        </div>
                        <div class="col col-50 col-center" style="text-align: -webkit-right;">
                            <button class="button button-small button-clear" ng-click="editUserHome(home)">
                                <i class="ion-edit" style="font-size: 20px; color:#3A5997"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="item custom-item no-padding no-margin" style="border:none;height: 1px;padding-right: 8px !important;padding-left:8px !important;">
                    <div class="" style="border:none;background-color: rgba(211,211,211,.8);height: inherit;">
                    </div>
                </div>
                <div class="item custom-item" style="border:none;padding:0">
                    <div class="row">
                        <div class="col col-20 col-center">
                            <a class="icon-circle">
                                <i class="icon ion-briefcase" style="font-size: 35px;vertical-align: text-bottom;"></i>
                            </a>
                        </div>
                        <div class="col col-30 col-center blue-txt">
                            {{'WORK' | translate }}
                        </div>
                        <div class="col col-50 col-center" style="text-align: -webkit-right;">
                            <button class="button button-small button-clear" ng-click="goToWorkPlaces()">
                                <i class="ion-plus" style="font-size: 20px; color:#3A5997"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="item custom-item no-padding no-margin" style="border:none;height: 1px;padding-right: 8px !important;padding-left:8px !important;">
                    <div class="" style="border:none;background-color: rgba(211,211,211,.8);height: inherit;">
                    </div>
                </div>
                <div class="item custom-item " style="border:none;padding:0">
                    <div class="row">
                        <div class="col col-20 col-center">
                            <a class="icon-circle">
                                <i class="icon ion-settings" style="font-size: 35px;color: white;vertical-align: text-bottom;"></i>
                            </a>
                        </div>
                        <div class="col col-30 col-center blue-txt">
                            {{'THINGS' | translate }}
                            <!-- <p class="white-p">{{'ADD_THING' | translate }}</p> -->
                        </div>
                        <div class="col col-50 col-center" style="text-align: -webkit-right;">
                            <button class="button button-small button-clear" ng-click="goToThings()">
                                <!-- <p class="white-p">{{'ADD_THING' | translate }}</p> -->
                                <i class="ion-plus" style="font-size: 20px; color:#3A5997"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>
