<ion-view  view-title="Work Places" >
    <ion-content scroll="true" style="background-color:#4E5C6E " >
        <div class="list">
            <div class="item no-padding bg-transparent ">
                <div class="row" style="color:white;font-weight: bold;">
                    <div class="col col-25" >
                        <span style="font-weight: bold;">NAME</span>
                    </div>
                    <div class="col col-33" >
                        TYPE
                    </div>
                    <div class="col">
                        ADDRESS/GPS
                    </div>
                </div>
            </div>
            <div class="item no-padding bg-transparent">
                <div class="row" style="color:white;">
                    <div class="col col-25 col-center" >
                        <span style="font-weight: bold;">Farm1</span>
                    </div>
                    <div class="col col-33 col-center" >
                        Rice
                    </div>
                    <div class="col col-center">
                        Address 1
                    </div>
                    <div class="col col-10 col-center">
                        <button class="button button-small button-clear " style="color:white">
                            <i class="ion-ios-arrow-right" style="font-size: 20px;font-weight: bold"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="text-center bar-stable blue-bg" >
        <div  class="button-bar">
            <button type="button" class="button button-clear button-light bold" ng-click="">
                <i class="ion-plus-round"></i> Add more
            </button>
        </div>
    </ion-footer-bar>
</ion-view>

