<ion-modal-view>
    <ion-header-bar class="bar bar-header blue-bg no-border">
        <!--<button ng-click="hideWorkDetailModal()" style="color:white"-->
                <!--class="button back-button buttons  button-clear header-item">-->
            <!--<i class="icon ion-android-arrow-back"></i>-->
            <!--<span class="back-text"></span>-->
        <!--</button>-->
        <h1 class="title"
            style="max-width:none;text-align: center !important;}">
            {{'WORK_PLACE_DETAIL'| translate}}</h1>
    </ion-header-bar>
    <ion-content  class="has-header has-footer blueno-bg-full">
        <div class=" card no-padding">
            <div class="item item-divider" style="border-bottom: 3px solid #387ef5;">
                <div class="row no-padding">
                    <div class="col  col-center no-padding" style="color:cornflowerblue">
                        {{'DETAIL' | translate }}
                    </div>
                </div>
            </div>
            <div class="item no-padding">
                <div class="row ">
                    <div class="col">
                        <div>
                            <span class='label-text' style="color:gray">&nbsp;&nbsp;{{'WORK_NAME' | translate }}</span>
                        </div>
                        <div class="" style="margin-top:5px;margin-left:9px;white-space: normal;font-weight: bold;">
                            {{selectedWork.work_place_name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="item no-padding">
                <div class="row ">
                    <div class="col">
                        <div>
                            <span class='label-text' style="color:gray">&nbsp;&nbsp;{{'PRODUCT' | translate }}</span>
                        </div>
                        <div class="" style="margin-top:5px;margin-left:9px;white-space: normal;font-weight: bold">
                            {{selectedWork.products[0].h3description}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="item no-padding">
                <div class="row">
                    <div class="col">
                        <span class="label-text" style="color:gray">&nbsp;&nbsp;{{'ADDRESS' | translate }}</span>

                        <div class="" style="margin-top:5px;margin-left:9px;white-space: normal;font-weight: bold">
                            {{selectedWork.address}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
    <!--<ion-footer-bar class="text-center bar-stable blue-bg" style="border:none;padding:0px !important;" >-->
        <!--<div  class="button-bar">-->
            <!--<button  class="button no-border lgt-blue-btn button-small"  ng-click="hideWorkDetailModal()" style="font-size: 20px;">-->
                <!--{{'CANCEL' | translate }} &nbsp;-->
            <!--</button>-->
            <!--<button   class="button no-border lgt-blue-btn button-small" type="submit"  ng-click="saveWork()" style="font-size: 20px;">-->
                <!--{{'SAVE' | translate }}-->
            <!--</button>-->
        <!--</div>-->
    <!--</ion-footer-bar>-->
    <ion-footer-bar class="text-center bar-stable blue-bg no-border"  >
        <div  class="button-bar">
            <button  type="button"  class="button  button-light button-clear bold" ng-click="hideWorkDetailModal()">
                {{'BACK' | translate }}
            </button>
            <!--&nbsp;-->
            <!--<button type="submit"  class="button  button-light button-clear bold" ng-click="saveWork()">-->
                <!--{{'SAVE' | translate }}-->
            <!--</button>-->
        </div>
    </ion-footer-bar>
</ion-modal-view>

