<ion-view  view-title="Work Places" >
    <!--<ion-content scroll="true" style="background-color:#4E5C6E " >-->
    <ion-content scroll="true" class="blueno-bg">
        <div class="item card no-padding" ng-repeat="location in ::userLocations">
            <div class="row ">
                <div class="col col-33">
                    <div >
                        <span class='label-text' style="color:gray">{{'WORK_NAME' | translate}}</span>
                    </div>

                </div>
                <div class="col ">
                    <div class="" style="white-space: normal;font-weight: bold;">
                        {{invitedMember.data.name}}
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col col-33">
                    <div >
                        <span class='label-text' style="color:gray">{{'WORK_TYPE' | translate}}</span>
                    </div>
                </div>
                <div class="col ">
                    <div class="" style="white-space: normal;font-weight: bold;">
                        {{invitedMember.data.mobile}}
                    </div>
                </div>
            </div>

        </div>

    </ion-content>
    <ion-footer-bar class="text-center bar-stable blue-bg" >
        <div  class="button-bar">
            <button type="button" class="button button-clear button-light bold" ng-click="">
                <i class="ion-plus-round"></i>&nbsp;{{'ADD_MORE' | translate }}
            </button>
        </div>
    </ion-footer-bar>
</ion-view>

